{% extends 'master.html.twig' %}

{% block title %}Team: {{ team.naam }} - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}
<p class="nav-internal--breadcrumb">
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class=" nav-internal--breadcrumb__home">
        <span>Start</span>
    </a>
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appteam_index') }}" class=" nav-internal--breadcrumb__dossier">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Teams</span>
    </a>
    <a href="#" class="nav-internal--breadcrumb__section in-active">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Team: {{ team.naam }}</span>
    </a>
</p>

<div class="document well">
    <div class="document-header">
        <h1 class="document-title">Team: {{ team.naam }}</h1>
    </div>
    <div class="form-container">
        {{ form_start(form, {'attr': {'class': 'default-form-style'} }) }}
        {{ form_row(form.naam) }}
        {% if app.user.type == 'admin' %}
            {{ form_help(form.naam) }}
        {% endif %}
        {{ form_row(form.email) }}
        {% if app.user.type == 'admin' %}
            {{ form_help(form.email) }}
        {% endif %}
        <p class="buttons right">
            <button type="submit" class="button primary">Opslaan</button>
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appteam_index') }}">Annuleren</a>
        </p>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}