{% extends 'master.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block navigation_menu %}
    {% if app.user %}
        <li>
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appsecurity_logout') }}">Afmelden
                <strong>({{ app.user.userName }})</strong></a>
        </li>
    {% endif %}

{% endblock %}

{% block document %}
    <div class="document well">
        <div class="document-header group">
            <h1 class="document-title">Beperkt toegang</h1>
        </div>
        <p>Je hebt bijna toegang tot Schulddossier.</p>
        <p>Het is gelukt om in te loggen, alleen heb je nog geen rol in het schulddossier.<br>
        Vraag aan de applicatiebeheerder of aan een key-user om je toe te voegen als gebruiker aan het SchuldDossier.</p>
        <p>Hij/zij heeft hier je e-mailadres voor nodig, dus houd deze bij de hand: {{ app.user.username }}</p>
        <p>Zodra de applicatiebeheerder of key-user aangeeft dat je als gebruiker bent toegevoegd aan het SchuldDossier kun je via onderstaande knop opnieuw inloggen</p>
        <p><a class="button primary" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appsecurity_logout') }}">Opnieuw inloggen</a></p>
        <p>Ondertussen kun je alvast je <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appmijngegevens_index') }}">gegevens aanpassen</a>.</p>
        <!--<blockquote style="font-style: italic">
            {{ message }}
        </blockquote>-->
    </div>
{% endblock %}
