{% extends 'master.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block navigation_menu %}
    {% if app.user %}
        <li>
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appsecurity_logout') }}">Afmelden
                <strong>({{ app.user.userName }})</strong></a>
        </li>
    {% endif %}

{% endblock %}

{% block document %}
    <div class="document well">
        <div class="document-header group">
            <h1 class="document-title">Beperkt toegang</h1>
        </div>
        <p>Jouw account heeft geen toegang tot het Schulddossier. Neem contact op met de applicatiebeheerder.</p>
        <p><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appsecurity_logout') }}">Opnieuw inloggen</a></p>
        <blockquote style="font-style: italic">
            {{ message }}
        </blockquote>
    </div>
{% endblock %}
