{% extends 'master.html.twig' %}

{% block title %}Wachtwoord aanpassen - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}

<div class="document well">
    <div class="document-header">
        <h1 class="document-title">Wachtwoord aanpassen</h1>
    </div>
    <div class="form-container">
        {{ form_start(form, {'attr': {'class': 'default-form-style'} }) }}
        {{ form_row(form.clearPassword) }}
        {{ form_row(form.currentPassword) }}
        <p class="buttons right">
            <button type="submit" class="button primary">Aanpassen</button>
        </p>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}