{% extends 'master.html.twig' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block documentContainerClass %}document-container document-container__narrow{% endblock %}
{% block document %}
<div class="document well">
    <div class="document-header">
        <h1 class="document-title">Inloggen voor medewerkers</h1>
        <p>Medewerkers van het GKA en de MaDi kunnen zich hier aanmelden.</p>
    </div>
    <div class="form-container">
        <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appsecurity_login') }}" method="post" class="default-form-style">
            <div class="form-row">
                <div class="label-widget">
                    <label for="username">Gebruikersnaam:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}">
                </div>
            </div>
            <div class="form-row">
                <div class="label-widget">
                    <label for="password">Wachtwoord:</label>
                    <input type="password" id="password" name="_password">
                </div>
                {% if error %}
                <ul class="errors">
                    <li>{{ error.messageKey|trans(error.messageData, 'security') }}</li>
                </ul>
                {% endif %}
            </div>
            {# <input type="hidden" name="_target_path" value="/account"> #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <p class="buttons right">
                <button type="submit" class="button primary">Inloggen</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}