{% block subject -%}
    Dossier goedgekeurd ({{ dossier.getSchuldhulpbureau().getNaam() }})
{%- endblock  %}

{% block html -%}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ block('subject') }}</title>
  </head>
  <body>
  <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="width: 100%; max-width: 600px;">
        <table cellspacing="0" cellpadding="0px">
          <tr bgcolor="#F1F1F1">
            <td style="padding: 20px 30px; background-color: #F1F1F1; font-family: Avenir, Helvetica, Arial, sans-serif; font-size: 20px; font-weight: bold;">
              Dossier goedgekeurd
            </td>
          </tr>
          <tr>
            <td style="background-color: #FFFFFF; padding: 20px 30px; border: 2px solid #F1F1F1;">
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="padding: 10px 0px; font-family: Avenir, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px;">
                    Een door jouw ingezonden dossier is door de controleur goedgekeurd.
                  </td>
                </tr>
                <tr>
                  <td style="padding: 10px 0px;">
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tr align="left">
                        <td style="padding-right: 10px;font-family: Avenir, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px;">Afzender:</td>
                        <td style="font-family: Avenir, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; font-weight: bold;">{{ tokenStorage.getToken().getUser().getNaam() }}</td>
                      </tr>
                      <tr align="left">
                        <td style="padding-right: 10px;font-family: Avenir, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px;">Controle op:</td>
                        <td style="font-family: Avenir, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; font-weight: bold;">{{ 'now'|date('d-m-Y') }}</td>
                      </tr>
                      {% if dossier.regasNummer is not empty %}
                      <tr align="left">
                        <td style="padding-right: 10px;font-family: Avenir, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px;">Regas nummer:</td>
                        <td style="font-family: Avenir, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; font-weight: bold;">{{ dossier.regasNummer }}</td>
                      </tr>
                      {% endif %}
                      {% if dossier.allegroNummer is not empty %}
                      <tr align="left">
                        <td style="padding-right: 10px;font-family: Avenir, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px;">Allegro nummer: </td>
                        <td style="font-family: Avenir, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 20px; font-weight: bold;">{{ dossier.allegroNummer }}</td>
                      </tr>
                      {% endif %}
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top: 30px;">
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="margin-top: 20px;">
                          <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="center" bgcolor="#EC0000">
                                <a href="{{ url('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.getId}) }}" target="_blank" style="font-size: 16px; font-family: Avenir, Helvetica, Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none; text-decoration: none; padding: 7px 8px; border: 1px solid #EC0000; display: inline-block;">Open
                                    dossier</a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  </body>
</html>
{%- endblock %}

{% block txt -%}
Hallo {{ dossier.getMedewerkerSchuldhulpbureau().getNaam() }},

Een door jouw ingezonden dossier is door de controleur goedgekeurd.

Afzender: {{ tokenStorage.getToken().getUser().getNaam() }}
Controle op: {{ 'now'|date('d-m-Y') }}

{% if dossier.regasNummer is not empty %}
Regas nummer: {{ dossier.regasNummer }}

{% endif %}
{% if dossier.allegroNummer is not empty %}
Allegro nummer: {{ dossier.allegroNummer }}

{% endif %}

{{ url('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.getId()}) }}
{%- endblock %}
