{% block subject -%}
    Dossier goedgekeurd ({{ dossier.getSchuldhulpbureau().getNaam() }})
{%- endblock  %}

{% block html -%}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ block('subject') }}</title>
  </head>
  <body>
    <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="width: 100%; max-width: 600px;">
          <table cellspacing="0" cellpadding="0px">
            <tr bgcolor="#F1F1F1">
              <td style="padding: 20px; background-color: #F1F1F1; font-family: Avenir, verdana, Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 600;">
                <p>Dossier goedgekeurd</p>
              </td>
            </tr>
            <tr>
              <td style="background-color: #FFFFFF; padding: 20px; border: 2px solid #F1F1F1; font-family: Avenir, verdana, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 16px;">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td style="padding: 10px 0px; font-family: Avenir, verdana, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 16px;">
                      Een door jouw ingezonden dossier is door de controleur goedgekeurd.
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px 0px;">
                      <table border="0" cellspacing="0" cellpadding="0" style="font-size: 16px;">
                        <tr align="left">
                          <td style="width: 130px; font-weight: normal;font-family: Avenir, verdana, Helvetica, Arial, sans-serif; line-height: 16px;">Afzender:</td>
                          <td style="font-weight: 600; font-family: Avenir, verdana, Helvetica, Arial, sans-serif; line-height: 16px;">{{ tokenStorage.getToken().getUser().getNaam() }}</td>
                        </tr>
                        <tr align="left">
                          <td style="width: 130px; font-weight: normal; font-family: Avenir, verdana, Helvetica, Arial, sans-serif; line-height: 16px;">Controle op:</td>
                          <td style="font-weight: 600; font-family: Avenir, verdana, Helvetica, Arial, sans-serif; line-height: 16px;">{{ 'now'|date('d-m-Y') }}</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px 0px;">
                      <table border="0" cellspacing="0" cellpadding="0" style="font-size: 16px;">
                        {% if dossier.regasNummer is not empty %}
                        <tr align="left">
                          <td style="width: 130px; font-weight: normal; font-family: Avenir, verdana, Helvetica, Arial, sans-serif; line-height: 16px;">Regas nummer:</td>
                          <td style="font-weight: 600; font-family: Avenir, verdana, Helvetica, Arial, sans-serif; line-height: 16px;">{{ dossier.regasNummer }}</td>
                        </tr>
                        {% endif %}
                        {% if dossier.allegroNummer is not empty %}
                        <tr align="left">
                          <td style="width: 130px; font-weight: normal;">Allegro nummer: </td>
                          <td style="font-weight: 600;">{{ dossier.allegroNummer }}</td>
                        </tr>
                        {% endif %}
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px 0px;">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="margin-top: 20px;">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td align="center" bgcolor="#EC0000"><a href="{{ url('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.getId}) }}" target="_blank" style="font-size: 16px; font-family: Avenir, verdana, Helvetica, Arial, sans-serif; font-weight: 600; color: #ffffff; text-decoration: none; text-decoration: none; padding: 7px 8px; border: 1px solid #EC0000; display: inline-block;">Open
                                    dossier</a></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
{%- endblock %}

{% block txt -%}
Hallo {{ dossier.getMedewerkerSchuldhulpbureau().getNaam() }},

Een door jouw ingezonden dossier is door de controleur goedgekeurd.

Afzender: {{ tokenStorage.getToken().getUser().getNaam() }}
Controle op: {{ 'now'|date('d-m-Y') }}

{% if dossier.regasNummer is not empty %}
Regas nummer: {{ dossier.regasNummer }}

{% endif %}
{% if dossier.allegroNummer is not empty %}
Allegro nummer: {{ dossier.allegroNummer }}

{% endif %}

{{ url('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.getId()}) }}
{%- endblock %}
