{% block subject -%}
    Nieuw schulddossier ({{ dossier.getSchuldhulpbureau().getNaam() }})
{%- endblock  %}

{% block html -%}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ block('subject') }}</title>
    </head>
    <body style="font-family: Avenir, verdana, Helvetica, Arial, sans-serif">
        <p>Hallo {{ dossier.getTeamGka().getNaam() }},</p>
        <p>Er staat een nieuw dossier ter controle klaar.</p>
        <p>&nbsp;</p>
        <table style="text-align: left;">
          <tr>
            <th style="font-weight: normal;">Afzender:</th>
            <th style="font-weight: 600;">{{ tokenStorage.getToken().getUser().getNaam() }}</th>
          </tr>
          <tr>
            <th style="font-weight: normal;">Aangeboden op:</th>
            <th style="font-weight: 600;">{{ 'now'|date('d-m-Y') }}</th>
          </tr>
        </table>
        <p>&nbsp;</p>
        <table style="text-align: left;">
          {% if dossier.regasNummer is not empty %}
          <tr>
            <th style="font-weight: normal;">Regas nummer:</th>
            <th style="font-weight: 600;">{{ dossier.regasNummer }}</th>
          </tr>
          {% endif %}
          {% if dossier.allegroNummer is not empty %}
          <tr>
            <th style="font-weight: normal;">Allegro nummer: </th>
            <th style="font-weight: 600;">{{ dossier.allegroNummer }}</th>
          </tr>
          {% endif %}
        </table>
        <p>&nbsp;</p>
        <p>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" bgcolor="#EC0000"><a href="{{ url('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.getId}) }}" target="_blank" style="font-size: 16px; font-family: Avenir, verdana, Helvetica, Arial, sans-serif; font-weight: 600; color: #ffffff; text-decoration: none; text-decoration: none; padding: 7px 8px; border: 1px solid #EC0000; display: inline-block;">Open dossier</a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </body>
</html>
{%- endblock %}

{% block txt -%}
Hallo {{ dossier.getTeamGka().getNaam() }},

Er staat een nieuw dossier ter controle klaar.

Afzender: {{ tokenStorage.getToken().getUser().getNaam() }}
Aangeboden op: {{ 'now'|date('d-m-Y') }}

{% if dossier.regasNummer is not empty %}
Regas nummer: {{ dossier.regasNummer }}

{% endif %}
{% if dossier.allegroNummer is not empty %}
Allegro nummer: {{ dossier.allegroNummer }}

{% endif %}
{{ url('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.getId()}) }}
{%- endblock %}
