{% extends 'master.html.twig' %}

{% block title %}Nieuwe gebruiker - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}
<p class="nav-internal--breadcrumb">
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class=" nav-internal--breadcrumb__home">
        <span>Start</span>
    </a>
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_index') }}" class=" nav-internal--breadcrumb__dossier">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Gebruikers</span>
    </a>
    <a href="#" class="nav-internal--breadcrumb__section in-active">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Nieuwe gebruiker</span>
    </a>
</p>

<div class="document well">
    <div class="document-header">
        <h1 class="document-title">Nieuwe gebruiker</h1>
        {{ form_errors(form) }}
    </div>
    <div class="form-container">
        {{ form_start(form, {'attr': {'class': 'default-form-style'} }) }}
        {{ form_row(form.naam) }}
        {{ form_row(form.email) }}
        {{ form_row(form.telefoonnummer) }}
        {{ form_row(form.type) }}
        <p>Alleen invullen indien werkzaam voor het GKA:</p>
        {{ form_row(form.teamGka) }}
        <p>Alleen invullen indien werkzaam voor een MaDi/Bewindvoerder:</p>
        {{ form_row(form.schuldhulpbureaus) }}
        <p class="buttons right">
            <button type="submit" class="button primary">Opslaan</button>
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_index') }}">Annuleren</a>
        </p>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}