{% extends 'master.html.twig' %}

{% block title %}Gebruikers - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}

    <div class="document well">
        <div class="document-header group">
            <h1 class="document-title">Gebruikers</h1>
            <nav class="nav-internal">
                <ul>
                    <li>Gebruikers</li>
                    {% if is_granted('ROLE_APPBEHEER') or is_granted('ROLE_ADMIN') %}<li><a class="primary" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_create') }}">Nieuwe gebruiker</a></li>{% endif %}
                </ul>
            </nav>
        </div>
        {% if is_granted('ROLE_APPBEHEER') == false and is_granted('ROLE_ADMIN') == false %}
            <p>Alleen applicatie beheerders kunnen nieuwe gebruikers toevoegen en bestaande gebruikers wijzigen</p>
        {% endif %}
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Naam</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
{% for gebruiker in gebruikers %}
                    <tr>
                        <th>
                            {% if is_granted('ROLE_APPBEHEER') or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_update', {'gebruikerId': gebruiker.id}) }}">{{ gebruiker.username }}</a>
                            {% else %}
                                {{ gebruiker.username }}
                            {% endif %}
                        </th>
                        <td>{{ gebruiker.naam }}</td>
                        <td>{{ gebruiker.type }}</td>
                    </tr>
{% endfor %}
               </tbody>
            </table>
        </div>
        {% if pagination.numberOfPages > 1 %}
          <div class="pagination">
              {% if pagination.page <= 0 %}
              <span class="prev">vorige</span>
              {% else %}
              <a class="prev" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_index', {'page': pagination.page - 1}) }}">vorige</a>
              {% endif %}
              <span>pagina {{ pagination.page + 1 }} van {{ pagination.numberOfPages }}</span>
              {% if (pagination.page + 1) >= pagination.numberOfPages %}
              <span class="next">volgende</span>
              {% else %}
              <a class="next" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_index', {'page': pagination.page + 1}) }}">volgende</a>
              {% endif %}
          </div>
        {% endif %}
    </div>
{% endblock %}
