{% extends 'master.html.twig' %}

{% block title %}Gebruikers - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block documentContainerClass %}document-container document-container__wide{% endblock %}

{% block document %}
<p class="nav-internal--breadcrumb">
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class=" nav-internal--breadcrumb__home">
        <span>Start</span>
    </a>
    <a href="#" class=" nav-internal--breadcrumb__dossier in-active">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Gebruikers</span>
    </a>
</p>

    <div class="document well">
        <div class="document-header group">
            <h1 class="document-title">Gebruikers</h1>
            <nav class="nav-internal">
                <ul>
                    <li>Gebruikers</li>
                    {% if is_granted('ROLE_GKA_APPBEHEERDER') or is_granted('ROLE_MADI_KEYUSER') or is_granted('ROLE_ADMIN') %}<li><a class="primary" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_create') }}">Nieuwe gebruiker</a></li>{% endif %}
                </ul>
            </nav>
        </div>
        {% if is_granted('ROLE_GKA_APPBEHEERDER') == false and is_granted('ROLE_MADI_KEYUSER') == false and is_granted('ROLE_ADMIN') == false %}
            <p>Alleen applicatie beheerders kunnen nieuwe gebruikers toevoegen en bestaande gebruikers wijzigen</p>
        {% endif %}
        <br>
        <h2>Onbekende gebruikers</h2>
        {% if onbekendeGebruikers %}
        <br>
        <div class="table">
            <table>
                <thead>
                <tr>
                    <th>E-mailadres</th>
                    <th>Naam</th>
                    <th>Telefoonnummer</th>
                    <th>Type</th>
                    <th>Team GKA</th>
                    <th>Team schuldhulpbureau</th>
                </tr>
                </thead>
                <tbody>
                {% for gebruiker in onbekendeGebruikers %}
                    <tr{% if is_granted('ROLE_GKA_APPBEHEERDER') or is_granted('ROLE_MADI_KEYUSER') or is_granted('ROLE_ADMIN') %} class="row-link"{% endif %}>
                        <th>
                            {% if is_granted('ROLE_GKA_APPBEHEERDER') or is_granted('ROLE_MADI_KEYUSER') or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_update', {'gebruikerId': gebruiker.id}) }}">{{ gebruiker.email }}</a>
                            {% else %}
                                {{ gebruiker.email }}
                            {% endif %}
                        </th>
                        <td>{{ gebruiker.naam }}</td>
                        <td>{{ gebruiker.telefoonnummer }}</td>
                        <td>
                            {{ gebruiker.type|transform_type_in_title }}
                        </td>
                        <td>{% if gebruiker.teamGka|default %}{{ gebruiker.teamGka.naam }}{% endif %}</td>
                        <td>{% if gebruiker.schuldhulpbureaus|default %}{{ gebruiker.schuldhulpbureaus|join(', ') }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
            <i>- Er zijn geen onbekende gebruikers -</i><br><br>
        {% endif %}
        <br>
        <h2>Gebruikers</h2>
        {% if inactive %}
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_index', {sort:'g.naam', direction: 'asc', page: 1}) }}">Active gebruikers weergeven</a>
        {% else %}
            <a href="{{ path('gebruikers_inactive', {sort:'g.naam', direction: 'asc', page: 1}) }}">Niet actieve gebruikers weergeven</a>
        {% endif %}
        <br>
        <div>
            {{ knp_pagination_filter(pagination,
                {
                    'g.email': 'E-mailadres',
                    'g.naam': 'Naam',
                    't.naam': 'Team GKA',
                }) }}
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'E-mailadres', 'g.email') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Naam', 'g.naam') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Telefoonnummer', 'g.telefoonnummer') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Type', 'g.type') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Team GKA', 'g.teamGka') }}</th>
                        <th>Team schuldhulpbureau</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Laatste login', 'g.lastLogin') }}</th>
                    </tr>
                </thead>
                <tbody>
{% for gebruiker in pagination %}
                    <tr{% if is_granted('ROLE_GKA_APPBEHEERDER') or is_granted('ROLE_MADI_KEYUSER') or is_granted('ROLE_ADMIN') %} class="row-link"{% endif %}>
                        <th>
                            {% if is_granted('ROLE_GKA_APPBEHEERDER') or is_granted('ROLE_MADI_KEYUSER') or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_update', {'gebruikerId': gebruiker.id}) }}">{{ gebruiker.email }}</a>
                            {% else %}
                                {{ gebruiker.email }}
                            {% endif %}
                        </th>
                        <td>{{ gebruiker.naam }}</td>
                        <td>{{ gebruiker.telefoonnummer }}</td>
                        <td>
                            {{ gebruiker.type|transform_type_in_title }}
                        </td>
                        <td>{{ gebruiker.teamGka }}</td>
                        <td>{{ gebruiker.schuldhulpbureaus|join(', ') }}</td>
                        <td>{% if gebruiker.lastLogin is not null %}{{ gebruiker.lastLogin|date('d-m-Y') }}{% else %}nooit{% endif %}</td>
                    </tr>
{% endfor %}
               </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
