{% extends 'master.html.twig' %}

{% block title %}Gebruiker: {{ gebruiker.naam }} - {{ parent() }}{% endblock %}

{% block page_title %}Gebruiker: {{ gebruiker.naam }}{% endblock %}

{% block body_classes %}hide-pdf-splitter{% endblock %}

{% block document %}
<nav class="document">
    <ul>
        <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_index') }}">Terug naar overzicht</a></li>
    </ul>
</nav>

<div class="document">
    <div class="header">
        <h1>Gebruiker: {{ gebruiker.naam }}</h1>
    </div>
    <div class="form-container">
        {% form_theme form with ['forms2.html.twig'] only %}
        {{ form_start(form, {'attr': {'class': 'default-form-style'} }) }}
        {{ form_row(form.naam) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        <p>Alleen invullen indien wachtwoord gewijzigd moet worden:</p>
        {{ form_row(form.clearPassword) }}
        {{ form_row(form.type) }}
        <p>Alleen invullen indien werkzaam voor het GKA:</p>
        {{ form_row(form.teamGka) }}
        <p>Alleen invullen indien werkzaam voor een MaDi:</p>
        {{ form_row(form.schuldhulpbureau) }}
        <div class="nav">
            <button type="submit">Opslaan</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}