{% extends 'master.html.twig' %}

{% block title %}Gebruiker: {{ gebruiker.naam }} - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}
<nav class="nav-internal">
    <ul>
        <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_index') }}"><i class="icon-arrow-left"></i> Terug naar overzicht</a></li>
    </ul>
</nav>

<div class="document well">
    <div class="document-header">
        <h1 class="document-title">Gebruiker: {{ gebruiker.naam }}</h1>
    </div>
    <div class="form-container">
        {{ form_start(form, {'attr': {'class': 'default-form-style'} }) }}
        {{ form_row(form.naam) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        <p>Alleen invullen indien wachtwoord gewijzigd moet worden:</p>
        {{ form_row(form.clearPassword) }}
        {{ form_row(form.type) }}
        <p>Alleen invullen indien werkzaam voor het GKA:</p>
        {{ form_row(form.teamGka) }}
        <p>Alleen invullen indien werkzaam voor een MaDi:</p>
        {{ form_row(form.schuldhulpbureau) }}
        <p>Accounts kunnen niet verwijderd worden maar wel uitgeschakkeld. Verwijder onderstaand vinkje om een account uit te schakkelen.</p>
        {{ form_row(form.enabled) }}
        <p class="buttons right">
            <button type="submit" class="button primary">Opslaan</button>
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_index') }}">Annuleren</a>
        </p>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}