{% extends 'master.html.twig' %}

{% block title %}Logboek - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}
<p class="nav-internal--breadcrumb">
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class=" nav-internal--breadcrumb__home">
        <span>Start</span>
    </a>
    <a href="#" class="nav-internal--breadcrumb__section in-active">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Logboek</span>
    </a>
</p>
    <div class="document well">
        <div class="document-header group">
            <h1 class="document-title">{% if dossier is defined %}{{ dossier.clientNaam }} logboek{% else %}Logboek{% endif %}</h1>
            <nav class="nav-internal">
                <ul>
                    <li>Logboek</li>
                </ul>
            </nav>

        </div>
        <ul class="aantekeningen log-list">

        {% for log in logs %}
            <li class="aantekening
                {% if log.data.gebruiker is defined %}
                {% if log.data.gebruiker.email is defined %}
                {% if log.data.gebruiker.email == app.user.email %} aantekening-mijn {% endif %}
                {% endif %}
                {% endif %}
                {% if log.data.gebruiker.type is defined %} {{ log.data.gebruiker.type|lower }}{% endif %}">
                <p class="aantekening-meta">
                  <time>
                      {% if log.datumTijd|date('d-m-Y') == date()|date('d-m-Y') %}
                      Vandaag {{ log.datumTijd|date('H:i') }}
                      {% else %}
                      {{ log.datumTijd|date('d-m-Y H:i') }}
                      {% endif %}
                  </time>
                  {% if log.data.gebruiker is defined %}
                  {% if log.data.gebruiker.email is defined and log.data.gebruiker.email == app.user.email %}
                      <strong>Jij</strong>
                  {% else %}
                  <strong>{% if log.data.gebruiker.email is defined %}<a href="mailto:{{ log.data.gebruiker.email }}">{% endif %}{{ log.data.gebruiker.naam }} {% if log.data.gebruiker.email is defined %}</a>{% endif %}</strong>
                  {% endif %}
                  {% endif %}

                </p>
                <div class="aantekening-bericht">
                            {% if log.name == 'dossier_status_gewijzigd' %}
                                Dossier status gewijzigd naar: <strong>{{ log.data.status.naar }}</strong>
                            {% endif %}
                            {% if log.name == 'dossier_gewijzigd' %}
                                Dossier gewijzigd
                            {% endif %}
                            {% if log.name == 'dossier_verwijderd' %}
                                Dossier verwijderd
                                <br>
                                MaDi/Bewindvoerder dossiernr.: {{ log.data.dossier.allegro_nummer }} <br>
                                GKA dossiernr.: {{ log.data.dossier.regas_nummer }}
                            {% endif %}
                            {% if log.name == 'gebruiker_ingelogd' %}
                                Gebruiker ingelogd
                            {% endif %}
                            {% if log.name == 'gebruiker_gewijzigd' %}
                                Gebruiker gewijzigd
                            {% endif %}
                            {% if log.name == 'dossier_aangemaakt' %}
                                Dossier aangemaakt
                            {% endif %}
                            {% if log.name == 'dossier_geopened' %}
                                Dossier geopend: {% if log.dossier is defined %}
                                {% if log.dossier.clientNaam is defined %}
                                    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': log.dossier.Id}) }}">{{ log.dossier.clientNaam }}</a>
                                {% else %}
                                    <i>Verwijderd</i>
                                {% endif %}
                            {% endif %}
                            {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
