{% extends 'master.html.twig' %}

{% block title %}Logs - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}

    <div class="document well">
        <div class="document-header group">
            <h1 class="document-title">Logs</h1>
            <nav class="nav-internal">
                <ul>
                    <li>Logs</li>
                </ul>
            </nav>
        </div>
        <ul class="log-list">

        {% for log in logs %}
            <li class="log-list__item">
                <h4>[{{ log.datumTijd|date('d-m-Y H:i:s') }}] - {{ log.name|upper }}</h4>
                {% if log.name == 'dossier_status_gewijzigd' %}
                    <dl>
                        <dt><strong>Door</strong></dt>
                        <dd>{% if log.data.gebruiker.email  is defined %}<a href="mailto:{{ log.data.gebruiker.email }}">{% endif %}{{ log.data.gebruiker.naam }} {% if log.data.gebruiker.email is defined %}</a>{% endif %}</dd>
                        <dt><strong>Van</strong></dt>
                        <dd>{{ log.data.status.van }}</dd>
                        <dt><strong>Naar</strong></dt>
                        <dd>{{ log.data.status.naar }}</dd>
                    </dl>
                {% else %}
                    <dl>
                        <dt><strong>Door</strong></dt>
                        <dd>{% if log.data.gebruiker.email  is defined %}<a href="mailto:{{ log.data.gebruiker.email }}">{% endif %}{{ log.data.gebruiker.naam }} {% if log.data.gebruiker.email is defined %}</a>{% endif %}</dd>
                    </dl>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
