{% extends 'base.html.twig' %}

{% block title %}
	Bulk-upload documenten
{% endblock %}

{% block extraScripts %}
<link rel="stylesheet" href="/css/wizard.css">
<script src="/vendor/mozilla/pdf.js/build/pdf.js"></script>
<script src="/vendor/mrrio/jspdf/jspdf.js"></script>
<script src="/vendor/mrrio/jspdf/plugins/addimage.js"></script>
<script src="/js/wizard.js"></script>
{% endblock %}

{% block kleineNavigatie %}
	<div class="kleineNav"><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detail', {'dossierId': dossier.id}) }}">Terug naar dossier</a></div>
{% endblock %}


{% block main %}
		<section class="top">
		<h1>Voeg document toe aan dossier {{ dossier.clientNaam }}</h1>
		<p><strong>Stap 1.</strong> Upload hieronder een document. <strong>Stap 2.</strong> Open rechts een categorie en vink links de pagina's aan die je in de categorie wilt plaatsen. <strong>Stap 3.</strong> Klik op 'Sla op en volgende' om door te gaan naar de volgende.</p>
		</section>


    <section class="hoofd">
    <input type="file" id="completeDocument">
    <div id="canvases"></div>
    </section>

    <section class="naast accordeon">
	{% set kopje = "" %}
    {% for categorie in categorieen %}
    	{% if categorie.isKop is defined %}
			<h2>{{ categorie.schermNaam }}</h2>
			{% set kopje = categorie.schermNaam %}
    	{% else %}
			{% if categorie.kop != kopje %}
				<h2>{{ categorie.kop }}</h2>
				{% set kopje = categorie.kop %}
			{% endif %}
			<h3>{{ categorie.schermNaam }}</h3>
			<div class="container" data-systeemnaam="{{ categorie.systeemNaam }}"></div>
    	{% endif %}
    {% endfor %}
    <div class="knoppenbalk" id="insertForm">
	<a class="secundair" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detail', {'dossierId': dossier.id}) }}">Klaar</a>
	</div>
    </section>


	<div id="templates">
    {{ form_start(form,{attr: {id:'uploadForm'}}) }}
    <table>
    {{ form_row(form.document.naam) }}
    {{ form_row(form.onderwerp) }}
    </table>
    <div class="knoppenbalk">
    <button class="secundair activeer">Maak actief formulier</button><button class="upload primair">Dit uploaden</button>
    </div>
    {{ form_widget(form.document.file) }}
    {{ form_end(form) }}

	<form id="templateForm">
	<span class="spinnerContainer"><img src="/pix/spinner.gif"></span>
	<div class="naamVeld"><input type="text" placeholder="Naam document" required></div>
	<div class="uploadCanvases"></div>
	<div class="knoppenbalk">
		<button class="secundair nieuwDocument">Opslaan en nieuw document</button><button class="upload primair">Opslaan en volgende</button>
	</div>
	</form>

    <div id="resultaatTemplate" class="succes">
    	<p><a href="#" target="_blank"></a> succesvol upgeload.</p>
    	<div class="canvasThumbs"></div>
    </div>
    </div>

{% endblock %}
