<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Voeg document toe aan dossier</title>
<meta name="viewport" content="width = device-width">
<link rel="stylesheet" href="/css/styles.css">
<script src="/vendor/mozilla/pdf.js/build/pdf.js"></script>
<script src="/jsPDF/jsPDF-1.3.2/jspdf.js"></script>
<script src="/jsPDF/jsPDF-1.3.2/plugins/addimage.js"></script>
<style>
canvas {
	border: 5px solid red;
}
</style>
<script>

window.onload = function () {
	
	$('dossier_document_form_document_file').onchange = function () {
		var URL = window.URL.createObjectURL(this.files[0]);
		makePDFInterface(URL);
	}
	
//	console.log(jsPDF);
	
}

function makePDFInterface(URL) {


	PDFJS.getDocument(URL).then(function (pdf) {
		document.getElementById('numOfPages').textContent = pdf.numPages;

		function fnShowPage (pageNum) {
			pdf.getPage(pageNum).then(function (page) {


				document.getElementById('page').textContent = pageNum;

				var scale = 0.5;
				var viewport = page.getViewport(scale);
				var canvas = document.getElementById('the-canvas');
				var context = canvas.getContext('2d');
				canvas.height = viewport.height;
				canvas.width = viewport.width;

				var renderContext = {
					canvasContext: context,
					viewport: viewport
				};
				page.render(renderContext);
			});
		}
	
		document.getElementById('page-selector').onchange = function (event) {
			fnShowPage(parseInt(document.getElementById('page-selector').value));
		} 
	
		fnShowPage(1);
	
	
	});

	document.getElementById('grab').onclick = function () {
		var img = document.createElement('img');
		var imgData = document.getElementById('the-canvas').toDataURL("image/jpeg");
		img.src = imgData;
		document.body.appendChild(img);
		
		var newPDF = new jsPDF();
		
		newPDF.addImage(imgData, 'JPEG', 15, 40, 180, 180);
		newPDF.addPage();
		newPDF.addImage(imgData, 'JPEG', 15, 40, 180, 180);
		var PDFFile = new File(newPDF);
		console.log(PDFFile);
		

	};
}

function $(id) {
	return document.getElementById(id);
}

</script>
</head>

<body>
    <header>
    <h1>Voeg document toe aan dossier {{ dossier.clientNaam }}</h1>
    <p><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detail', {'dossierId': dossier.id}) }}">Terug naar dossier</a></p>
    </header>
    <table>
    {{ form_start(form) }}
    {{ form_row(form.onderwerp) }}
    {{ form_row(form.document.file) }}
    {{ form_row(form.document.naam) }}
    </table>
    <p><input type="submit" value="Document toevoegen"></p>
    {{ form_end(form) }}
</body>

    <h2>Page <span id="page">?</span> of <span id="numOfPages">?</span></h2>
    <canvas id="the-canvas"></canvas>
    <select id="page-selector">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    
    <a id="grab" href="#grab">Grab the data from the canvas</a>
    <textarea id="the-content"></textarea>
    
    <script>
    </script>


</html>