<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Voeg document toe aan dossier</title>
<meta name="viewport" content="width = device-width">
<link rel="stylesheet" href="/css/styles.css">
<script src="/vendor/mozilla/pdf.js/build/pdf.js"></script>
<script src="/vendor/mrrio/jspdf/jspdf.js"></script>
<script src="/vendor/mrrio/jspdf/plugins/addimage.js"></script>
<script src="/js/script.js"></script>
<style>

dic#canvases {
	overflow: auto;
	white-space: nowrap;
}

canvas {
	width: 100px;
	border: 2px solid black;
	margin: 5px;
}

canvas#groot  {
	width: 100%;
}

</style>
<script>

window.onload = function () {
	
	$('completeDocument').onchange = function () {
		var URL = window.URL.createObjectURL(this.files[0]);
		makePDFInterface(URL);
	}
	
//	console.log(jsPDF);
	
}

function makePDFInterface(URL) {
	var scale = 3; // nog te bekijken


	PDFJS.getDocument(URL).then(function (pdf) {
		var wr = $('canvases');
		var pages = pdf.numPages;
		for (var i=1;i<=pages;i+=1) {
			console.log(i);
			pdf.getPage(i).then(function (page) {
				var canvas = document.createElement('canvas');
				var viewport = page.getViewport(scale);
//				console.log(viewport);
//				var canvas = document.getElementById('the-canvas');
				var context = canvas.getContext('2d');
				canvas.width = viewport.width;
				canvas.height = viewport.height;

				var renderContext = {
					canvasContext: context,
					viewport: viewport
				};
				page.render(renderContext);
				wr.appendChild(canvas);
				console.log(canvas.parentNode.nodeName);
			});
		}
	});
	var groteCanvas = $('groot');
	var nieuweContext = groteCanvas.getContext('2d');
	
	var oudeVergroting;
	$('canvases').onclick = function (e) {
		if (e.target.nodeName === 'CANVAS') {
			if (oudeVergroting) {
				oudeVergroting.style.border = '';
			}
			groteCanvas.width = e.target.width;
			groteCanvas.height = e.target.height;
			nieuweContext.drawImage(e.target,0,0);
			e.target.style.border = '5px solid red';
			oudeVergroting = e.target;
		}
	}

	document.getElementById('grab').onclick = function () {
		var img = document.createElement('img');
		var imgData = document.getElementById('the-canvas').toDataURL("image/jpeg");
		img.src = imgData;
		document.body.appendChild(img);
		
		var newPDF = new jsPDF();
		
		newPDF.addImage(imgData, 'JPEG', 15, 40, 180, 180);
		newPDF.addPage();
		newPDF.addImage(imgData, 'JPEG', 15, 40, 180, 180);
//		$('dossier_document_form_file').value = newPDF.output('datauristring');
		var form = document.forms['dossier_document_form'];
		console.log(typeof newPDF.output('blob'));
		var data = new FormData(form);
		data.append('dossier_document_form[document][file]',newPDF.output('blob'),$('completeDocument').value);
		
		/*
		var entries = data.entries();
		console.log(entries.next().value);
		console.log(entries.next().value);
		console.log(entries.next().value);
		console.log(entries.next().value);
		*/
		
		sendRequest(location.href,function (req) {
			for (var i in req) {
				console.log(i + ': ' + req[i]);
			}
		},data)
	};
}

function $(id) {
	return document.getElementById(id);
}

</script>
</head>

<body>
	<header>
	<img src="/pix/logo_klein.svg">
	<h2>Digitale voorlegger</h2>
	<div>Ingelogd als: Petriculus Pucq <a href="#">(Uitloggen)</a></div>
    </header>
	
	<p class="kleinNav"><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detail', {'dossierId': dossier.id}) }}">Terug naar dossier</a></p>
	<main>
    <h1>Voeg document toe aan dossier {{ dossier.clientNaam }}</h1>
    <input type="file" id="completeDocument">
    <hr>
    <div id="canvases"></div>
    <hr>
    
    <canvas id="groot"></canvas>
    
    <hr>

    <a id="grab" href="#grab">Grab the data from the canvas</a>
    <table>
    {{ form_start(form) }}
    {{ form_row(form.onderwerp) }}
    {{ form_row(form.document.naam) }}
    </table>
    {{ form_end(form) }}
	</main>

</body>
</html>