{% extends 'base.html.twig' %}

{% block title %}
	Maak nieuw dossier aan
{% endblock %}


{% block kleineNavigatie %}
    <div class="kleineNav"><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">Terug naar overzicht</a></div>
{% endblock %}

{% block main %}
    <h1>Nieuw dossier</h1>

<div class="document">
        <div class="header">

            {% form_theme form with ['forms2.html.twig'] only %}
            {{ form_start(form, {'attr': {'class': 'default-form-style ajax novalidate'} }) }}
            {{ form_row(form.clientNaam) }}
            {{ form_row(form.partnerNaam) }}
            {# form_row(form.status) #}
            <div class="columns">
                <div class="column">
                    <h3>MaDi</h3>
                    {{ form_row(form.schuldhulpbureau) }}
                    {{ form_row(form.medewerkerSchuldhulpbureau) }}
                    {{ form_row(form.regasNummer) }}
                </div>
                <div class="column">
                    <h3>GKA</h3>
                    {{ form_row(form.teamGka) }}
                    {{ form_row(form.allegroNummer) }}
                </div>
            </div>
            <div class="nav">
                <button type="submit">Opslaan</button>
            </div>
            {{ form_end(form) }}
		</div>
	</div>

{% endblock %}
