{% extends 'master.html.twig' %}

{% block title %}Nieuw dossier - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}
  

<nav class="nav-internal">
    <ul>
        <li>
          <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}"><i class="icon-arrow-left"></i> Terug naar overzicht</a>
        </li>
    </ul>
</nav>

<div class="document well">
    
    <div class="document-header">
      <h1 class="document-title">Nieuw dossier</h1>
      <p class="document-help">Vul onderstaand formulier in om een nieuw dossier te openen.</p>
    </div>
    
    <div class="form-container">
        {{ form_start(form, {'attr': {'class': 'default-form-style'} }) }}
        {{ form_row(form.clientNaam) }}
        {{ form_row(form.partnerNaam) }}
        <div class="columns">
            <div class="column">
                <h3 class="document-team">MaDi</h3>
                {{ form_row(form.schuldHulpbureauGebruiker) }}
                {{ form_row(form.regasNummer) }}
            </div>
            <div class="column">
                <h3 class="document-team">GKA</h3>
                {{ form_row(form.teamGka) }}
                {{ form_row(form.allegroNummer) }}
            </div>
        </div>
        <p class="buttons right">
            <button type="submit" class="button primary">Opslaan</button>
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">Annuleren</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>


{% endblock %}
