{% extends 'base.html.twig' %}
{% block title %}
	{{ dossier.clientNaam }} - Aanmelding
{% endblock %}

{% block extraScripts %}
<script src="/vendor/mozilla/pdf.js/build/pdf.js"></script>
<script src="/vendor/mrrio/jspdf/jspdf.js"></script>
<script src="/vendor/mrrio/jspdf/plugins/addimage.js"></script>
<script>
window.schuldhulp = window.schuldhulp || {};
window.schuldhulp.routes = window.schuldhulp.routes || {};
window.schuldhulp.routes.appdossier_movedocumenttoprullenbak = '{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak', {'dossierId': dossier.id, 'documentId': '__DOCUMENTID__'}) }}'
window.schuldhulp.tokens = window.schuldhulp.tokens || {};
window.schuldhulp.tokens.appdossier_movedocumenttoprullenbak = '{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak') }}';
</script>
{% endblock %}

{% block body %}
<body class="{{ app.user.type }}">
{% endblock %}


{% block page_title %}
Aanmelding: {{ dossier.clientNaam }}
{% endblock %}


{% block maintag %}
<main class="voorlegger">
{% endblock %}

{% block kleineNavigatie %}
<div class="kleineNav">
	<a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">Terug naar overzicht</a>
    {% if dossier.inPrullenbak == false %}
    <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_movetoprullenbak', {'dossierId': dossier.id}) }}" method="post">
        <input type="hidden" name="token" value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_movetoprullenbak') }}">
        <button type="submit">Naar prullenbak</button>
    </form>
	<a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_indexdocumenteninprullenbak', {'dossierId': dossier.id}) }}">Prullenbak van dit dossier</a>
    {% else %}
    <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_remove', {'dossierId': dossier.id}) }}" method="post">
        <input type="hidden" name="token" value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_remove') }}">
        <button type="submit">Definitief verwijderen</button>
    </form>
    <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_restore', {'dossierId': dossier.id}) }}" method="post">
        <input type="hidden" name="token" value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_restore') }}">
        <button type="submit">Herstellen</button>
    </form>
    {% endif %}
</div>
{% endblock %}


{% block main %}

{% for type, messages in app.flashes %}
	{% for message in messages %}
		<div class="flash-message flash-type-{{ type }}">
			<a class="btn" href="#close-flash">x</a>
			<span class="message">{{ message }}</span>
		</div>
	{% endfor %}
{% endfor %}

<!-- section class="documentSplitser">
	<input type="file" id="completeDocument">
	<div id="canvases"></div>
</section -->

<div class="document">
        <div class="header">
            <h1>{{ dossier.clientNaam }}</h1>
            {% form_theme form with ['forms2.html.twig'] only %}
            {{ form_start(form, {'attr': {'class': 'default-form-style ajax',id:'voorlegger_mainform'} }) }}
            {{ form_row(form.clientNaam) }}
            {{ form_row(form.partnerNaam) }}
            {{ form_row(form.status) }}
            <div class="columns">
                <div class="column">
                    <h3>MaDi</h3>
                    {{ form_row(form.schuldhulpbureau) }}
                    {{ form_row(form.medewerkerSchuldhulpbureau) }}
                    {{ form_row(form.regasNummer) }}
                </div>
                <div class="column">
                    <h3>GKA</h3>
                    {{ form_row(form.teamGka) }}
                    {{ form_row(form.allegroNummer) }}
                </div>
            </div>
            <div class="nav">
                <button type="submit">Opslaan</button>
            </div>
            {{ form_end(form) }}
        </div>
</div>


<div class="tabs">
	<ul>
		<li class="active"><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detail', {'dossierId': dossier.Id}) }}">Aanmelding</a></li>
		<li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailschulden', {'dossierId': dossier.Id}) }}">Schulden</a></li>
	</ul>
</div>
<div id="documenten" style="display: none">
{% for document in dossier.getDocumenten if document.document.inPrullenbak == false %}
	<li data-onderwerp="{{ document.onderwerp }}">
		<a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocument', {'dossierId': document.dossier.id, 'documentId': document.document.id}) }}">{{ document.document.naam }}</a> |
        <a class="link-as-submit" data-token="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak') }}" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak', {'dossierId': document.dossier.id, 'documentId': document.document.id}) }}">verwijderen</a>
	</li>
{% endfor %}
</div>

<section class="accordeon aanmelding">
{% for categorie in categorieen %}
	{% if categorie.isKop is not defined %}
	<h3>{{ categorie.schermNaam }} <span>(<span class="aantal">{{ dossier.getDocumentenByOnderwerp(categorie.systeemNaam)|length }}</span> documenten)</span></h3>
	<div class="container" data-systeemnaam="{{ categorie.systeemNaam }}">
	{% set form = voorleggerForms[categorie.systeemNaam]|default('') %}
	{% if form is empty %}
	   <p>Dit moeten we nog implementeren: {{ categorie.systeemNaam }}</p>
	{% else %}
	   {{ form_start(form,{attr:{class:'aanmeldformulier'}}) }}
	<p class="checkboxes">
		{% if categorie.madi == true %}
			{% if form[categorie.systeemNaam ~ 'OntvangenMadi'] is not defined %}
				  <p>Help checkbox is niet aanwezig ({{ categorie.systeemNaam }} ontvangen madi)</p>
				  <script>console.log('{{ categorie.systeemNaam }} heeft geen Ontvangen')</script>
			{% else %}
				 {{ form_widget(form[categorie.systeemNaam ~ 'OntvangenMadi']) }} Madi
			{% endif %}
		{% endif %}
		{% if categorie.gka == true %}
            {% if form[categorie.systeemNaam ~ 'OntvangenGka'] is not defined %}
                <p>Help checkbox is niet aanwezig ({{ categorie.systeemNaam }} ontvangen gka)</p>
            {% else %}
                {{ form_widget(form[categorie.systeemNaam ~ 'OntvangenGka']) }} Gka
            {% endif %}
		{% endif %}
		{% if categorie.nvt == true %}
		    {% if form[categorie.systeemNaam ~ 'Nvt'] is not defined %}
		          <p>Help checkbox is niet aanwezig ({{ categorie.systeemNaam }} nvt)</p>
            {% else %}
	           {{ form_widget(form[categorie.systeemNaam ~ 'Nvt']) }} N.v.t.
            {% endif %}
		{% endif %}
		{% if categorie.extraVelden is defined %}
			{% for extraVeld in categorie.extraVelden %}
				 {{ form_widget(form[extraVeld.systeemNaam]) }} {{ extraVeld.schermNaam }}
			{% endfor %}
		{% endif %}
	</p>
	{% if dossier.getDocumentenByOnderwerp(categorie.systeemNaam)|length > 0 %}
		<p>Toegevoegde documenten:</p>
		<ul class="documentenLijst">
		{% for dossierDocument in dossier.getDocumentenByOnderwerp(categorie.systeemNaam) %}
		   <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocument', {'dossierId': dossier.id, 'documentId': dossierDocument.document.id}) }}">{{ dossierDocument.document.naam }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<span class="insertDocumentenLijst"></span>
	{% endif %}
	<p>Documentnaam {{ form_widget(form.fileNaam) }}</p>
   <!--  Nieuw document {{ form_widget(form.file) }} -->
	
	<div class="uploadCanvases"></div>
	<p><input type="submit" class="primair detailOpslaan" value="Opslaan"></p>
	{{ form_end(form) }}
	{% endif %}
	</div>
	{% endif %}
{% endfor %}
</section>

<section id="aanvullend">


	{% set form = voorleggerForms.meterstanden %}
	{{ form_start(form,{attr:{class:'aanvullend'}}) }}
		{% do form.file.setRendered() %}
		{% do form.fileNaam.setRendered() %}

<h2>Aanvullende informatie</h2>
{{ form_widget(form.aanvullendeInformatie)}}

<h2>Meterstanden</h2>

<table>
	{{ form_row(form.energieBedrijf) }}
	{{ form_row(form.energieBedrijfKlantnummer) }}
	{{ form_row(form.energieBedrijfDatumOpname) }}
	{{ form_row(form.energieBedrijfT1) }}
	{{ form_row(form.energieBedrijfT2) }}
	{{ form_row(form.energieBedrijfGas) }}
	{{ form_row(form.warmteBedrijf) }}
	{{ form_row(form.warmteBedrijfKlantnummer) }}
	{{ form_row(form.warmteBedrijfDatumOpname) }}
	{{ form_row(form.warmteBedrijfOpname) }}
	{{ form_row(form.drinkwaterKlantnummer) }}
	{{ form_row(form.drinkwaterDatumOpname) }}
	{{ form_row(form.drinkwaterOpname) }}
</table>

<div class=knoppenbalk>
	<input type="submit" class="primair" value="Opslaan"></td>
</div>
	{{ form_end(form) }}
</section>

<div id="templates">

	<div id="documentenLijstTemplate">
		<p>Toegevoegde documenten:</p>
		<ul class="documentenLijst">
		</ul>	
	</div>
</div>

{% endblock %}
