{% extends 'master.html.twig' %}

{% block title %}{{ dossier.clientNaam }} - {{ parent() }}{% endblock %}

{% block document %}

{% block pdfsplitter %}{% endblock %}

<p class="nav-internal--breadcrumb">
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class=" nav-internal--breadcrumb__home">
        <span>Start</span>
    </a>
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.id}) }}" class="nav-internal--breadcrumb__dossier">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Dossier: {% if dossier.clientVoorletters %}{{ dossier.clientVoorletters|trim }} {% endif %}{{ dossier.clientNaam }}</span>
    </a>
    <a href="#" class="nav-internal--breadcrumb__section in-active">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Prullenbak</span>
    </a>
</p>

<div class="document well">
    {% include 'Dossier/partial.dossierDetailHeader.html.twig' with {'dossier': dossier, 'title': 'Prullenbak'} only %}

    <h2>Documenten</h2>
    <div class="table table-actions">
        <table>
            <thead>
                <tr>
                    <th width="100%">Document</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
{% set empty = true %}
{% for document in dossierDocumenten if (document.schuldItem is empty or document.schuldItem.verwijderd == false) %}
{% set empty = false %}
                <tr>
                    <th>{{ document.document.naam }}</th>
                    <td>
                        <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_removedocument', {'dossierId': dossier.id, 'documentId': document.document.id}) }}" method="post" data-submitter="zeker-weten">
                            <input type="hidden" name="token" value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_removedocument') }}">
                            <button type="submit" class="link danger"><i class="icon-prullenbak"></i> Definitief verwijderen</button>
                        </form>
                    </td>
                    <td>
                      <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_restoredocument', {'dossierId': dossier.id, 'documentId': document.document.id}) }}" method="post">
                          <input type="hidden" name="token" value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_restoredocument') }}">
                          <button type="submit" class="link"><i class="icon-undo"></i> Herstellen</button>
                      </form>
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
{% if empty %}
        <p class="empty-table">Geen documenten in prullenbak</p>
{% endif %}
    </div>

    <h2>Schulden</h2>
    <div class="table table-actions">
        <table>
            <thead>
                <tr>
                    <th>Schuldeiser</th>
                    <th>Incassant</th>
                    <th>Referentie</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
{% set empty = true %}
{% for schuldItem in schuldItems %}
{% set empty = false %}
                <tr>
                    <td>{{ schuldItem.schuldeiser }}</td>
                    <td>{{ schuldItem.incassant }}</td>
                    <td>{{ schuldItem.referentie }}</td>
                    <td>
                        <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_removeschulditem', {'dossierId': dossier.id, 'schuldItemId': schuldItem.id}) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_removeschulditem') }}">
                            <button type="submit" class="link danger"><i class="icon-prullenbak"></i> Definitief verwijderen</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_restoreschulditem', {'dossierId': dossier.id, 'schuldItemId': schuldItem.id}) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_restoreschulditem') }}">
                            <button type="submit" class="link"><i class="icon-undo"></i> Herstellen</button>
                        </form>
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
{% if empty %}
        <p class="empty-table">Geen schulden in prullenbak</p>
{% endif %}
    </div>
</div>
{% endblock %}
