{% extends 'master.html.twig' %}

{% block title %}{{ dossier.clientNaam }} - {{ parent() }}{% endblock %}

{% block body_classes %}{{ parent() }} voorlegger user-type-{{ app.user.type }}{% endblock %}

{% block document %}
    <div class="dossier">
        {% if not dossier.isInPrullenbak %}
            {% include 'Dossier/partial.dossierWorkflow.html.twig' with {'dossier': dossier} only %}
        {% endif %}


        {% include 'Dossier/partial.dossierHeader.html.twig' with {'dossier': dossier, 'active': 'aanvraag'} only %}
    {{ form_start(voorleggerForm, {'attr': {'id': 'voorlegger_form', 'data-submitter': 'save', 'data-result-selector': '.dossier', 'data-changer': 'change', 'novalidate':'novalidate', 'autocomplete': 'off'}}) }}
        {% if dossier.isInPrullenbak %}<h2 class="dossier__deleted__message">Dit dossier is verwijderd</h2>{% else %}
        <button type="submit" class="dossier__save button primary">Opslaan</button>{% endif %}
        <div class="dossier__list-container">
            {% include 'Dossier/partial.dossierDashboard.html.twig' with {'dossier': dossier, 'voorleggerForm': voorleggerForm} only %}
            <div class="dossier__item__dummy active">
                <div class="dossier__voorlegger__header dossier__voorlegger__header__top"><h3>Top</h3></div>
                <div class="dossier__voorlegger__header dossier__voorlegger__header__bottom"><h3>Bottom</h3></div>
            </div>
            <div class="dossier__scroll-container" data-scroller="sticky-section">
                <div class="dossier__scroll-content">
                    <div class="dossier__container team-{% if app.user.type == 'madi' or app.user.type == 'madi_keyuser' %}madi{% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}gka{% endif %}"
                         data-keyupper="vertical-list-nav"
                         data-decorator="droppable">
                        {% include 'Dossier/partial.voorleggerLegitimatie.html.twig' with {'form': voorleggerForm.legitimatie, 'changeClientForm': voorleggerForm.cdct, 'dossier': dossier, 'title': 'Persoonsgegevens en legitimatie'} only %}
                        {% include 'Dossier/partial.voorleggerVtlb.html.twig' with {'form': voorleggerForm.vtlb, 'dossier': dossier, 'title': 'VTLB (Vrij te laten bedrag)'} only %}

                        <h2>Aanvraag schuldsanering {{ form_errors(voorleggerForm) }}</h2>
                        {% include 'Dossier/partial.voorleggerOndertekendAanvraagFormulier.html.twig' with {'form': voorleggerForm.ondertekendAanvraagFormulier, 'dossier': dossier, 'title': 'Ondertekende volmacht'} only %}
                        {% include 'Dossier/partial.voorleggerToelichtingAanvraagSchuldsaneringClient.html.twig' with {'form': voorleggerForm.toelichtingAanvraagSchuldsaneringClient, 'dossier': dossier, 'title': 'Toelichting cliënt'} only %}
                        {% include 'Dossier/partial.voorleggerToelichtingAanvraagSchuldsaneringMadi.html.twig' with {'form': voorleggerForm.toelichtingAanvraagSchuldsaneringMadi, 'dossier': dossier, 'title': 'Toelichting MaDi/Bewindvoerder'} only %}

                        <h2>Inkomen</h2>
                        {% include 'Dossier/partial.voorleggerInkomstenspecificatie.html.twig' with {'form': voorleggerForm.inkomstenspecificatie, 'dossier': dossier, 'title': 'Inkomstenspecificatie'} only %}
                        {% include 'Dossier/partial.voorleggerArbeidsovereenkomst.html.twig' with {'form': voorleggerForm.arbeidsovereenkomst, 'dossier': dossier, 'title': 'Arbeidsovereenkomst'} only %}
                        {% include 'Dossier/partial.voorleggerBeschikkingUwv.html.twig' with {'form': voorleggerForm.beschikkingUwv, 'dossier': dossier, 'title': 'Beschikking UWV'} only %}
                        {% include 'Dossier/partial.voorleggerVoorlopigeTeruggaafBelastingdienst.html.twig' with {'form': voorleggerForm.voorlopigeTeruggaafBelastingdienst, 'dossier': dossier, 'title': 'Voorlopige teruggaaf Belastingdienst'} only %}
                        {% include 'Dossier/partial.voorleggerAlimentatie.html.twig' with {'form': voorleggerForm.alimentatie, 'dossier': dossier, 'title': 'Alimentatie'} only %}
                        {% include 'Dossier/partial.voorleggerKostgeld.html.twig' with {'form': voorleggerForm.kostgeld, 'dossier': dossier, 'title': 'Kostgeld'} only %}
                        {% include 'Dossier/partial.voorleggerToeslagen.html.twig' with {'form': voorleggerForm.toeslagen, 'dossier': dossier, 'title': 'Toeslagen'} only %}
                        <h2>Uitgaven</h2>
                        {% include 'Dossier/partial.voorleggerHuurspecificatie.html.twig' with {'form': voorleggerForm.huurspecificatie, 'dossier': dossier, 'title': 'Huurspecificatie'} only %}
                        {% include 'Dossier/partial.voorleggerAlimentatieEchtscheidingsconvenant.html.twig' with {'form': voorleggerForm.alimentatieEchtscheidingsconvenant, 'dossier': dossier, 'title': 'Alimentatie Echtscheidingsconvenant'} only %}
                        {% include 'Dossier/partial.voorleggerPolisbladZorgverzekering.html.twig' with {'form': voorleggerForm.polisbladZorgverzekering, 'dossier': dossier, 'title': 'Polisblad zorgverzekering'} only %}
                        {% include 'Dossier/partial.voorleggerOvereenkomstKinderopvang.html.twig' with {'form': voorleggerForm.overeenkomstKinderopvang, 'dossier': dossier, 'title': 'Overeenkomst kinderopvang'} only %}
                        {% include 'Dossier/partial.voorleggerKwijtscheldingGemeenteBelasting.html.twig' with {'form': voorleggerForm.kwijtscheldingGemeenteBelasting, 'dossier': dossier, 'title': 'Kwijtschelding gemeentebelasting'} only %}
                        <h2>Auto</h2>
                        {% include 'Dossier/partial.voorleggerAutoTaxatie.html.twig' with {'form': voorleggerForm.autoTaxatie, 'dossier': dossier, 'title': 'Auto taxatie'} only %}
                        {% include 'Dossier/partial.voorleggerAutolastenKmWoonwerkverkeer.html.twig' with {'form': voorleggerForm.autolastenKmWoonwerkverkeer, 'dossier': dossier, 'title': 'Autolasten km woon-werk-verkeer'} only %}
                        {% include 'Dossier/partial.voorleggerVerklaringWerkgever.html.twig' with {'form': voorleggerForm.verklaringWerkgever, 'dossier': dossier, 'title': 'Verklaring werkgever'} only %}
                        {% include 'Dossier/partial.voorleggerVrijwaringsbewijs.html.twig' with {'form': voorleggerForm.vrijwaringsbewijs, 'dossier': dossier, 'title': 'Vrijwaringsbewijs'} only %}
                        <h2>Schulden</h2>
                        {% include 'Dossier/partial.voorleggerSchuldenoverzicht.html.twig' with {'form': voorleggerForm.schuldenoverzicht, 'dossier': dossier, 'title': 'Schuldenoverzicht'} only %}
                        {% include 'Dossier/partial.voorleggerInzageToetsingBkr.html.twig' with {'form': voorleggerForm.inzageToetsingBkr, 'dossier': dossier, 'title': 'Inzage toetsing BKR'} only %}
                        {% include 'Dossier/partial.voorleggerStabilisatieovereenkomst.html.twig' with {'form': voorleggerForm.stabilisatieovereenkomst, 'dossier': dossier, 'title': 'Stabilisatieovereenkomst'} only %}
                        {% include 'Dossier/partial.voorleggerCjib.html.twig' with {'form': voorleggerForm.cjib, 'dossier': dossier, 'title': 'CJIB (niet saneerbare vorderingen)'} only %}
                        {% include 'Dossier/partial.voorleggerMeterstandenEnergie.html.twig' with {'form': voorleggerForm.meterstandenEnergie, 'dossier': dossier, 'title': 'Meterstanden energie'} only %}
                        {% include 'Dossier/partial.voorleggerWaternet.html.twig' with {'form': voorleggerForm.waternet, 'dossier': dossier, 'title': 'Waternet'} only %}
                        {% include 'Dossier/partial.voorleggerRetourbewijsModem.html.twig' with {'form': voorleggerForm.retourbewijsModem, 'dossier': dossier, 'title': 'Retourbewijs modem'} only %}
                        {% include 'Dossier/partial.voorleggerAangifteBelasting.html.twig' with {'form': voorleggerForm.belasting, 'dossier': dossier, 'title': 'Aangifte belastingdienst'} only %}
                        <h2>Onderbewindstelling of budgetbeheer</h2>
                        {% include 'Dossier/partial.voorleggerBeschikkingOnderBewindstelling.html.twig' with {'form': voorleggerForm.beschikkingOnderBewindstelling, 'dossier': dossier, 'title': 'Beschikking onderbewindstelling'} only %}
                        {% include 'Dossier/partial.voorleggerBudgetbeheer.html.twig' with {'form': voorleggerForm.budgetbeheer, 'dossier': dossier, 'title': 'Budgetbeheer'} only %}
                        {% include 'Dossier/partial.voorleggerGereserveerdeGelden.html.twig' with {'form': voorleggerForm.gereserveerdeGelden, 'dossier': dossier, 'title': 'Gereserveerde gelden'} only %}
                        <h2>Overige</h2>
                        {% include 'Dossier/partial.voorleggerOverigeDocumenten.html.twig' with {'form': voorleggerForm.overigeDocumenten, 'dossier': dossier, 'title': 'Overige documenten'} only %}
                        {% include 'Dossier/partial.voorleggerCorrespondentie.html.twig' with {'form': voorleggerForm.correspondentie, 'dossier': dossier, 'title': 'Correspondentie van GKA'} only %}


                    </div>
                </div>
            </div>
        </div>
        <script id="madi-controlle-dialoog" type="text/template">
            <div class="document document__gray well">
                <div class="form-container">
                    <h1>Ter controle aanbieden</h1>
                    <p>
                        Je staat op het punt om het dossier ter controle aan te bieden.
                        Selecteer hieronder de controleur. Naar hem/haar zal een mail worden gestuurd.
                    </p>
                    <div class="form-row">
                        {{ form_widget(voorleggerForm.controleerGebruiker, {'attr': {'data-validator': 'required'}}) }}
                    </div>
                    <p class="buttons right">
                        <a href="#voorlegger_form" class="modal__button modal__button--validate button primary" data-handler="save-form"
                           data-field="voorlegger_form[cdst][transition]"
                           data-field-value="opgevoerd_madi">Aanbieden</a>
                        <a href="#" class="button secondary" data-handler="modal-close">Annuleer</a>
                    </p>
                </div>
            </div>
        </script>
    {{ form_end(voorleggerForm) }}
    </div>

    <div class="document-timeline hidden" id="document-timeline">
        <h3>Timeline</h3>
        <ul>
            {% for timeline in dossier.timeline %}
                <li>{{ timeline.type|upper }}: {{ timeline.omschrijving }}
                    ({{ timeline.datumtijd|date('d-m-Y H:i:s') }} / {{ timeline.gebruiker|default('-systeem-') }}
                    ) {{ timeline.data|json_encode }}</li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}

{% block flash %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/js/voorlegger.js') }}"></script>
{% endblock %}