<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ dossier.clientNaam }} - voorlegger</title>
<meta name="viewport" content="width = device-width">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body class="voorlegger {{ app.user.type }}">

<header>
<h1>Voorlegger {{ dossier.clientNaam }}</h1>


<table>
{% if dossier.partnerNaam is not empty %}
	<tr>
		<td>Partner</td>
		<td>{{ dossier.partnerNaam }}</td>
	</tr>
{% endif %}
	<tr>
		<td>Schuldhulpbureau</td>
		<td>{{ dossier.schuldhulpbureau }}</td>
	</tr>
	{{ form_row(form.teamGka)}}
	{{ form_row(form.regasNummer)}}
	{{ form_row(form.allegroNummer)}}
	<tr>
		<td></td>
		<td><input type="submit" value="Sla op"></td>
	</tr>
</table>

<p><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">Terug naar overzicht</a></p>
</header>


<section class="header">
    <span></span>
    <span>MaDi</span>
    <span>GKA</span>
</section>

{{ form_start(form) }}

<section class="topLevel eerste">
    <h3>Legitimatie</h3>
    <span class="madi">{{ form_widget(form.voorlegger.legitimatieOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.legitimatieOntvangenGka)}}</span>
</section>

<section class="topLevel">
    <h3>VTLB</h3>
    <span class="madi">{{ form_widget(form.voorlegger.vtlbMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.vtlbGka)}}</span>
</section>

<section class="subheader">
    <h2>Inkomsten</h2>
    <span class="madi"></span>
    <span class="gka"></span>
</section>

<section>
    <h3>Inkomstenspecificatie</h3>
    <span class="madi">{{ form_widget(form.voorlegger.inkomstenspecificatieOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.inkomstenspecificatieOntvangenGka)}}</span>
</section>

<section>
    <h3>Arbeidsovereenkomst</h3>
    <span class="madi">{{ form_widget(form.voorlegger.arbeidsovereenkomstOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.arbeidsovereenkomstOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.arbeidsovereenkomstNvt)}} n.v.t.</label></span>
</section>

<section class="metSub">
    <h3>Beschikking UWV</h3>
    <span class="madi"></span>
    <span class="gka"></span>
    <span><label>{{ form_widget(form.voorlegger.beschikkingUwvNvt)}} n.v.t.</label></span>
    <div>
    <label>{{ form_widget(form.voorlegger.beschikkingUwvWw)}} WW</label>
    <label>{{ form_widget(form.voorlegger.beschikkingUwvWia)}} WIA</label>
    <label>{{ form_widget(form.voorlegger.beschikkingUwvZw)}} ZW</label>
    <label>{{ form_widget(form.voorlegger.beschikkingUwvOverig,{attr: {
        'placeholder': 'Overig',
        'class': 'overig',
    }})}}</label>
    </div>
</section>

<section>
    <h3>Voorlopige teruggave Belastingdienst</h3>
    <span class="madi">{{ form_widget(form.voorlegger.voorlopigeTerugaafBelastingdienstOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.voorlopigeTerugaafBelastingdienstOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.voorlopigeTerugaafBelastingdienstNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Alimentatie ontvangen</h3>
    <span class="madi">{{ form_widget(form.voorlegger.alimentatieOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.alimentatieOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.alimentatieNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Kostgeld</h3>
    <span class="madi">{{ form_widget(form.voorlegger.kostgeldOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.kostgeldOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.kostgeldNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Huurtoeslag</h3>
    <span class="madi">{{ form_widget(form.voorlegger.huurtoeslagOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.huurtoeslagOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.huurtoeslagNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Zorgtoeslag</h3>
    <span class="madi">{{ form_widget(form.voorlegger.zorgtoeslagOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.zorgtoeslagOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.zorgtoeslagNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Kinderopvangtoeslag</h3>
    <span class="madi">{{ form_widget(form.voorlegger.kinderopvangtoeslagOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.kinderopvangtoeslagOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.kinderopvangtoeslagNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Kindgebonden budget</h3>
    <span class="madi">{{ form_widget(form.voorlegger.kindgebondenBudgetOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.kindgebondenBudgetOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.kindgebondenBudgetNvt)}} n.v.t.</label></span>
</section>

<section class="subheader">
    <h2>Uitgaven</h2>
    <span class="madi"></span>
    <span class="gka"></span>
</section>


<section>
    <h3>Huurspecificatie / kostgeldspecificatie</h3>
    <span class="madi">{{ form_widget(form.voorlegger.huurspecificatieOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.huurspecificatieOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.huurspecificatieNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Polisblad zorgverzekering</h3>
    <span class="madi">{{ form_widget(form.voorlegger.polisbladZorgverzekeringOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.polisbladZorgverzekeringOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.polisbladZorgverzekeringNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Alimentatie (echtscheidingsconvenant)</h3>
    <span class="madi">{{ form_widget(form.voorlegger.alimentatieEchtscheidingsconvenantOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.alimentatieEchtscheidingsconvenantOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.alimentatieEchtscheidingsconvenantNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Overeenkomst kinderopvang + kostenspecificatie</h3>
    <span class="madi">{{ form_widget(form.voorlegger.overeenkomstKinderopvangOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.overeenkomstKinderopvangOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.overeenkomstKinderopvangNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Kwijtschelding gemeentebelasting</h3>
    <span class="madi"></span>
    <span class="gka"></span>
    <span><label>{{ form_widget(form.voorlegger.kwijtscheldingGemeenteBelastingNvt)}} n.v.t.</label></span>
    <div>
    <span>Ja</span><span>Nee</span><sp
    </div>
</section>

<section>
    <h3>Corrigeren GemeenteBelasting</h3>
    <span class="madi"></span>
    <span class="gka">{{ form_widget(form.voorlegger.corrigerenGemeenteBelastingOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.corrigerenGemeenteBelastingNvt)}} n.v.t.</label></span>
</section>

<section class="subheader">
    <h2>Auto</h2>
    <span class="madi"></span>
    <span class="gka"></span>
</section>


<section>
    <h3>Km woonwerkverkeer</h3>
    <span class="madi">{{ form_widget(form.voorlegger.autolastenKmWoonwerkverkeerOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.autolastenKmWoonwerkverkeerOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.autolastenKmWoonwerkverkeerNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Verklaring werkgever</h3>
    <span class="madi">{{ form_widget(form.voorlegger.verklaringWerkgeverOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.verklaringWerkgeverOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.verklaringWerkgeverNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Vrijwaringsbewijs</h3>
    <span class="madi">{{ form_widget(form.voorlegger.vrijwaringsbewijsOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.vrijwaringsbewijsOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.vrijwaringsbewijsNvt)}} n.v.t.</label></span>
</section>

<section class="subheader">
    <h2>Schulden</h2>
    <span class="madi"></span>
    <span class="gka"></span>
</section>


<section>
    <h3>Schuldenoverzicht</h3>
    <span class="madi">{{ form_widget(form.voorlegger.schuldenoverzichtOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.schuldenoverzichtOntvangenGka)}}</span>
</section>


<section>
    <h3>Vorderingen</h3>
    <span class="madi">{{ form_widget(form.voorlegger.vorderingenOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.vorderingenOntvangenGka)}}</span>
</section>


<section>
    <h3>Inzage toetsing BKR</h3>
    <span class="madi">{{ form_widget(form.voorlegger.inzageToetsingBkrOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.inzageToetsingBkrOntvangenGka)}}</span>
</section>

<section>
    <h3>Stabilisatieovereenkomst</h3>
    <span class="madi">{{ form_widget(form.voorlegger.stabilisatieovereenkomstOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.stabilisatieovereenkomstOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.stabilisatieovereenkomstNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>CJIB (niet saneerbare vorderingen)</h3>
    <span class="madi">{{ form_widget(form.voorlegger.cjibOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.cjibOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.cjibNvt)}} n.v.t.</label></span>
</section>

<section><h3>&nbsp;</h3></section>

<section>
    <h3>Meterstanden huidige energiemaatschappij</h3>
    <span class="madi">{{ form_widget(form.voorlegger.meterstandenEnergieOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.meterstandenEnergieOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.meterstandenEnergieNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Meterstanden Waternet</h3>
    <span class="madi">{{ form_widget(form.voorlegger.waternetOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.waternetOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.waternetNvt)}} n.v.t.</label></span>
</section>


<section>
    <h3>Bewijs verzending modem</h3>
    <span class="madi">{{ form_widget(form.voorlegger.retourbewijsModemOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.retourbewijsModemOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.retourbewijsModemNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Toelichting aanvraag schuldsanering</h3>
    <span class="madi">{{ form_widget(form.voorlegger.toelichtingAanvraagSchuldsaneringOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.toelichtingAanvraagSchuldsaneringOntvangenGka)}}</span>
</section>

<section class="subheader">
    <h2>Bewindstelling of budgetbeheer</h2>
    <span class="madi"></span>
    <span class="gka"></span>
</section>

<section>
    <h3>Bewindstelling of budgetbeheer</h3>
    <span></span>
    <span></span>
    <span><label>{{ form_widget(form.voorlegger.bewindstellingOfBudgetbeheerNvt)}} n.v.t.</label></span>
</section>

<section>
    <h3>Beschikking onderbewindstelling</h3>
    <span class="madi">{{ form_widget(form.voorlegger.beschikkingOnderBewindstellingOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.beschikkingOnderBewindstellingOntvangenGka)}}</span>
    <span><label>{{ form_widget(form.voorlegger.beschikkingOnderBewindstellingNvt)}} n.v.t.</label></span>
</section>

<section class="metSub">
    <h3>Budgetbeheer</h3>
    <span class="madi"></span>
    <span class="gka"></span>
    <span><label>{{ form_widget(form.voorlegger.budgetbeheerNvt)}} n.v.t.</label></span>
    <div>
    <label>{{ form_widget(form.voorlegger.budgetbeheerPlangroep)}} Plangroep</label>
    <label>{{ form_widget(form.voorlegger.budgetbeheerCav)}} CAV</label>
    <label>{{ form_widget(form.voorlegger.budgetbeheerFibi)}} Fibi</label>
    <label>{{ form_widget(form.voorlegger.budgetbeheerOverig,{attr: {
        'placeholder': 'Overig',
        'class': 'overig',
    }})}}</label>
    </div>
</section>

<section>
    <h3>Gereserveerde gelden</h3>
    <span class="madi">{{ form_widget(form.voorlegger.gereserveerdeGeldenOntvangenMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.gereserveerdeGeldenOntvangenGka)}}</span>
    <span><label<>{{ form_widget(form.voorlegger.gereserveerdeGeldenNvt)}} n.v.t.</label></span>
</section>

<section class="laatste">
    <h3>Ondertekend aanvraagformulier</h3>
    <span class="madi">{{ form_widget(form.voorlegger.ondertekendAanvraagFormulierMadi)}}</span>
    <span class="gka">{{ form_widget(form.voorlegger.ondertekendAanvraagFormulierGka)}}</span>
</section>

<footer>

<h3>Aanvullende informatie</h3>
{{ form_widget(form.voorlegger.aanvullendeInformatie)}}

<h2>Meterstanden en aanverwanten</h2>

<table>
	{{ form_row(form.voorlegger.energieBedrijf) }}
	{{ form_row(form.voorlegger.energieBedrijfKlantnummer) }}
	{{ form_row(form.voorlegger.energieBedrijfDatumOpname) }}
	{{ form_row(form.voorlegger.energieBedrijfT1) }}
	{{ form_row(form.voorlegger.energieBedrijfT2) }}
	{{ form_row(form.voorlegger.energieBedrijfGas) }}
	{{ form_row(form.voorlegger.warmteBedrijf) }}
	{{ form_row(form.voorlegger.warmteBedrijfKlantnummer) }}
	{{ form_row(form.voorlegger.warmteBedrijfDatumOpname) }}
	{{ form_row(form.voorlegger.warmteBedrijfOpname) }}
	{{ form_row(form.voorlegger.drinkwaterKlantnummer) }}
	{{ form_row(form.voorlegger.drinkwaterDatumOpname) }}
	{{ form_row(form.voorlegger.drinkwaterOpname) }}
</table>

<p><input type="submit" value="Sla op"></p>

{{ form_end(form) }}

<p><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">Terug naar overzicht</a></p>

</footer>

<!--
<p>Werkt nog niet</p>
<label class="GKA"><input type="checkbox" name="klaar_voor_GKA"> Dit dossier is klaar voor het GKA</label>
<input type="submit" value="Stuur in naar GKA">
-->

</body>
</html>