{% extends 'master.html.twig' %}

{% block title %}{{ dossier.clientNaam }} - {{ parent() }}{% endblock %}

{% block document %}
    <nav class="nav-internal">
        <ul>
            <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" data-decorator="get-overview-state" data-context="dossier"><i class="icon-arrow-left"></i><span>Terug naar overzicht<span></a></li>
        </ul>
    </nav>
    
    <div class="document well">
      
      {% include 'Dossier/partial.dossierDetailHeader.html.twig' with {'dossier': dossier} only %}
      
      {% include 'Dossier/partial.dossierDetailNav.html.twig' with {'dossier': dossier, 'active': 'aantekeningen'} only %}
      
      <div class="aantekening-form">
        {{ form_start(form) }}
        <h2>Aantekeningen</h2>
        {{ form_row(form.tekst) }}
        <p class="buttons right">
          <button type="submit" class="button">Aantekening toevoegen</button>
        </p>
        {{ form_end(form) }}
      </div>
      <div class="aantekeningen">
          {% for aantekening in dossier.aantekeningen %}
              {% include 'Dossier/partial.aantekening.html.twig' with {'aantekening': aantekening, 'showContext': true} %}
          {% endfor %}
      </div>
      
    </div>
{% endblock %}