
{% extends 'base.html.twig' %}

{% block title %}
	Schuldenlijst
{% endblock %}

{% block extraScripts %}
<script src="/js/schuldenlijst.js"></script>
<link rel="stylesheet" href="/css/schuldenlijst.css">
<script src="/js/datepicker.js"></script>
<script src="/vendor/bevacqua/horsey/dist/horsey.min.js"></script>
<link rel="stylesheet" href="/css/datepicker.css">
<link rel="stylesheet" href="/vendor/bevacqua/horsey/dist/horsey.min.css">
{% endblock %}

{% block main %}
	<h1>SCHULDENLIJST</h1>
{% for schuldItem in schuldItems if schuldItem.verwijderd == false %}
    <p>{{ schuldItem.id }}</p>
    {{ form(updateForms[schuldItem.id]) }}
{% endfor %}
	
	<section class="accordeon">
	</section>
	<p class="totaal">Totale schuld: <span id="totaleSchuld"></span>
	<div class="knoppenbalk"><button class="secundair" id="nieuweSchuld">Nieuwe schuld</button></div>
	
<div id="uploadVenster" style="visibility:visibe">
	<p>Voer hier een nieuwe schuldeiser in.</p>
	{{ form_start(createSchuldeiserForm) }}
	{{ form_row(createSchuldeiserForm.bedrijfsnaam) }}
	{{ form_row(createSchuldeiserForm.rekening) }}
	<button type="submit" class="primair">Aanmaken</button>
	{{ form_end(createSchuldeiserForm) }}
</div>
	
	
	
	<div id="templates">
	{{ form_start(createForm,{attr:{id:'templateForm'}}) }}
		<section class="velden">
		<!-- label>Schuldeiser {{ form_widget(createForm.schuldeiser) }}</label -->
		<label>Schuldeiser <input name="schuld_item_form[schuldeiser]" id="schuldeiserdata"></label>
		<label></label>
		<label>Incassobureau {{ form_widget(createForm.incassant) }}</label>
		<label>Schuld {{ form_widget(createForm.bedrag) }}</label>
		<label>Ref.nr. {{ form_widget(createForm.referentie) }}</label>
		<label>Datum 1 {{ form_widget(createForm.vastStelDatum) }}</label>
		<label>Preferent {{ form_widget(createForm.type) }}</label>
		<label>Datum 2 {{ form_widget(createForm.ontstaansDatum) }}</label>
		</section>
		<div class="canvases">
			<section class="nieuw">
			<p id="tekst">Nieuw document</p>
			<input type="file">
			</section>
		</div>
		<span style="display:none">{{ form_widget(createForm.verwijderd) }}</span>
		<div class="knoppenbalk"><input type="reset" class="tertiair annuleren" value="Annuleren">
			<button class="secundair verwijderen">Verwijderen</button>
			<input type="submit" class="primair" value="Opslaan"></div>
		<datalist id="schuldeiserdata"></datalist>
{{ form_end(createForm) }}
	</div>
	
{% endblock %}