
{% extends 'base.html.twig' %}

{% block title %}
	Schuldenlijst
{% endblock %}

{% block extraScripts %}
<script src="/js/schuldenlijst.js"></script>
<link rel="stylesheet" href="/css/schuldenlijst.css">
<script src="/js/datepicker.js"></script>
<link rel="stylesheet" href="/css/datepicker.css">
{% endblock %}

{% block main %}
	<h1>SCHULDENLIJST</h1>
{% for schuldItem in schuldItems if schuldItem.verwijderd == false %}
    <p>{{ schuldItem.id }}</p>
    {{ form(updateForms[schuldItem.id]) }}
{% endfor %}
	
	<section class="accordeon">
	</section>
	<p class="totaal">Totale schuld: <span id="totaleSchuld"></span>
	<div class="knoppenbalk"><button class="secundair" id="nieuweSchuldeiser">Nieuwe schuldeiser</button></div>
	
<div id="uploadVenster">
	<form>
	<p>Voer hier een nieuwe schuldeiser in.</p>
	<label>Nieuwe schuldeiser <input></label>
	<label>Bankrekening <input></label>
	<p class="buttons">
		<a class="tertiair cancel">Annuleren</a>
		<span id="spinnerContainer"></span>
		<button type="submit" class="primair">Opslaan</button>
	</p>
	</form>
</div>
	
	
	
	<div id="templates">
	{{ form_start(createForm,{attr:{id:'templateForm'}}) }}
		<section class="velden">
		<!--  label>Schuldeiser {{ form_widget(createForm.schuldeiser) }}</label -->
		<label>Schuldeiser <input name="schuld_item_form[schuldeiser]"></label>
		<label>Incassobureau {{ form_widget(createForm.incassant) }}</label>
		<label>Ref.nr. {{ form_widget(createForm.referentie) }}</label>
		<label>Preferent {{ form_widget(createForm.type) }}</label>
		<label>Schuld {{ form_widget(createForm.bedrag) }}</label>
		<label>Datum 1 {{ form_widget(createForm.vastStelDatum) }}</label>
		<label>Datum 2 <input name="datum2" type="date"> (nog niet)</label>
		</section>
		<div class="canvases">
			<section class="nieuw">
			<p id="tekst">Nieuw document</p>
			<input type="file">
			</section>
		</div>
		<span style="display:none">{{ form_widget(createForm.verwijderd) }}</span>
		<div class="knoppenbalk"><input type="reset" class="tertiair annuleren" value="Annuleren">
			<button class="secundair verwijderen">Verwijderen</button>
			<input type="submit" class="primair" value="Opslaan"></div>
{{ form_end(createForm) }}
	</div>
	
	<div id="nieuweSchuldeiser">
	{{ form_start(createSchuldeiserForm) }}
	{{ form_row(createSchuldeiserForm.bedrijfsnaam) }}
	{{ form_row(createSchuldeiserForm.rekening) }}
	<button type="submit">Aanmaken</button>
	{{ form_end(createSchuldeiserForm) }}
	</div>
{% endblock %}