{% extends 'base.html.twig' %}
{% block title %}
	Aanmelding
{% endblock %}

{% block extraScripts %}
<script>
window.schuldhulp = window.schuldhulp || {};
window.schuldhulp.routes = window.schuldhulp.routes || {};
window.schuldhulp.routes.appdossier_movedocumenttoprullenbak = '{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak', {'dossierId': dossier.id, 'documentId': '__DOCUMENTID__'}) }}'
window.schuldhulp.tokens = window.schuldhulp.tokens || {};
window.schuldhulp.tokens.appdossier_movedocumenttoprullenbak = '{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak') }}';
</script>
{% endblock %}


{% block main %}

{% for type, messages in app.flashes %}
	{% for message in messages %}
		<div class="flash-message flash-type-{{ type }}">
			<a class="btn" href="#close-flash">x</a>
			<span class="message">{{ message }}</span>
		</div>
	{% endfor %}
{% endfor %}

{{ form_start(form, {'attr': {'id': 'voorlegger_mainform'}}) }}

<section id="formulierKop">
<h1>Voorlegger {{ dossier.clientNaam }}</h1>

{% if dossier.inPrullenbak %}
    <p><strong>Dit dossier staat in de prullenbak!</strong></p>
{% endif %}


<table>
{% if dossier.partnerNaam is not empty %}
	<tr>
		<td>Partner</td>
		<td>{{ dossier.partnerNaam }}</td>
	</tr>
	<tr>
		<td>Datum aanmaak dossier</td>
		<td>{{ dossier.aanmaakDatumTijd|date('d-m-Y') }}</td>
		<td></td>
	</tr>
{% endif %}
	<tr>
		<td>MaDi medewerker</td>
		<td>{{ dossier.aanmaker.naam }}</td>
	</tr>
	<tr>
		<td>Schuldhulpbureau</td>
		<td>{{ dossier.schuldhulpbureau }}</td>
	</tr>
	{{ form_row(form.teamGka)}}
	{{ form_row(form.regasNummer)}}
	{{ form_row(form.allegroNummer)}}
	{{ form_row(form.status)}}
</table>

<div class="knoppenbalk">
	<a class="tertiair">Annuleren</a>
	<div class="hoofdknoppen"><a class="secundair" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_adddocumentviawizard', {'dossierId': dossier.id}) }}">Meerdere documenten toevoegen</a>
	<input type="submit" class="primair" value="Opslaan"></div>
</div>
	{{ form_end(form) }}
</section>
<div id="documenten" style="display: none">
{% for document in dossier.getDocumenten if document.document.inPrullenbak == false %}
	<li data-onderwerp="{{ document.onderwerp }}">
		<a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocument', {'dossierId': document.dossier.id, 'documentId': document.document.id}) }}">{{ document.document.naam }}</a> |
        <a class="link-as-submit" data-token="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak') }}" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak', {'dossierId': document.dossier.id, 'documentId': document.document.id}) }}">verwijderen</a>
	</li>
{% endfor %}
</div>
<section>

<section class="accordeon aanmelding">
{% for categorie in categorieen %}
	<h3>{{ categorie.schermNaam }} <span>({{ dossier.getDocumentenByOnderwerp(categorie.systeemNaam)|length }} documenten)</span></h3>
	<div class="container" data-systeemnaam="{{ categorie.systeemNaam }}">
	{% set form = voorleggerForms[categorie.systeemNaam]|default('') %}
	{% if form is empty %}
	   <p>Dit moeten we nog implementeren: {{ categorie.systeemNaam }}</p>
	{% else %}
	   {{ form_start(form) }}
	<p class="checkboxes">
		{% if categorie.madi == true %}
			<label>{{ form_widget(form[categorie.systeemNaam ~ 'OntvangenMadi']) }} Madi</label>
		{% endif %}
		{% if categorie.gka == true %}
			<label>{{ form_widget(form[categorie.systeemNaam ~ 'OntvangenGka']) }} Gka</label>
		{% endif %}
		{% if categorie.nvt == true %}
			<label>{{ form_widget(form[categorie.systeemNaam ~ 'Nvt']) }} n.v.t.</label>
		{% endif %}
	</p>
	{% if dossier.getDocumentenByOnderwerp(categorie.systeemNaam)|length > 0 %}
	<p>Toegevoegde documenten:</p>
	<ul class="documentenLijst">
	{% for dossierDocument in dossier.getDocumentenByOnderwerp(categorie.systeemNaam) %}
	   <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocument', {'dossierId': dossier.id, 'documentId': dossierDocument.document.id}) }}">{{ dossierDocument.document.naam }}</a></li>
	{% endfor %}
	</ul>
	{% endif %}
	<p>
	   Nieuw document {{ form_widget(form.file) }}
	   Document naam {{ form_widget(form.fileNaam) }}</p>
	<p><button type="submit">Opslaan</button></p>
	{{ form_end(form) }}
	{% endif %}
	</div>
{% endfor %}
</section>

{% endblock %}
