<!DOCTYPE html>
<html lang="nl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ dossier.clientNaam }} - voorlegger</title>
<meta name="viewport" content="width = device-width">
<link rel="stylesheet" href="/css/styles.css">
<script src="/js/script.js"></script>
</head>

<body class="voorlegger {{ app.user.type }}">

<header>
<h1>Voorlegger {{ dossier.clientNaam }}</h1>


{{ form_start(form) }}

<table>
{% if dossier.partnerNaam is not empty %}
	<tr>
		<td>Partner</td>
		<td>{{ dossier.partnerNaam }}</td>
	</tr>
{% endif %}
	<tr>
		<td>Schuldhulpbureau</td>
		<td>{{ dossier.schuldhulpbureau }}</td>
	</tr>
	{{ form_row(form.teamGka)}}
	{{ form_row(form.regasNummer)}}
	{{ form_row(form.allegroNummer)}}
	<tr>
		<td></td>
		<td><input type="submit" value="Sla op"></td>
	</tr>
</table>

<p><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">Terug naar overzicht</a></p>
</header>

<div id="documenten">
{% for document in dossier.getDocumenten %}
	<li data-onderwerp="{{ document.onderwerp }}">
		<a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocument', {'dossierId': document.dossier.id, 'documentId': document.document.id}) }}">{{ document.document.naam }}</a>
	</li>
{% endfor %}
</div>

<table class="main">
	<thead>
		<tr>
			<th></th>
			<th>MaDi</th>
			<th>GKA</th>
		</tr>
	</thead>
	<tbody>
<tr class="topLevel eerste">
	<td>
		<h3>Legitimatie</h3>
	</td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.legitimatieOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.legitimatieOntvangenGka)}}</label></td>
</tr>


<tr class="topLevel">
	<td><h3>VTLB</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.vtlbMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.vtlbGka)}}</label></td>
</tr>

<tr class="subheader">
	<td><h2>Inkomsten</h2></td>
	<td class="madi"></td>
	<td class="gka"></td>
</tr>

<tr>
	<td><h3>Inkomensspecificatie</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.inkomstenspecificatieOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.inkomstenspecificatieOntvangenGka)}}</label></td>
</tr>

<tr>
	<td><h3>Arbeidsovereenkomst</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.arbeidsovereenkomstOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.arbeidsovereenkomstOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.arbeidsovereenkomstNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Beschikking UWV</h3></td>
	<td class="madi"></td>
	<td class="gka"></td>
	<td><label>{{ form_widget(form.voorlegger.beschikkingUwvNvt)}} n.v.t.</label></td>
</tr>

<tr class="sub">
	<td colspan="4">
	<div>
	<label>{{ form_widget(form.voorlegger.beschikkingUwvWw)}} WW</label>
	<label>{{ form_widget(form.voorlegger.beschikkingUwvWia)}} WIA</label>
	<label>{{ form_widget(form.voorlegger.beschikkingUwvZw)}} ZW</label>
	<label>{{ form_widget(form.voorlegger.beschikkingUwvOverig,{attr: {
		'placeholder': 'Overig',
		'class': 'overig',
	}})}}</label>
	</div>
	</td>
</tr>

<tr>
	<td><h3>Voorlopige teruggave Belastingdienst</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.voorlopigeTerugaafBelastingdienstOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.voorlopigeTerugaafBelastingdienstOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.voorlopigeTerugaafBelastingdienstNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Alimentatie ontvangen</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.alimentatieOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.alimentatieOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.alimentatieNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Kostgeld</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.kostgeldOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.kostgeldOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.kostgeldNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Huurtoeslag</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.huurtoeslagOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.huurtoeslagOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.huurtoeslagNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Zorgtoeslag</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.zorgtoeslagOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.zorgtoeslagOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.zorgtoeslagNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Kinderopvangtoeslag</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.kinderopvangtoeslagOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.kinderopvangtoeslagOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.kinderopvangtoeslagNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Kindgebonden budget</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.kindgebondenBudgetOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.kindgebondenBudgetOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.kindgebondenBudgetNvt)}} n.v.t.</label></td>
</tr>

<tr class="subheader">
	<td><h2>Uitgaven</h2></td>
	<td class="madi"></td>
	<td class="gka"></td>
</tr>


<tr>
	<td><h3>Huurspecificatie / kostgeldspecificatie</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.huurspecificatieOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.huurspecificatieOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.huurspecificatieNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Polisblad zorgverzekering</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.polisbladZorgverzekeringOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.polisbladZorgverzekeringOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.polisbladZorgverzekeringNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Alimentatie (echtscheidingsconvenant)</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.alimentatieEchtscheidingsconvenantOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.alimentatieEchtscheidingsconvenantOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.alimentatieEchtscheidingsconvenantNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Overeenkomst kinderopvang + kostenspecificatie</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.overeenkomstKinderopvangOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.overeenkomstKinderopvangOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.overeenkomstKinderopvangNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Kwijtschelding gemeentebelasting</h3></td>
	<td class="madi"></td>
	<td class="gka"></td>
	<td><label>{{ form_widget(form.voorlegger.kwijtscheldingGemeenteBelastingNvt)}} n.v.t.</label></td>
</tr>

<tr class="sub">
	<td colspan="4">
	<div><label>{{ form_widget(form.voorlegger.kwijtscheldingGemeenteBelasting[1]) }} Ja</label><label>{{ form_widget(form.voorlegger.kwijtscheldingGemeenteBelasting[0]) }} Nee</label></div>
	{% do form.voorlegger.kwijtscheldingGemeenteBelasting.setRendered() %}
</td>
</tr>

<tr>
	<td><h3>Corrigeren GemeenteBelasting</h3></td>
	<td class="madi"></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.corrigerenGemeenteBelastingOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.corrigerenGemeenteBelastingNvt)}} n.v.t.</label></td>
</tr>

<tr class="subheader">
	<td><h2>Auto</h2></td>
	<td class="madi"></td>
	<td class="gka"></td>
	<td><label>{{ form_widget(form.voorlegger.autoNvt)}} n.v.t.</label></td>
</tr>


<tr>
	<td><h3>Auto taxatie</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.autoTaxatieOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.autoTaxatieOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.autoTaxatieNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Km woonwerkverkeer</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.autolastenKmWoonwerkverkeerOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.autolastenKmWoonwerkverkeerOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.autolastenKmWoonwerkverkeerNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Verklaring werkgever</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.verklaringWerkgeverOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.verklaringWerkgeverOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.verklaringWerkgeverNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Vrijwaringsbewijs</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.vrijwaringsbewijsOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.vrijwaringsbewijsOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.vrijwaringsbewijsNvt)}} n.v.t.</label></td>
</tr>

<tr class="subheader">
	<td><h2>Schulden</h2></td>
	<td class="madi"></td>
	<td class="gka"></td>
</tr>


<tr>
	<td><h3>Schuldenoverzicht</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.schuldenoverzichtOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.schuldenoverzichtOntvangenGka)}}</label></td>
</tr>


<tr>
	<td><h3>Vorderingen</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.vorderingenOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.vorderingenOntvangenGka)}}</label></td>
</tr>


<tr>
	<td><h3>Inzage toetsing BKR</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.inzageToetsingBkrOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.inzageToetsingBkrOntvangenGka)}}</label></td>
</tr>

<tr>
	<td><h3>Stabilisatieovereenkomst</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.stabilisatieovereenkomstOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.stabilisatieovereenkomstOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.stabilisatieovereenkomstNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>CJIB (niet saneerbare vorderingen)</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.cjibOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.cjibOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.cjibNvt)}} n.v.t.</label></td>
</tr>

<tr><td><h3>&nbsp;</h3></td></tr>

<tr>
	<td><h3>Meterstanden huidige energiemaatschappij</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.meterstandenEnergieOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.meterstandenEnergieOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.meterstandenEnergieNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Meterstanden Waternet</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.waternetOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.waternetOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.waternetNvt)}} n.v.t.</label></td>
</tr>


<tr>
	<td><h3>Bewijs verzending modem</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.retourbewijsModemOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.retourbewijsModemOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.retourbewijsModemNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Toelichting aanvraag schuldsanering</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.toelichtingAanvraagSchuldsaneringOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.toelichtingAanvraagSchuldsaneringOntvangenGka)}}</label></td>
</tr>

<tr class="subheader">
	<td><h2>Bewindstelling of budgetbeheer</h2></td>
	<td class="madi"></td>
	<td class="gka"></td>
	<td><label>{{ form_widget(form.voorlegger.bewindstellingOfBudgetbeheerNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Beschikking onderbewindstelling</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.beschikkingOnderBewindstellingOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.beschikkingOnderBewindstellingOntvangenGka)}}</label></td>
	<td><label>{{ form_widget(form.voorlegger.beschikkingOnderBewindstellingNvt)}} n.v.t.</label></td>
</tr>

<tr>
	<td><h3>Budgetbeheer</h3></td>
	<td class="madi"></td>
	<td class="gka"></td>
	<td><label>{{ form_widget(form.voorlegger.budgetbeheerNvt)}} n.v.t.</label></td>
</tr>
<tr class="sub">
	<td colspan="4">
	<div>
	<label>{{ form_widget(form.voorlegger.budgetbeheerPlangroep)}} Plangroep</label>
	<label>{{ form_widget(form.voorlegger.budgetbeheerCav)}} CAV</label>
	<label>{{ form_widget(form.voorlegger.budgetbeheerFibu)}} Fibu</label>
	<label>{{ form_widget(form.voorlegger.budgetbeheerOverig,{attr: {
		'placeholder': 'Overig',
		'class': 'overig',
	}})}}</label>
	</div>
	</td>
</tr>

<tr>
	<td><h3>Gereserveerde gelden</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.gereserveerdeGeldenOntvangenMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.gereserveerdeGeldenOntvangenGka)}}</label></td>
	<td><label<>{{ form_widget(form.voorlegger.gereserveerdeGeldenNvt)}} n.v.t.</label></td>
</tr>

<tr class="laatste">
	<td><h3>Ondertekend aanvraagformulier</h3></td>
	<td class="madi"><label>{{ form_widget(form.voorlegger.ondertekendAanvraagFormulierMadi)}}</label></td>
	<td class="gka"><label>{{ form_widget(form.voorlegger.ondertekendAanvraagFormulierGka)}}</label></td>
</tr>
	</tbody>
</table>

<h2>Aanvullende informatie</h2>
{{ form_widget(form.voorlegger.aanvullendeInformatie)}}

<h2>Meterstanden en aanverwanten</h2>

<table>
	{{ form_row(form.voorlegger.energieBedrijf) }}
	{{ form_row(form.voorlegger.energieBedrijfKlantnummer) }}
	{{ form_row(form.voorlegger.energieBedrijfDatumOpname) }}
	{{ form_row(form.voorlegger.energieBedrijfT1) }}
	{{ form_row(form.voorlegger.energieBedrijfT2) }}
	{{ form_row(form.voorlegger.energieBedrijfGas) }}
	{{ form_row(form.voorlegger.warmteBedrijf) }}
	{{ form_row(form.voorlegger.warmteBedrijfKlantnummer) }}
	{{ form_row(form.voorlegger.warmteBedrijfDatumOpname) }}
	{{ form_row(form.voorlegger.warmteBedrijfOpname) }}
	{{ form_row(form.voorlegger.drinkwaterKlantnummer) }}
	{{ form_row(form.voorlegger.drinkwaterDatumOpname) }}
	{{ form_row(form.voorlegger.drinkwaterOpname) }}
</table>

<p><input type="submit" value="Sla op"></p>

{{ form_end(form) }}

<div id="uploadVenster">
{{ form_start(uploadForm,{attr: {id: 'uploadForm'}}) }}
	<p>U gaat nu een document uploaden. Voeg hier informatie aan toe.</p>
	{{ form_widget(uploadForm.document.file) }}
	{{ form_row(uploadForm.document.naam) }}
	{{ form_row(uploadForm.onderwerp) }}
	<p class="buttons"><button>Annuleer</button><span id="spinnerContainer"></span><input type="submit" class="primair" value="Sla op"></p>
{{ form_end(uploadForm) }}
</div>


<p><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">Terug naar overzicht</a></p>

<!--
<p>Werkt nog niet</p>
<label class="GKA"><input type="checkbox" name="klaar_voor_GKA"> Dit dossier is klaar voor het GKA</label>
<input type="submit" value="Stuur in naar GKA">
-->

</body>
</html>