<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ dossier.clientNaam }} - voorlegger</title>
<meta name="viewport" content="width = device-width">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body class="voorlegger {{ app.user.type }}">

<header>
<h1>Voorlegger {{ dossier.clientNaam }}</h1>


<table>
{% if dossier.partnerNaam is not empty %}
	<tr>
		<td>Partner</td>
		<td>{{ dossier.partnerNaam }}</td>
	</tr>
{% endif %}
	<tr>
		<td>Schuldhulpbureau</td>
		<td>{{ dossier.schuldhulpbureau }}</td>
	</tr>
	{{ form_row(form.teamGka)}}
	{{ form_row(form.regasNummer)}}
	{{ form_row(form.allegroNummer)}}
	<tr>
		<td></td>
		<td><input type="submit" value="Sla op"></td>
	</tr>
</table>

<p><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">Terug naar overzicht</a></p>
</header>

{{ form_start(form) }}

<table class="main">
	<thead>
		<tr>
			<th></th>
			<th>MaDi</th>
			<th>GKA</th>
		</tr>
	</thead>
	<tbody>
<tr class="topLevel eerste">
    <td><h3>Legitimatie</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.legitimatieOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.legitimatieOntvangenGka)}}</td>
</tr>

<tr class="topLevel">
    <td><h3>VTLB</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.vtlbMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.vtlbGka)}}</td>
</tr>

<tr class="subheader">
    <td><h2>Inkomsten</h2></td>
    <td class="madi"></td>
    <td class="gka"></td>
</tr>

<tr>
    <td><h3>Inkomstenspecificatie</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.inkomstenspecificatieOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.inkomstenspecificatieOntvangenGka)}}</td>
</tr>

<tr>
    <td><h3>Arbeidsovereenkomst</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.arbeidsovereenkomstOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.arbeidsovereenkomstOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.arbeidsovereenkomstNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Beschikking UWV</h3></td>
    <td class="madi"></td>
    <td class="gka"></td>
    <td><label>{{ form_widget(form.voorlegger.beschikkingUwvNvt)}} n.v.t.</label></td>
</tr>

<tr class="sub">
    <td colspan="4">
    <div>
    <label>{{ form_widget(form.voorlegger.beschikkingUwvWw)}} WW</label>
    <label>{{ form_widget(form.voorlegger.beschikkingUwvWia)}} WIA</label>
    <label>{{ form_widget(form.voorlegger.beschikkingUwvZw)}} ZW</label>
    <label>{{ form_widget(form.voorlegger.beschikkingUwvOverig,{attr: {
        'placeholder': 'Overig',
        'class': 'overig',
    }})}}</label>
    </div>
    </td>
</tr>

<tr>
    <td><h3>Voorlopige teruggave Belastingdienst</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.voorlopigeTerugaafBelastingdienstOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.voorlopigeTerugaafBelastingdienstOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.voorlopigeTerugaafBelastingdienstNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Alimentatie ontvangen</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.alimentatieOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.alimentatieOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.alimentatieNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Kostgeld</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.kostgeldOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.kostgeldOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.kostgeldNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Huurtoeslag</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.huurtoeslagOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.huurtoeslagOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.huurtoeslagNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Zorgtoeslag</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.zorgtoeslagOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.zorgtoeslagOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.zorgtoeslagNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Kinderopvangtoeslag</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.kinderopvangtoeslagOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.kinderopvangtoeslagOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.kinderopvangtoeslagNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Kindgebonden budget</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.kindgebondenBudgetOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.kindgebondenBudgetOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.kindgebondenBudgetNvt)}} n.v.t.</label></td>
</tr>

<tr class="subheader">
    <td><h2>Uitgaven</h2></td>
    <td class="madi"></td>
    <td class="gka"></td>
</tr>


<tr>
    <td><h3>Huurspecificatie / kostgeldspecificatie</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.huurspecificatieOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.huurspecificatieOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.huurspecificatieNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Polisblad zorgverzekering</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.polisbladZorgverzekeringOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.polisbladZorgverzekeringOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.polisbladZorgverzekeringNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Alimentatie (echtscheidingsconvenant)</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.alimentatieEchtscheidingsconvenantOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.alimentatieEchtscheidingsconvenantOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.alimentatieEchtscheidingsconvenantNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Overeenkomst kinderopvang + kostenspecificatie</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.overeenkomstKinderopvangOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.overeenkomstKinderopvangOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.overeenkomstKinderopvangNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Kwijtschelding gemeentebelasting</h3></td>
    <td class="madi"></td>
    <td class="gka"></td>
    <td><label>{{ form_widget(form.voorlegger.kwijtscheldingGemeenteBelastingNvt)}} n.v.t.</label></td>
</tr>

<tr class="sub">
    <td colspan="4"><div><label>Ja</label><label>Nee</label></div?</td>
</tr>

<tr>
    <td><h3>Corrigeren GemeenteBelasting</h3></td>
    <td class="madi"></td>
    <td class="gka">{{ form_widget(form.voorlegger.corrigerenGemeenteBelastingOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.corrigerenGemeenteBelastingNvt)}} n.v.t.</label></td>
</tr>

<tr class="subheader">
    <td><h2>Auto</h2></td>
    <td class="madi"></td>
    <td class="gka"></td>
</tr>


<tr>
    <td><h3>Km woonwerkverkeer</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.autolastenKmWoonwerkverkeerOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.autolastenKmWoonwerkverkeerOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.autolastenKmWoonwerkverkeerNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Verklaring werkgever</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.verklaringWerkgeverOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.verklaringWerkgeverOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.verklaringWerkgeverNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Vrijwaringsbewijs</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.vrijwaringsbewijsOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.vrijwaringsbewijsOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.vrijwaringsbewijsNvt)}} n.v.t.</label></td>
</tr>

<tr class="subheader">
    <td><h2>Schulden</h2></td>
    <td class="madi"></td>
    <td class="gka"></td>
</tr>


<tr>
    <td><h3>Schuldenoverzicht</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.schuldenoverzichtOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.schuldenoverzichtOntvangenGka)}}</td>
</tr>


<tr>
    <td><h3>Vorderingen</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.vorderingenOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.vorderingenOntvangenGka)}}</td>
</tr>


<tr>
    <td><h3>Inzage toetsing BKR</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.inzageToetsingBkrOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.inzageToetsingBkrOntvangenGka)}}</td>
</tr>

<tr>
    <td><h3>Stabilisatieovereenkomst</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.stabilisatieovereenkomstOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.stabilisatieovereenkomstOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.stabilisatieovereenkomstNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>CJIB (niet saneerbare vorderingen)</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.cjibOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.cjibOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.cjibNvt)}} n.v.t.</label></td>
</tr>

<tr><td><h3>&nbsp;</h3></td></tr>

<tr>
    <td><h3>Meterstanden huidige energiemaatschappij</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.meterstandenEnergieOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.meterstandenEnergieOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.meterstandenEnergieNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Meterstanden Waternet</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.waternetOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.waternetOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.waternetNvt)}} n.v.t.</label></td>
</tr>


<tr>
    <td><h3>Bewijs verzending modem</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.retourbewijsModemOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.retourbewijsModemOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.retourbewijsModemNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Toelichting aanvraag schuldsanering</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.toelichtingAanvraagSchuldsaneringOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.toelichtingAanvraagSchuldsaneringOntvangenGka)}}</td>
</tr>

<tr class="subheader">
    <td><h2>Bewindstelling of budgetbeheer</h2></td>
    <td class="madi"></td>
    <td class="gka"></td>
</tr>

<tr>
    <td><h3>Bewindstelling of budgetbeheer</h3></td>
    <td></td>
    <td></td>
    <td><label>{{ form_widget(form.voorlegger.bewindstellingOfBudgetbeheerNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Beschikking onderbewindstelling</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.beschikkingOnderBewindstellingOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.beschikkingOnderBewindstellingOntvangenGka)}}</td>
    <td><label>{{ form_widget(form.voorlegger.beschikkingOnderBewindstellingNvt)}} n.v.t.</label></td>
</tr>

<tr>
    <td><h3>Budgetbeheer</h3></td>
    <td class="madi"></td>
    <td class="gka"></td>
    <td><label>{{ form_widget(form.voorlegger.budgetbeheerNvt)}} n.v.t.</label></td>
</tr>
<tr class="sub">
    <td colspan="4">
    <div>
    <label>{{ form_widget(form.voorlegger.budgetbeheerPlangroep)}} Plangroep</label>
    <label>{{ form_widget(form.voorlegger.budgetbeheerCav)}} CAV</label>
    <label>{{ form_widget(form.voorlegger.budgetbeheerFibi)}} Fibi</label>
    <label>{{ form_widget(form.voorlegger.budgetbeheerOverig,{attr: {
        'placeholder': 'Overig',
        'class': 'overig',
    }})}}</label>
    </div>
    </td>
</tr>

<tr>
    <td><h3>Gereserveerde gelden</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.gereserveerdeGeldenOntvangenMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.gereserveerdeGeldenOntvangenGka)}}</td>
    <td><label<>{{ form_widget(form.voorlegger.gereserveerdeGeldenNvt)}} n.v.t.</label></td>
</tr>

<tr class="laatste">
    <td><h3>Ondertekend aanvraagformulier</h3></td>
    <td class="madi">{{ form_widget(form.voorlegger.ondertekendAanvraagFormulierMadi)}}</td>
    <td class="gka">{{ form_widget(form.voorlegger.ondertekendAanvraagFormulierGka)}}</td>
</tr>
	</tbody>
</table>

<h3>Aanvullende informatie</h3>
{{ form_widget(form.voorlegger.aanvullendeInformatie)}}

<td><h2>Meterstanden en aanverwanten</h2></td>

<table>
	{{ form_row(form.voorlegger.energieBedrijf) }}
	{{ form_row(form.voorlegger.energieBedrijfKlantnummer) }}
	{{ form_row(form.voorlegger.energieBedrijfDatumOpname) }}
	{{ form_row(form.voorlegger.energieBedrijfT1) }}
	{{ form_row(form.voorlegger.energieBedrijfT2) }}
	{{ form_row(form.voorlegger.energieBedrijfGas) }}
	{{ form_row(form.voorlegger.warmteBedrijf) }}
	{{ form_row(form.voorlegger.warmteBedrijfKlantnummer) }}
	{{ form_row(form.voorlegger.warmteBedrijfDatumOpname) }}
	{{ form_row(form.voorlegger.warmteBedrijfOpname) }}
	{{ form_row(form.voorlegger.drinkwaterKlantnummer) }}
	{{ form_row(form.voorlegger.drinkwaterDatumOpname) }}
	{{ form_row(form.voorlegger.drinkwaterOpname) }}
</table>

<p><input type="submit" value="Sla op"></p>

{{ form_end(form) }}

<p><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">Terug naar overzicht</a></p>

<!--
<p>Werkt nog niet</p>
<label class="GKA"><input type="checkbox" name="klaar_voor_GKA"> Dit dossier is klaar voor het GKA</label>
<input type="submit" value="Stuur in naar GKA">
-->

</body>
</html>