{% extends 'master.html.twig' %}

{% block title %}{{ dossier.clientNaam }} - {{ parent() }}{% endblock %}

{% block document %}
    
    <nav class="nav-internal">
        <ul>
            <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}"><i class="icon-arrow-left"></i> Terug naar overzicht</a></li>
            <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocumenten', {'dossierId': dossier.id}) }}">Alle documenten</a></li>
            <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailprullenbak', {'dossierId': dossier.id}) }}">Prullenbak</a></li>
        </ul>
    </nav>
    
    <div class="document well">
        <div class="document-header">
            <h1 class="document-title">{{ dossier.clientNaam }}</h1>
        </div>
        {{ form_start(form, {'attr': {'class': 'default-form-style ajax'} }) }}
        {{ form_row(form.clientNaam) }}
        {{ form_row(form.partnerNaam) }}
        <div class="columns">
            <div class="column">
                <h3 class="document-team">MaDi</h3>
                {{ form_row(form.schuldhulpbureau) }}
                {{ form_row(form.medewerkerSchuldhulpbureau) }}
                {{ form_row(form.regasNummer) }}
            </div>
            <div class="column">
                <h3 class="document-team">GKA</h3>
                {{ form_row(form.teamGka) }}
                {{ form_row(form.allegroNummer) }}
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="button primary">Opslaan</button>
        </div>
        {{ form_end(form) }}

        <div class="tabs">
            <ul>
                <li class=""><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detail', {'dossierId': dossier.id}) }}">Aanmelding</a></li>
                <li class="active"><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailschulden', {'dossierId': dossier.id}) }}">Schulden</a></li>
            </ul>
        </div>
        
        <hr>
        <h2>Status van de schuldenlijst:</h2>
        {{ form_start(schuldenoverzichtForm) }}
        {% do schuldenoverzichtForm.file.setRendered() %}
        {{ form_row(schuldenoverzichtForm.schuldenoverzichtOntvangenMadi) }}
        {{ form_row(schuldenoverzichtForm.schuldenoverzichtOntvangenGka) }}
        <button type="submit">Opslaan</button>
        {{ form_end(schuldenoverzichtForm) }}
        <hr>
        
        
        <div class="accordion-container">
{% for schuldItem in schuldItems %}
            {% set form = updateForms[schuldItem.id] %}
            {% include 'Dossier/partial.schuldItem.html.twig' with {'schuldItem': schuldItem, 'form': form, 'dossier': dossier} only %}
{% endfor %}
        </div>
        <div class="form-container">
            <h2>Nieuw schuld toevoegen</h2>
            {{ form_start(createForm, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="columns">
                <div class="column">
                    <div class="form-row">
                        <div class="label-widget">
                            {{ form_label(createForm.schuldeiser) }}
                            <select class="lookup" name="{{ createForm.schuldeiser.vars.full_name }}" id="{{ createForm.schuldeiser.vars.id }}">
                            </select>
                            {% do createForm.schuldeiser.setRendered() %}
                        </div>
                        {{ form_errors(createForm.schuldeiser) }}
                    </div>
                    <div class="form-row">
                        <div class="label-widget">
                            {{ form_label(createForm.incassant) }}
                            <select class="lookup" name="{{ createForm.incassant.vars.full_name }}" id="{{ createForm.incassant.vars.id }}">
                            </select>
                            {% do createForm.incassant.setRendered() %}
                        </div>
                        {{ form_errors(createForm.incassant) }}
                    </div>
                    <div class="form-row">
                        <div class="label-widget">
                            <label>&nbsp;</label>
                            <a href="#nieuwe-schuldeiser">Nieuwe schuldeiser of incassant toevoegen</a>
                        </div>
                    </div>
                    {{ form_row(createForm.type) }}
                    {{ form_row(createForm.referentie) }}
                </div>
                <div class="column">
                    {{ form_row(createForm.bedrag) }}
                    {{ form_row(createForm.vastStelDatum) }}
                    {{ form_row(createForm.ontstaansDatum) }}
                </div>
            </div>
            {{ form_row(createForm.opmerkingen) }}
            {% include 'partial.files-container.html.twig' with {'form_elm': createForm.file} only %}
            <div class="nav">
                {% do createForm.verwijderd.setRendered() %}
                <button type="submit">Aanmaken</button>
            </div>
            {{ form_end(createForm) }}
        </div>
    </div>
    <div class="modal-container" id="nieuwe-schuldeiser">
        <a href="#" class="esc">&nbsp;</a>
        <div class="modal-window">
            <div class="modal-header">
                <h2>Nieuwe schuldeiser</h2>
            </div>
            <div class="modal-body">
                {{ form_start(createSchuldeiserForm, {'attr': {'class': 'default-form-style ajax'} }) }}
                {{ form_row(createSchuldeiserForm.bedrijfsnaam) }}
                {{ form_row(createSchuldeiserForm.rekening) }}
                <div class="nav">
                    <a href="#">Annuleren</a>
                    <button type="submit">Aanmaken</button>
                </div>
                {{ form_end(createSchuldeiserForm) }}
            </div>
        </div>
    </div>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function (event) {
        elms = document.querySelectorAll('.lookup');
        for (var i = 0; i < elms.length; i ++) {
            elm = elms.item(i);
            choices = new Choices(elm, {
                removeItemButton: true,
                itemSelectText: ''
            }).ajax(function(callback) {
                var request = new XMLHttpRequest();
                request.open('GET', '/app/schuldeiser/', true);
                request.onload = function() {
                    if (request.status >= 200 && request.status < 400) {
                        var data = JSON.parse(request.responseText);
                        callback(data, 'id', 'bedrijfsnaam');
                    } else {
                    }
                };
                request.send();
            });
        }

        elms = document.querySelectorAll('.rome');
        for (var i = 0; i < elms.length; i ++) {
            window.schuldhulp._.datePicker(elms.item(i));
        }
     });
    </script>
{% endblock %}