<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ dossier.clientNaam }} - voorlegger</title>
<meta name="viewport" content="width = device-width">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body class="voorlegger {{ app.user.type }}">


<header>
<h1>Voorlegger {{ dossier.clientNaam }}</h1>
{% if dossier.partnerNaam is not empty %}
    <p>Partner: {{ dossier.partnerNaam }}</p>
{% endif %}</p>
<p>{{ dossier.schuldhulpbureau }}</p>
<p>{{ dossier.teamGka }}</p>

{% if dossier.regasNummer is not empty %}
    <p>Regas: {{ dossier.regasNummer }}</p>
{% endif %}</p>
{% if dossier.allegroNummer is not empty %}
    <p>Allegro: {{ dossier.allegroNummer }}</p>
{% endif %}</p>
<p><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">Terug naar overzicht</a></p>
</header>


<section class="header">
    <span></span>
    <span>MaDi</span>
    <span>GKA</span>
</section>

{{ form_start(form) }}

<section class="topLevel eerste">
    <h3>Legitimatie</h3>
    <span class="actief">{{ form_widget(form.legitimatieOntvangenMadi)}}</span>
    <span>{{ form_widget(form.legitimatieOntvangenGka,{attr: {
    	'disabled': true,
    	'checked': true,
    }})}}</span>
</section>

<section class="topLevel">
    <h3>VTLB</h3>
    <span class="actief">{{ form_widget(form.vtlbMadi)}}</span>
    <span>{{ form_widget(form.vtlbGka)}}</span>
</section>

<section class="subheader">
	<h2>Inkomsten</h2>
	<span class="actief"></span>
	<span></span>
</section>

<section>
    <h3>Inkomstenspecificatie</h3>
    <span class="actief">{{ form_widget(form.inkomstenspecificatieOntvangenMadi)}}</span>
    <span>{{ form_widget(form.inkomstenspecificatieOntvangenGka)}}</span>
</section>

<section>
    <h3>Arbeidsovereenkomst</h3>
    <span class="actief">{{ form_widget(form.arbeidsovereenkomstOntvangenMadi)}}</span>
    <span>{{ form_widget(form.arbeidsovereenkomstOntvangenGka)}}</span>
    <span>{{ form_widget(form.arbeidsovereenkomstNvt)}} n.v.t.</span>
</section>

<section class="metSub">
    <h3>Beschikking UWV</h3>
    <span class="actief">{{ form_widget(form.beschikkingUwvOntvangenMadi)}}</span>
    <span>{{ form_widget(form.beschikkingUwvOntvangenGka)}}</span>
    <span>{{ form_widget(form.beschikkingUwvNvt)}} n.v.t.</span>
    <div>
    <label>{{ form_widget(form.beschikkingUwvWw)}} WW</label>
    <label>{{ form_widget(form.beschikkingUwvWia)}} WIA</label>
    <label>{{ form_widget(form.beschikkingUwvZw)}} ZW</label>
    <label>{{ form_widget(form.beschikkingUwvOverig,{attr: {
        'placeholder': 'Overig',
        'class': 'overig',
    }})}}</label>
    </div>
</section>

<section>
    <h3>Voorlopige teruggave Belastingdienst</h3>
    <span class="actief">{{ form_widget(form.voorlopigeTerugaafBelastingdienstOntvangenMadi)}}</span>
    <span>{{ form_widget(form.voorlopigeTerugaafBelastingdienstOntvangenGka)}}</span>
    <span>{{ form_widget(form.voorlopigeTerugaafBelastingdienstNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Alimentatie ontvangen</h3>
    <span>{{ form_widget(form.alimentatieOntvangenMadi)}}</span>
    <span>{{ form_widget(form.alimentatieOntvangenGka)}}</span>
    <span>{{ form_widget(form.alimentatieNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Kostgeld</h3>
    <span>{{ form_widget(form.kostgeldOntvangenMadi)}}</span>
    <span>{{ form_widget(form.kostgeldOntvangenGka)}}</span>
    <span>{{ form_widget(form.kostgeldNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Huurtoeslag</h3>
    <span>{{ form_widget(form.huurtoeslagOntvangenMadi)}}</span>
    <span>{{ form_widget(form.huurtoeslagOntvangenGka)}}</span>
    <span>{{ form_widget(form.huurtoeslagNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Zorgtoeslag</h3>
    <span>{{ form_widget(form.zorgtoeslagOntvangenMadi)}}</span>
    <span>{{ form_widget(form.zorgtoeslagOntvangenGka)}}</span>
    <span>{{ form_widget(form.zorgtoeslagNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Kinderopvangtoeslag</h3>
    <span>{{ form_widget(form.kinderopvangtoeslagOntvangenMadi)}}</span>
    <span>{{ form_widget(form.kinderopvangtoeslagOntvangenGka)}}</span>
    <span>{{ form_widget(form.kinderopvangtoeslagNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Kindgebonden budget</h3>
    <span>{{ form_widget(form.kindgebondenBudgetOntvangenMadi)}}</span>
    <span>{{ form_widget(form.kindgebondenBudgetOntvangenGka)}}</span>
    <span>{{ form_widget(form.kindgebondenBudgetNvt)}} n.v.t.</span>
</section>

<section class="subheader">
	<h2>Uitgaven</h2>
	<span class="actief"></span>
	<span></span>
</section>


<section>
    <h3>Huurspecificatie</h3>
    <span>{{ form_widget(form.huurspecificatieOntvangenMadi)}}</span>
    <span>{{ form_widget(form.huurspecificatieOntvangenGka)}}</span>
    <span>{{ form_widget(form.huurspecificatieNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Polisblad zorgverzekering</h3>
    <span>{{ form_widget(form.polisbladZorgverzekeringOntvangenMadi)}}</span>
    <span>{{ form_widget(form.polisbladZorgverzekeringOntvangenGka)}}</span>
    <span>{{ form_widget(form.polisbladZorgverzekeringNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Alimentatie echtscheidingsconvenant</h3>
    <span>{{ form_widget(form.alimentatieEchtscheidingsconvenantOntvangenMadi)}}</span>
    <span>{{ form_widget(form.alimentatieEchtscheidingsconvenantOntvangenGka)}}</span>
    <span>{{ form_widget(form.alimentatieEchtscheidingsconvenantNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Overeenkomst kinderopvang</h3>
    <span>{{ form_widget(form.overeenkomstKinderopvangOntvangenMadi)}}</span>
    <span>{{ form_widget(form.overeenkomstKinderopvangOntvangenGka)}}</span>
    <span>{{ form_widget(form.overeenkomstKinderopvangNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Kwijtschelding gemeentebelasting</h3>
    <span>{{ form_widget(form.kwijtscheldingGemeenteBelastingOntvangenMadi)}}</span>
    <span>{{ form_widget(form.kwijtscheldingGemeenteBelastingOntvangenGka)}}</span>
    <span>{{ form_widget(form.kwijtscheldingGemeenteBelastingNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Corrigeren GemeenteBelasting</h3>
    <span></span>
    <span>{{ form_widget(form.corrigerenGemeenteBelastingOntvangenGka)}}</span>
    <span>{{ form_widget(form.corrigerenGemeenteBelastingNvt)}} n.v.t.</span>
</section>

<section class="subheader">
	<h2>Autolasten</h2>
	<span class="actief"></span>
	<span></span>
</section>


<section>
    <h3>Km woonwerkverkeer</h3>
    <span>{{ form_widget(form.autolastenKmWoonwerkverkeerOntvangenMadi)}}</span>
    <span>{{ form_widget(form.autolastenKmWoonwerkverkeerOntvangenGka)}}</span>
    <span>{{ form_widget(form.autolastenKmWoonwerkverkeerNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Kenteken</h3>
    <span>{{ form_widget(form.kentekenOntvangenMadi)}}</span>
    <span>{{ form_widget(form.kentekenOntvangenGka)}}</span>
    <span>{{ form_widget(form.kentekenNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Verklaring werkgever</h3>
    <span>{{ form_widget(form.verklaringWerkgeverOntvangenMadi)}}</span>
    <span>{{ form_widget(form.verklaringWerkgeverOntvangenGka)}}</span>
    <span>{{ form_widget(form.verklaringWerkgeverNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Vrijwaringsbewijs</h3>
    <span>{{ form_widget(form.vrijwaringsbewijsOntvangenMadi)}}</span>
    <span>{{ form_widget(form.vrijwaringsbewijsOntvangenGka)}}</span>
    <span>{{ form_widget(form.vrijwaringsbewijsNvt)}} n.v.t.</span>
</section>

<section class="subheader">
	<h2>Schulden</h2>
	<span class="actief"></span>
	<span></span>
</section>


<section>
    <h3>Schuldenoverzicht</h3>
    <span>{{ form_widget(form.schuldenoverzichtOntvangenMadi)}}</span>
    <span>{{ form_widget(form.schuldenoverzichtOntvangenGka)}}</span>
</section>


<section>
    <h3>Vorderingen</h3>
    <span>{{ form_widget(form.vorderingenOntvangenMadi)}}</span>
    <span>{{ form_widget(form.vorderingenOntvangenGka)}}</span>
</section>


<section>
    <h3>Inzage toetsing BKR</h3>
    <span>{{ form_widget(form.inzageToetsingBkrOntvangenMadi)}}</span>
    <span>{{ form_widget(form.inzageToetsingBkrOntvangenGka)}}</span>
</section>

<section>
    <h3>Stabilisatieovereenkomst</h3>
    <span>{{ form_widget(form.stabilisatieovereenkomstOntvangenMadi)}}</span>
    <span>{{ form_widget(form.stabilisatieovereenkomstOntvangenGka)}}</span>
    <span>{{ form_widget(form.stabilisatieovereenkomstNvt)}} n.v.t.</span>
</section>

<section>
    <h3>CJIB</h3>
    <span>{{ form_widget(form.cjibOntvangenMadi)}}</span>
    <span>{{ form_widget(form.cjibOntvangenGka)}}</span>
    <span>{{ form_widget(form.cjibNvt)}} n.v.t.</span>
</section>

<section><h3>&nbsp;</h3></section>

<section>
    <h3>Meterstanden energie</h3>
    <span>{{ form_widget(form.meterstandenEnergieOntvangenMadi)}}</span>
    <span>{{ form_widget(form.meterstandenEnergieOntvangenGka)}}</span>
    <span>{{ form_widget(form.meterstandenEnergieNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Waternet</h3>
    <span>{{ form_widget(form.waternetOntvangenMadi)}}</span>
    <span>{{ form_widget(form.waternetOntvangenGka)}}</span>
    <span>{{ form_widget(form.waternetNvt)}} n.v.t.</span>
</section>


<section>
    <h3>Klantnummer Ziggo</h3>
    <span>{{ form_widget(form.klantnummerZiggoOntvangenMadi)}}</span>
    <span>{{ form_widget(form.klantnummerZiggoOntvangenGka)}}</span>
    <span>{{ form_widget(form.klantnummerZiggoNvt)}} n.v.t.</span>
</section>


<section>
    <h3>Retourbewijs modem</h3>
    <span>{{ form_widget(form.retourbewijsModemOntvangenMadi)}}</span>
    <span>{{ form_widget(form.retourbewijsModemOntvangenGka)}}</span>
    <span>{{ form_widget(form.retourbewijsModemNvt)}} n.v.t.</span>
</section>


<section>
    <h3>Toelichting aanvraag schuldsanering</h3>
    <span>{{ form_widget(form.toelichtingAanvraagSchuldsaneringOntvangenMadi)}}</span>
    <span>{{ form_widget(form.toelichtingAanvraagSchuldsaneringOntvangenGka)}}</span>
</section>

<section class="subheader">
	<h2>Bewindstelling of budgetbeheer</h2>
	<span class="actief"></span>
	<span></span>
</section>

<section>
    <h3>Bewindstelling of budgetbeheer</h3>
    <span></span>
    <span></span>
    <span>{{ form_widget(form.bewindstellingOfBudgetbeheerNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Beschikking onderbewindstelling</h3>
    <span>{{ form_widget(form.beschikkingOnderBewindstellingOntvangenMadi)}}</span>
    <span>{{ form_widget(form.beschikkingOnderBewindstellingOntvangenGka)}}</span>
    <span>{{ form_widget(form.beschikkingOnderBewindstellingNvt)}} n.v.t.</span>
</section>

<section class="metSub">
    <h3>Budgetbeheer</h3>
    <span>{{ form_widget(form.budgetbeheerOntvangenMadi)}}</span>
    <span>{{ form_widget(form.budgetbeheerOntvangenGka)}}</span>
    <span>{{ form_widget(form.budgetbeheerNvt)}} n.v.t.</span>
    <div>
    <label>{{ form_widget(form.budgetbeheerPlangroep)}} Plangroep</label>
    <label>{{ form_widget(form.budgetbeheerCav)}} CAV</label>
    <label>{{ form_widget(form.budgetbeheerFibi)}} Fibi</label>
    <label>{{ form_widget(form.budgetbeheerOverig,{attr: {
        'placeholder': 'Overig',
        'class': 'overig',
    }})}}</label>
    </div>
</section>

<section>
    <h3>Gereserveerde gelden</h3>
    <span>{{ form_widget(form.gereserveerdeGeldenOntvangenMadi)}}</span>
    <span>{{ form_widget(form.gereserveerdeGeldenOntvangenGka)}}</span>
    <span>{{ form_widget(form.gereserveerdeGeldenNvt)}} n.v.t.</span>
</section>

<section>
    <h3>Ondertekend aanvraagformulier</h3>
    <span>{{ form_widget(form.ondertekendAanvraagFormulierMadi)}}</span>
    <span>{{ form_widget(form.ondertekendAanvraagFormulierGka)}}</span>
</section>

<footer>

<h3>Aanvullende informatie</h3>
{{ form_widget(form.aanvullendeInformatie)}}

<p><input type="submit" value="Sla op"></p>

{{ form_end(form) }}

<p><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}">Terug naar overzicht</a></p>

</footer>

<!--
<p>Werkt nog niet</p>
<label class="GKA"><input type="checkbox" name="klaar_voor_GKA"> Dit dossier is klaar voor het GKA</label>
<input type="submit" value="Stuur in naar GKA">
-->

</body>
</html>