{% extends 'master.html.twig' %}

{% block title %}{{ dossier.clientNaam }} - {{ parent() }}{% endblock %}

{% block document %}

<nav class="nav-internal">
  <ul>
    <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" data-decorator="get-overview-state" data-context="dossier"><i class="icon-arrow-left"></i><span>Terug naar overzicht</span></a></li>
  </ul>
</nav>

<div class="document well">
    
    {% include 'Dossier/partial.dossierDetailHeader.html.twig' with {'dossier': dossier} only %}
    
    {% include 'Dossier/partial.dossierDetailNav.html.twig' with {'dossier': dossier, 'active': 'overigeDocumenten'} only %}
    
    {{ form_start(form, {'attr': {'id': 'overige_form', 'data-submitter': 'save', 'data-result-selector': '#overige_form .accordion', 'data-changer': 'change'}}) }}
      <div class="accordion-container" data-decorator="droppable">
        <div class="dossier__item no-header">
          <h3>Overige documenten</h3>
          <p>Plaats hier documenten die niet thuishoren in overige secties</p>
          {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Document'} only %}
          {% do form.removeFile.setRendered() %}

          {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('overige'), 'removeFile': form.removeFile} only %}
      
          <div class="form-global-buttons">
              <div class="container">
                  <p class="buttons right">
                      <button type="submit" class="button primary">Opslaan</button>
                      <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.id}) }}">Annuleren</a>
                  </p>
              </div>
          </div>
        </div>

      </div>
    {{ form_end(form) }}

</div>
{% endblock %}