<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ dossier.clientNaam }} - voorlegger</title>
<meta name="viewport" content="width = device-width">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body class="voorlegger">

<h1>Dossier {{ dossier.clientNaam }}</h1>

<section class="header">
	<span></span>
	<span>Schuldhulp</span>
	<span>GKA</span>
	<span>n.v.t.</span>
</section>

{{ form_start(form) }}

<section>
	<h3>Legitimatie</h3>
	<span>{{ form_widget(form.legitimatieOntvangenMadi)}}</span>
	<span>{{ form_widget(form.legitimatieOntvangenGka)}}</span>
</section>

<section>
	<h3>Inkomstenspecificatie</h3>
	<span>{{ form_widget(form.inkomstenspecificatieOntvangenMadi)}}</span>
	<span>{{ form_widget(form.inkomstenspecificatieOntvangenGka)}}</span>
</section>

<section>
	<h3>VTLB</h3>
	<span>{{ form_widget(form.vtlbMadi)}}</span>
	<span>{{ form_widget(form.vtlbGka)}}</span>
</section>

<section>
	<h3>Arbeidsovereenkomst</h3>
	<span>{{ form_widget(form.arbeidsovereenkomstOntvangenMadi)}}</span>
	<span>{{ form_widget(form.arbeidsovereenkomstOntvangenGka)}}</span>
	<span>{{ form_widget(form.arbeidsovereenkomstNvt)}}</span>
</section>

<section>
	<h3>Beschikking UWV</h3>
	<span>{{ form_widget(form.beschikkingUwvOntvangenMadi)}}</span>
	<span>{{ form_widget(form.beschikkingUwvOntvangenGka)}}</span>
	<span>{{ form_widget(form.beschikkingUwvNvt)}}</span>
	<div>
	<label>{{ form_widget(form.beschikkingUwvWw)}} WW</label>
	<label>{{ form_widget(form.beschikkingUwvWia)}} WIA</label>
	<label>{{ form_widget(form.beschikkingUwvZw)}} ZW</label>
	<label>Overig</label>
	</div>
</section>

<section>
	<h3>Voorlopige teruggave Belastingdienst</h3>
	<span>{{ form_widget(form.voorlopigeTerugaafBelastingdienstOntvangenMadi)}}</span>
	<span>{{ form_widget(form.voorlopigeTerugaafBelastingdienstOntvangenGka)}}</span>
	<span>{{ form_widget(form.voorlopigeTerugaafBelastingdienstNvt)}}</span>
</section>

<section>
	<h3>Alimentatie ontvangen</h3>
	<span>{{ form_widget(form.alimentatieOntvangenMadi)}}</span>
	<span>{{ form_widget(form.alimentatieOntvangenGka)}}</span>
	<span>{{ form_widget(form.alimentatieNvt)}}</span>
</section>






<h2>Aanvullende informatie</h2>
<textarea name="aanvullend">Hallo daar dus nog een keer misschien wanneer</textarea>

<fieldset>
	<input type="submit" value="Sla op">
</fieldset>

{{ form_end(form) }}

<p>Werkt nog niet</p>
<fieldset>
	<label class="GKA"><input type="checkbox" name="klaar_voor_GKA"> Dit dossier is klaar voor het GKA</label>
	<input type="submit" value="Stuur in naar GKA">
</fieldset>


</form>


{{ dump() }}

</body>
</html>