{% extends 'master.html.twig' %}

{% block title %}{{ dossier.clientNaam }} - {{ parent() }}{% endblock %}

{% block body_classes %}{{ parent() }} voorlegger{% endblock %}

{% block document %}
    <div class="dossier">
        {% include 'Dossier/partial.nieuwSchuldItem.html.twig' %}
        {#{% include 'Dossier/partial.dossierWorkflow.html.twig' with {'dossier': dossier} only %}#}

        {% include 'Dossier/partial.dossierHeader.html.twig' with {'dossier': dossier, 'active': 'schulden'} only %}
        {{ form_start(form, {'attr': {'id': 'schulden_form', 'data-submitter': 'save', 'data-result-selector': '#schulden_form', 'data-changer': 'change'}}) }}
        <button type="submit" class="dossier__save button primary">Opslaan</button>


        <div class="dossier__list-container">
            <div class="dossier__item__dummy dossier__item__dummy__top active"><div class="dossier__voorlegger__header"><h3>Top</h3></div></div>
            <div class="dossier__item__dummy dossier__item__dummy__bottom active"><div class="dossier__voorlegger__header"><h3>Bottom</h3></div></div>
            <div class="dossier__scroll-container"  data-scroller="sticky-section">
                <div class="dossier__scroll-content">

                    <div class="dossier__container team-{% if app.user.type == 'madi' or app.user.type == 'madi_keyuser' %}madi{% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}gka{% endif %}" data-decorator="droppable" data-keyupper="vertical-list-nav">
                        {% set empty = true %}
                        {% do form.schuldItems.setRendered %}
                        {% for schuldItemForm in form.schuldItems %}
                            {% set schuldItem = schuldItemForm.vars.data %}
                            {% if not schuldItem.verwijderd %}
                                {% set empty = false %}
                            {% endif %}
                            {% include 'Dossier/partial.schuldItem.html.twig' with {'schuldItem': schuldItem, 'form': schuldItemForm, 'dossier': dossier} only %}
                        {% endfor %}

                        {% if empty %}
                            <p class="empty-table">Er zijn nog geen schulden ingevoerd.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>








{% endblock %}
