{% extends 'base.html.twig' %}
{% block title %}
	Aanmelding
{% endblock %}

{% block extraScripts %}
<script>
window.schuldhulp = window.schuldhulp || {};
window.schuldhulp.routes = window.schuldhulp.routes || {};
window.schuldhulp.routes.appdossier_movedocumenttoprullenbak = '{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak', {'dossierId': dossier.id, 'documentId': '__DOCUMENTID__'}) }}'
window.schuldhulp.tokens = window.schuldhulp.tokens || {};
window.schuldhulp.tokens.appdossier_movedocumenttoprullenbak = '{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak') }}';
</script>
{% endblock %}

{% block maintag %}
<main class="voorlegger">
{% endblock %}


{% block main %}

{% for type, messages in app.flashes %}
	{% for message in messages %}
		<div class="flash-message flash-type-{{ type }}">
			<a class="btn" href="#close-flash">x</a>
			<span class="message">{{ message }}</span>
		</div>
	{% endfor %}
{% endfor %}

{{ form_start(form, {'attr': {'id': 'voorlegger_mainform'}}) }}

{% include 'clientFormulier.html' %}
{% include 'subnavigatie.html' %}

<div id="documenten" style="display: none">
{% for document in dossier.getDocumenten if document.document.inPrullenbak == false %}
	<li data-onderwerp="{{ document.onderwerp }}">
		<a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocument', {'dossierId': document.dossier.id, 'documentId': document.document.id}) }}">{{ document.document.naam }}</a> |
        <a class="link-as-submit" data-token="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak') }}" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_movedocumenttoprullenbak', {'dossierId': document.dossier.id, 'documentId': document.document.id}) }}">verwijderen</a>
	</li>
{% endfor %}
</div>

<section class="accordeon aanmelding">
{% for categorie in categorieen %}
	{% if categorie.isKop is not defined %}
	<h3>{{ categorie.schermNaam }} <span>({{ dossier.getDocumentenByOnderwerp(categorie.systeemNaam)|length }} documenten)</span></h3>
	<div class="container" data-systeemnaam="{{ categorie.systeemNaam }}">
	{% set form = voorleggerForms[categorie.systeemNaam]|default('') %}
	{% if form is empty %}
	   <p>Dit moeten we nog implementeren: {{ categorie.systeemNaam }}</p>
	{% else %}
	   {{ form_start(form) }}
	<p class="checkboxes">
		{% if form[categorie.systeemNaam ~ 'OntvangenMadi'] is not defined %}
			  <p>Help checkbox is niet aanwezig ({{ categorie.systeemNaam }} ontvangen madi)</p>
			  <script>console.log('{{ categorie.systeemNaam }} heeft geen Ontvangen')</script>
		{% else %}
			 {{ form_widget(form[categorie.systeemNaam ~ 'OntvangenMadi']) }} Madi
		{% endif %}
		{% if categorie.gka == true %}
            {% if form[categorie.systeemNaam ~ 'OntvangenGka'] is not defined %}
                <p>Help checkbox is niet aanwezig ({{ categorie.systeemNaam }} ontvangen gka)</p>
            {% else %}
                {{ form_widget(form[categorie.systeemNaam ~ 'OntvangenGka']) }} Gka
            {% endif %}
		{% endif %}
		{% if categorie.nvt == true %}
		    {% if form[categorie.systeemNaam ~ 'Nvt'] is not defined %}
		          <p>Help checkbox is niet aanwezig ({{ categorie.systeemNaam }} nvt)</p>
            {% else %}
	           {{ form_widget(form[categorie.systeemNaam ~ 'Nvt']) }} N.v.t.
            {% endif %}
		{% endif %}
		{% if categorie.extraVelden is defined %}
			{% for extraVeld in categorie.extraVelden %}
				 {# form_widget(form[extraVeld.systeemNaam]) #} {{ extraVeld.schermNaam }}
			{% endfor %}
		{% endif %}
	</p>
	{% if dossier.getDocumentenByOnderwerp(categorie.systeemNaam)|length > 0 %}
		<p>Toegevoegde documenten:</p>
		<ul class="documentenLijst">
		{% for dossierDocument in dossier.getDocumentenByOnderwerp(categorie.systeemNaam) %}
		   <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocument', {'dossierId': dossier.id, 'documentId': dossierDocument.document.id}) }}">{{ dossierDocument.document.naam }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
	<p>
	   Nieuw document {{ form_widget(form.file) }}
	   Document naam {{ form_widget(form.fileNaam) }}</p>
	<p><input type="submit" class="primair detailOpslaan" value="Opslaan"></p>
	{{ form_end(form) }}
	{% endif %}
	</div>
	{% endif %}
{% endfor %}
</section>

{% endblock %}
