{% extends 'master.html.twig' %}

{% block title %}{{ dossier.clientNaam }} - {{ parent() }}{% endblock %}

{% block document %}
    
    <nav class="nav-internal">
        <ul>
            <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}"><i class="icon-arrow-left"></i> Terug naar overzicht</a></li>
        </ul>
    </nav>
    
    <div class="document well">
        
        {% include 'Dossier/partial.dossierDetailHeader.html.twig' with {'dossier': dossier} only %}
        
        {% include 'Dossier/partial.dossierDetailNav.html.twig' with {'dossier': dossier, 'active': 'schulden'} only %}
        
        {{ form_start(form, {'attr': {'id': 'schulden_form', 'data-submitter': 'save', 'data-result-selector': '#schulden_form .accordion', 'data-changer': 'change'}}) }}

          <div class="accordion-container team-{{ app.user.type }}" data-decorator="droppable">
  {% for schuldItemForm in form.schuldItems %}
              {% set schuldItem = schuldItemForm.vars.data %}
              {% include 'Dossier/partial.schuldItem.html.twig' with {'schuldItem': schuldItem, 'form': schuldItemForm, 'dossier': dossier} only %}
  {% endfor %}
          </div>
        
          <div class="form-global-buttons">
              <div class="container">
                  <p class="buttons right">
                      <button type="submit" class="button primary">Opslaan</button>
                      <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailschulden', {'dossierId': dossier.id}) }}">Annuleren</a>
                  </p>
              </div>
          </div>
        
        
        {{ form_end(form) }}
        
        <div id="nieuwe-schuld-toevoegen" class="toggle-hidden">
          <div class="accordion-container" data-decorator="droppable">
            <div class="accordion active" id="schuldItem-nieuw">
            
            <div class="accordion-header">
              <div class="schulditem-header">
                <h3 class="naam">
                  <a href="#schuldItem-nieuw" class="active">
                    Nieuwe schuld toevoegen
                  </a>
                </h3>
              </div>
            </div>
          
            <div class="accordion-body">
              <div class="schulditem-body">
                {{ form_start(createForm, {'attr': {'data-submitter': 'save', 'data-result-selector': '.accordion-container'}}) }}
                  <div class="columns">
                    <div class="column">
                      
                      <div class="form-row">
                        <div class="label-widget">
                          {{ form_label(createForm.schuldeiser) }}
                          <select class="lookup" name="{{ createForm.schuldeiser.vars.full_name }}" id="{{ createForm.schuldeiser.vars.id }}">
                          </select>
                          {% do createForm.schuldeiser.setRendered() %}
                        </div>
                        {{ form_errors(createForm.schuldeiser) }}
                      </div>
                      
                      <div class="form-row">
                        <div class="label-widget">
                          {{ form_label(createForm.incassant) }}
                          <select class="lookup" name="{{ createForm.incassant.vars.full_name }}" id="{{ createForm.incassant.vars.id }}">
                          </select>
                          {% do createForm.incassant.setRendered() %}
                        </div>
                        {{ form_errors(createForm.incassant) }}
                      </div>
                        
                      <div class="form-row">
                        <div class="label-widget">
                          <label>&nbsp;</label>
                          <a href="#nieuwe-schuldeiser">Nieuwe schuldeiser of incassant toevoegen</a>
                        </div>
                      </div>
                    
                      {{ form_row(createForm.type) }}
                      {{ form_row(createForm.referentie) }}
                    
                    </div>
                    
                    <div class="column">
                      {{ form_row(createForm.bedrag) }}
                      {{ form_row(createForm.vastStelDatum) }}
                      {{ form_row(createForm.ontstaansDatum) }}
                    </div>
                    
                  </div>
                  
                  {{ form_row(createForm.opmerkingen) }}
                  
                  {% include 'partial.files-container.html.twig' with {'form_elm': createForm.file} only %}
                  {% do createForm.removeFile.setRendered() %}
              
                  <p class="buttons right">
                    {% do createForm.verwijderd.setRendered() %}
                    <button type="submit" class="button secundary">Aanmaken</button>
                  </p>
                  
                {{ form_end(createForm) }}
              </div>
            </div>
          </div>
          </div>
        </div>
        
        <p class="nav-internal">
          <a href="#nieuwe-schuld-toevoegen" data-handler="toggle scroll" class="primary">Nieuwe schuld toevoegen</a>
        </p>
        
    
    
    <div class="modal-container" id="nieuwe-schuldeiser">
        <a href="#" class="esc">&nbsp;</a>
        <div class="modal-window">
            <div class="modal-header">
                <h2>Nieuwe schuldeiser</h2>
            </div>
            <div class="modal-body">
                {{ form_start(createSchuldeiserForm, {'attr': {'class': 'default-form-style ajax'} }) }}
                {{ form_row(createSchuldeiserForm.bedrijfsnaam) }}
                {{ form_row(createSchuldeiserForm.rekening) }}
                <div class="nav">
                    <a href="#">Annuleren</a>
                    <button type="submit">Aanmaken</button>
                </div>
                {{ form_end(createSchuldeiserForm) }}
            </div>
        </div>
    </div>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function (event) {
        elms = document.querySelectorAll('.lookup');
        for (var i = 0; i < elms.length; i ++) {
            elm = elms.item(i);
            choices = new Choices(elm, {
                removeItemButton: true,
                itemSelectText: ''
            }).ajax(function(callback) {
                var request = new XMLHttpRequest();
                request.open('GET', '/app/schuldeiser/', true);
                request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                request.onload = function() {
                    if (request.status >= 200 && request.status < 400) {
                        var data = JSON.parse(request.responseText);
                        callback(data, 'id', 'bedrijfsnaam');
                    } else {
                    }
                };
                request.send();
            });
        }

        elms = document.querySelectorAll('.rome');
        for (var i = 0; i < elms.length; i ++) {
            window.schuldhulp._.datePicker(elms.item(i));
        }
     });
    </script>
     
     
{% endblock %}