
{% extends 'base.html.twig' %}

{% block title %}
	Schuldenlijst
{% endblock %}

{% block extraScripts %}
<script src="/js/schuldenlijst.js"></script>
<link rel="stylesheet" href="/css/schuldenlijst.css">
<script src="/js/datepicker.js"></script>
<script src="/vendor/bevacqua/horsey/dist/horsey.min.js"></script>
<link rel="stylesheet" href="/css/datepicker.css">
<script>
document.addEventListener('DOMContentLoaded', function () {
	var matches = function(el, selector) {
	       return (el.matches || el.matchesSelector || el.msMatchesSelector || el.mozMatchesSelector || el.webkitMatchesSelector || el.oMatchesSelector).call(el, selector);
	    };

    document.addEventListener('click', function (event) {
		if (matches(event.target, '.file-uploads [href$="#add"]')) {
			var container = event.target.parentNode;
			var clone = container.querySelector('.prototype').cloneNode(true);
			var input = clone.querySelector('input');
			var counter = container.getAttribute('data-counter') || 0;
			container.setAttribute('data-counter', counter + 1);
			input.setAttribute('name', input.getAttribute('name').replace('__name__', 'new-' + counter));
			input.setAttribute('id', input.getAttribute('id').replace('__name__', 'new-' + counter));
			for (var i = 0; i < clone.children.length; i ++) {
			    container.append(clone.children[i]);
			}
			event.preventDefault();
		}
	});
});
</script>
{% endblock %}

{% block main %}

{{ dump(schuldItems) }}
	<h1>SCHULDENLIJST</h1>
	<section class="accordeon">
{% for schuldItem in schuldItems if schuldItem.verwijderd == false %}
    {% set form = updateForms[schuldItem.id] %}
	<h3 data-schuld="{{ schuldItem.bedrag }}">{{ schuldItem.schuldeiser.bedrijfsnaam|default('?') }}</h3>
	<div class="container">	
	{{ form_start(form) }}
		{% do form.schuldeiser.setRendered() %}
		{% do form.file.setRendered() %}
		<section class="velden">
		<!-- label>Schuldeiser {{ form_widget(form.schuldeiser) }}</label -->
		<label>Schuldeiser <input name="schuld_item_form[schuldeiser]" value="{{ schuldItem.schuldeiser }}" id="schuldeiserVeld"></label>
		<label></label>
		<label>Incassobureau {{ form_widget(form.incassant) }}</label>
		<label>Schuld {{ form_widget(form.bedrag) }}</label>
		<label>Ref.nr. {{ form_widget(form.referentie) }}</label>
		<label>Datum 1 {{ form_widget(form.vastStelDatum) }}</label>
		<label>Preferent {{ form_widget(form.type) }}</label>
		<label>Datum 2 {{ form_widget(form.ontstaansDatum) }}</label>
		</section>

		<div class="canvases">
			<section class="nieuw">
			<p id="tekst">Nieuw document</p>
			<input type="file" name="{{ form.file.vars.prototype.vars.full_name|replace({'__name__': 0}) }}">
			</section>
            {% for document in schuldItem.dossierDocumenten %}
                <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocument', {'dossierId': dossier.id, 'documentId': document.document.id}) }}">{{ document.document.naam }}</a>
            {% endfor %}
		</div>
		<span style="display:none">{{ form_widget(form.verwijderd) }}
			{{ form_widget(form.file.vars.prototype) }}		
		</span>
		<div class="knoppenbalk">
			<input type="reset" class="tertiair" value="Annuleren" id="annuleren">
			<button class="secundair" id="verwijderen">Verwijderen</button>
			<input type="submit" class="primair" value="Opslaan" id="opslaan">
		</div>
{{ form_end(form) }}
	</div>

{% endfor %}
	
	</section>
	<p class="totaal">Totale schuld: <span id="totaleSchuld"></span>
	<div class="knoppenbalk"><button class="secundair" id="nieuweSchuld">Nieuwe schuld</button></div>
	
<div id="uploadVenster">
	<p>Voer hier een nieuwe schuldeiser in.</p>
	{{ form_start(createSchuldeiserForm) }}
	{{ form_row(createSchuldeiserForm.bedrijfsnaam) }}
	{{ form_row(createSchuldeiserForm.rekening) }}
	<div class="knoppenbalk"><button class="tertiair" id="uploadAnnuleren">Annuleren</button>
		<button type="submit" class="primair" id="uploadAanmaken">Aanmaken</button></div>
	{{ form_end(createSchuldeiserForm) }}
</div>
	
	
	
	<div id="templates">
	{{ form_start(createForm,{attr:{id:'templateForm'}}) }}
		<section class="velden">
		<!-- label>Schuldeiser {{ form_widget(createForm.schuldeiser) }}</label -->
		<label>Schuldeiser <input name="schuld_item_form[schuldeiser]" id="schuldeiserVeld"></label>
		<p><a href="#" id="nieuweSchuldeiser">Nieuwe schuldeiser aanmaken</a></p>
		<label>Incassobureau {{ form_widget(createForm.incassant) }}</label>
		<label>Schuld {{ form_widget(createForm.bedrag) }}</label>
		<label>Ref.nr. {{ form_widget(createForm.referentie) }}</label>
		<label>Datum 1 {{ form_widget(createForm.vastStelDatum) }}</label>
		<label>Preferent {{ form_widget(createForm.type) }}</label>
		<label>Datum 2 {{ form_widget(createForm.ontstaansDatum) }}</label>
		</section>

		<div class="canvases">
			<section class="nieuw">
			<p id="tekst">Nieuw document</p>
			<input type="file" name="{{ createForm.file.vars.prototype.vars.full_name|replace({'__name__': 0}) }}">
			</section>
		</div>

		<div class="file-uploads">
		    <div class="prototype" style="display: none;">
		        <div class="file-veld">{{ form_row(createForm.file.vars.prototype) }}</div>
		    </div>
		</div>
		<span style="display:none">{{ form_widget(createForm.verwijderd) }}</span>
		<div class="knoppenbalk"><input type="reset" class="tertiair" value="Annuleren" id="annuleren">
			<button class="secundair" id="verwijderen">Verwijderen</button>
			<input type="submit" class="primair" value="Opslaan" id="opslaan"></div>
		<datalist id="schuldeiserdata"></datalist>
{{ form_end(createForm) }}






{# 
    <p>{{ schuldItem.id }}</p>
    {{ form_start(form) }}
    {{ form_row(form.schuldeiser) }}
    {{ form_row(form.incassant) }}
    {{ form_row(form.verwijderd) }}
    {{ form_row(form.bedrag) }}
    {{ form_row(form.vastStelDatum) }}
    {{ form_row(form.ontstaansDatum) }}
    {{ form_row(form.referentie) }}
    {{ form_row(form.type) }}
    <div class="file-uploads">
        <div class="prototype">
            <div class="file-veld">{{ form_row(form.file.vars.prototype) }}</div>
        </div>
        <div class="file-veld online">
            {% for document in schuldItem.dossierDocumenten %}
                <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocument', {'dossierId': dossier.id, 'documentId': document.document.id}) }}">{{ document.document.naam }}</a>
            {% endfor %}
        </div>
        {% for file in form.file %}
            <div class="file-veld">{{ form_row(file) }}</div>
        {% endfor %}
        <a href="#add">Nog een documenten uploaden</a>
    </div>
    <button type="submit">Opslaan</button>
    {{ form_end(form) }}
#}

	</div>
	
{% endblock %}