{% extends 'master.html.twig' %}

{% block title %}{{ dossier.clientNaam }} - {{ parent() }}{% endblock %}

{% block document %}

<nav class="nav-internal">
    <ul>
        <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailalgemeen', {'dossierId': dossier.id}) }}"><i class="icon-arrow-left"></i> Terug naar dossier</a></li>
        <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocumenten', {'dossierId': dossier.id}) }}">Alle documenten</a></li>
    </ul>
</nav>

<div class="document well">
    <div class="document-header">
        <h1 class="document-title">Prullenbak: {{ dossier.clientNaam }}</h1>
    </div>
    
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Document</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
{% set empty = true %}
{% for document in dossier.documenten if document.document.inPrullenbak == true %}
{% set empty = false %}
                <tr>
                    <th>{{ document.document.naam }}</th>
                    <td>
                        <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_removedocument', {'dossierId': dossier.id, 'documentId': document.document.id}) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_removedocument') }}">
                            <button type="submit">Definitief verwijderen</button>
                        </form>
                        <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_restoredocument', {'dossierId': dossier.id, 'documentId': document.document.id}) }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_restoredocument') }}">
                            <button type="submit">Herstellen</button>
                        </form>
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>
{% if empty %}
        <p class="empty-table">Prullenbak is leeg</p>
{% endif %}
    </div>
</div>
{% endblock %}