{% extends 'master.html.twig' %}

{% block title %}{{ dossier.clientNaam }} - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}
    <nav class="nav-internal">
        <ul>
            <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.id}) }}"><i class="icon-arrow-left"></i><span>Terug naar dossier</span></a></li>
        </ul>
    </nav>

    <div class="document well">

      {% include 'Dossier/partial.dossierDetailHeader.html.twig' with {'dossier': dossier, 'title': 'Wijzig algemene informatie'} only %}

      {{ form_start(form) }}
        <div class="form-content">
            <div class="columns">
              <div class="column">
                <h3 class="document-team">MaDi/Bewindvoerder</h3>
                {{ form_row(form.schuldHulpbureauGebruiker) }}
                {{ form_row(form.regasNummer) }}
              </div>
              <div class="column">
                <h3 class="document-team">GKA</h3>
                {{ form_row(form.teamGka) }}
                {{ form_row(form.allegroNummer) }}
              </div>
            </div>
        </div>
        {% if not dossier.isInPrullenbak %}
        <div class="form-global-buttons">
            <div class="container">
                <p class="buttons right">
                    <button type="submit" class="button primary">Opslaan</button>
                    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.id}) }}">Annuleren</a>
                </p>
            </div>
        </div>
        {% endif %}

      {{ form_end(form) }}

    </div>
{% endblock %}
