{% extends 'master.html.twig' %}

{% block title %}{{ dossier.clientNaam }} - {{ parent() }}{% endblock %}

{% block document %}
    
    <nav class="nav-internal">
        <ul>
            <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}"><i class="icon-arrow-left"></i> Terug naar overzicht</a></li>
        </ul>
    </nav>
    
    <div class="document well">
        
        {% include 'Dossier/partial.dossierDetailHeader.html.twig' with {'dossier': dossier} only %}
        
        {% include 'Dossier/partial.dossierDetailNav.html.twig' with {'dossier': dossier, 'active': 'schulden'} only %}
        {{ form_start(form, {'attr': {'id': 'schulden_form', 'data-submitter': 'save', 'data-result-selector': 'REFRESH', 'data-changer': 'change'}}) }}

          <div class="accordion-container team-{{ app.user.type }}" data-decorator="droppable">
  {% for schuldItemForm in form.schuldItems %}
              {% set schuldItem = schuldItemForm.vars.data %}
              {% include 'Dossier/partial.schuldItem.html.twig' with {'schuldItem': schuldItem, 'form': schuldItemForm, 'dossier': dossier} only %}
  {% endfor %}
          </div>
        
          <div class="form-global-buttons">
              <div class="container">
                  <p class="buttons right">
                      <button type="submit" class="button primary">Opslaan</button>
                      <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailschulden', {'dossierId': dossier.id}) }}">Annuleren</a>
                  </p>
              </div>
          </div>
        
        
        {{ form_end(form) }}
        
        <p class="nav-internal">
          <a href="#nieuwe-schuld-toevoegen" data-handler="toggle scroll" class="primary">Nieuwe schuld toevoegen</a>
        </p>
        
        <div id="nieuwe-schuld-toevoegen" class="toggle-hidden">
          <div class="accordion-container" data-decorator="droppable">
            <div class="accordion active" id="schuldItem-nieuw">
            
            <div class="accordion-header">
              <div class="schulditem-header">
                <h3 class="naam">
                  <a href="#schuldItem-nieuw" class="active">
                    Nieuwe schuld toevoegen
                  </a>
                </h3>
              </div>
            </div>
          
            <div class="accordion-body">
              <div class="schulditem-body">
                {{ form_start(createForm, {'attr': {'data-submitter': 'save', 'data-result-selector': 'REFRESH'}}) }}
                  <div class="columns">
                    <div class="column column-big">
                      
                      <div class="select-autocomplete" data-keyupper="select" data-changer="address">
                        <label for="schuldeiser-helper-{{ createForm.schuldeiser.vars.id }}">Schuldeiser</label>
                        <div class="group">
                          <input type="text" id="schuldeiser-helper-{{ createForm.schuldeiser.vars.id }}" placeholder="Zoek een schuldeiser" autocomplete="off">
                          {{ form_row(createForm.schuldeiser) }}
                        </div>
                      </div>
                      <div class="select-autocomplete" data-keyupper="select" data-changer="address">
                        <label for="incassant-helper-{{ createForm.incassant.vars.id }}">Incassant</label>
                        <div class="group">
                          <input type="text" id="incassant-helper-{{ createForm.incassant.vars.id }}" placeholder="Zoek een incassant" autocomplete="off">
                          {{ form_row(createForm.incassant) }}
                        </div>
                      </div>
                    
                      {{ form_row(createForm.type) }}
                      {{ form_row(createForm.referentie) }}
                    </div>
                    
                    <div class="column">
                      {{ form_row(createForm.bedrag) }}
                      {{ form_row(createForm.vastStelDatum) }}
                      {{ form_row(createForm.ontstaansDatum) }}
                    </div>
                    
                  </div>
                  
                  {{ form_row(createForm.aantekening) }}
                  
                  {% include 'partial.files-container.html.twig' with {'form_elm': createForm.file} only %}
                  {% do createForm.removeFile.setRendered() %}
              
                  <p class="buttons right">
                    {% do createForm.verwijderd.setRendered() %}
                    <button type="submit" class="button primary">Aanmaken</button>
                    <a href="#nieuwe-schuld-toevoegen" data-handler="toggle">Annuleren</a>
                  </p>
                  
                {{ form_end(createForm) }}
              </div>
            </div>
          </div>
          </div>
        </div>
        
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function (event) {
        elms = document.querySelectorAll('.rome');
        for (var i = 0; i < elms.length; i ++) {
            window.schuldhulp._.datePicker(elms.item(i));
        }
     });
    </script>
     
     
{% endblock %}