{% extends 'master.html.twig' %}

{% block title %}Dossiers - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block documentContainerClass %}document-container document-container__wide{% endblock %}

{% block document %}
    {% if newsItem is not null %}
        <div class="flash-message flash-type-info">
            <a class="btn" href="#close-flash">x</a>
            <span class="message"><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_news_show', {'item': newsItem.id}) }}">Ongelezen nieuws update: {{ newsItem.title }}</a></span>
        </div>
    {% endif %}
    <div class="document well">
        {{ form_start(searchForm, {'attr': {}}) }}
        <div class="document-header">
            <h1 class="document-title">Dossiers</h1>

            <div class="group search-control">
                <div class="group">
                    <div class="search-input">
                        <input name="search_dossier_form[naam]" placeholder="Zoek in alle dossiers" type="text"
                               value="{{ searchForm.naam.vars.value }}">
                        <i class="icon-search"></i>
                        <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class="search-cancel"
                           tabindex="-1">&times;</a>
                        {% do searchForm.naam.setRendered() %}
                    </div>
                    <button type="submit" class="button">Zoeken</button>
                </div>

                <nav class="nav-internal">
                    <ul>
                        <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_indexprullenbak') }}">Prullenbak</a></li>
                        <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_create') }}" class="primary">Nieuw
                                dossier</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="search">

            <fieldset class="search-basic naked">
                <div class="tabs">
                    <ul>
                        <li class="{{ searchQuery.section == 'madi' ? 'active' }}"><a href="?section=madi">Dossiers bij
                                MaDi/Bewindvoerder</a></li>
                        <li class="{{ searchQuery.section == 'gka' ? 'active' }}"><a href="?section=gka">Dossiers bij
                                GKA</a></li>
                        <li class="{{ searchQuery.section == 'archief' ? 'active' }}"><a href="?section=archief">Afgerond</a>
                        </li>
                        <li class="{{ searchQuery.section == 'search' ? 'active' }}"><a
                                    href="?section=search">Alle dossiers</a></li>
                    </ul>
                </div>

            </fieldset>

            <fieldset id="search-extended" class="search-extended {{ searchQuery.section == 'search' ? 'active' }}">
                <input type="hidden" name="section" value="search">
                <div class="search-status">
                    {{ form_row(searchForm.status) }}
                </div>
                <div class="columns">
                    <div class="column">
                        {% if is_granted('ROLE_MADI') is same as(FALSE) and is_granted('ROLE_MADI_KEYUSER') is same as(FALSE) %}
                            {{ form_row(searchForm.schuldhulpbureaus) }}
                        {% endif %}
                        {{ form_row(searchForm.medewerkerSchuldhulpbureau) }}
                    </div>
                    <div class="column">
                        {{ form_row(searchForm.teamGka) }}
                    </div>
                </div>


                <p class="buttons right">
                    <button type="submit" class="button">Zoeken</button>
                    <a href="#search-extended" data-handler="toggle">Annuleren</a>
                </p>
            </fieldset>


        </div>
        {{ form_end(searchForm) }}
        <div class="table" id="search-results">
            <table>
                <thead>
                <tr>
                    <th>Naam</th>
                    <th>MaDi/Bewindvoerder</th>
                    <th style="width: 75px;">MaDi/Bewindvoerder dossiernr.</th>
                    <th style="width: 75px;">GKA dossiernr.</th>
                    <th>Aangemaakt</th>
                    <th style="width: 150px;">Status</th>
                </tr>
                </thead>
                <tbody>
                {% set empty = true %}
                {% for dossier in dossiers %}
                    {% set empty = false %}
                    <tr class="row-link{% if dossier.isInPrullenbak %} row-link__dimmed{% endif %}">
                        <th>
                            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.Id}) }}">{% if dossier.clientVoorletters %}{{ dossier.clientVoorletters|trim }} {% endif %}{{ dossier.clientNaam }}</a>
                        </th>
                        <td>{{ dossier.schuldhulpbureau }}</td>
                        <td class="nummer">
                            {{ dossier.regasNummer|default('-') }}
                        </td>
                        <td class="nummer">
                            {{ dossier.allegroNummer|default('-') }}
                        </td>
                        <td class="datum">
                            {{ dossier.aanmaakDatumTijd|date('d-m-Y') }}
                        </td>
                        <td>{{ dossier.status|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if empty %}
                <p class="empty-table">Er zijn geen dossiers om weer te geven.</p>
            {% endif %}


            {% if pagination.numberOfPages > 1 %}
                {% include 'pagination.html.twig' with {'pagination': pagination} only %}
            {% endif %}

        </div>
    </div>
{% endblock %}
