{% extends 'master.html.twig' %}

{% block title %}Dossiers - {{ parent() }}{% endblock %}

{% block body_classes %}hide-pdf-splitter{% endblock %}

{% block document %}
    <nav class="nav-internal">
        <ul>
            <li>Dossiers</li>
            <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_create') }}">Nieuw dossier</a></li>
            <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_indexprullenbak') }}">Prullenbak</a></li>
        </ul>
    </nav>

    <div class="document well">
        <div class="document-header">
            <h1>Dossiers</h1>
        </div>
        <div class="search">
            {{ form_start(searchForm) }}
            <fieldset class="search-basic">
              <div class="group">
                {{ form_row(searchForm.naam, {attr: {placeholder: 'Naam'}}) }}
                <button type="submit" class="button">Zoeken</button>
              </div>
              <p class="search-more">
                <a href="#search-extended" data-handler="toggle">Meer zoekopties</a>
              </p>
            </fieldset>
        
            <fieldset id="search-extended" class="search-extended">
                {{ form_row(searchForm.status) }}
                {{ form_row(searchForm.schuldhulpbureau) }}
                {{ form_row(searchForm.medewerkerSchuldhulpbureau) }}
                {{ form_row(searchForm.teamGka) }}
                <p class="buttons right">
                    <button type="submit" class="button">Zoeken</button>
                    <a href="#search-extended" data-handler="toggle">Annuleren</a>
                </p>
            </fieldset>
        
            {{ form_end(searchForm) }}
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>MaDi</th>
                        <th style="width: 75px;">Regas</th>
                        <th style="width: 75px;">Allegro</th>
                        <th>Aanmaak datum dossier</th>
                        <th style="width: 75px;">Status</th>
                    </tr>
                </thead>
                <tbody>
{% for dossier in dossiers %}
                    <tr>
                        <th><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detail', {'dossierId': dossier.Id}) }}">{{ dossier.clientNaam }}</a></th>
                        <td>{{ dossier.schuldhulpbureau }}</td>
                        <td class="nummer">
                            {{ dossier.regasNummer|default('-') }}
                        </td>
                        <td class="nummer">
                            {{ dossier.allegroNummer|default('-') }}
                        </td>
                        <td class="datum">
                            {{ dossier.aanmaakDatumTijd|date('d-m-Y') }}
                        </td>
                        <td>{{ dossier.status|trans }}</td>
                    </tr>
{% endfor %}
               </tbody>
            </table>
        </div>
        {% if pagination.numberOfPages > 1 %}
          <div class="pagination">
              {% if pagination.page <= 0 %}
              <span class="prev">vorige</span>
              {% else %}
              <a class="prev" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index', {'page': pagination.page - 1, 'search_dossier_form': app.request.query.get('search_dossier_form') }) }}">vorige</a>
              {% endif %}
              <span>pagina {{ pagination.page + 1 }} van {{ pagination.numberOfPages }}</span>
              {% if (pagination.page + 1) >= pagination.numberOfPages %}
              <span class="next">volgende</span>
              {% else %}
              <a class="next" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index', {'page': pagination.page + 1, 'search_dossier_form': app.request.query.get('search_dossier_form')}) }}">volgende</a>
              {% endif %}
          </div>
        {% endif %}
    </div>
{% endblock %}
