{% extends 'master.html.twig' %}

{% block title %}Prullenbak - {{ parent() }}{% endblock %}

{% block body_classes %}hide-pdf-splitter{% endblock %}

{% block document %}

    <nav class="nav-internal">
        <ul>
            <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}"><i class="icon-arrow-left"></i>Terug naar overzicht</a></li>
        </ul>
    </nav>

    <div class="document well">
        <div class="document-header">
            <h1 class="document-title">Prullenbak</h1>
            <p>Dossiers in de prullenbak zijn weggegooid maar kunnen nog hersteld worden. Als een dossier definitief wordt verwijderd is deze niet meer te herstellen.</p>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>MaDi</th>
                        <th>Regas</th>
                        <th>Allegro</th>
                    </tr>
                </thead>
                <tbody>
{% for dossier in dossiers %}
                    <tr>
                        <td><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detail', {'dossierId': dossier.Id}) }}">{{ dossier.clientNaam }}</a></td>
                        <td>{{ dossier.schuldhulpbureau }}</td>
                        <td class="nummer">
                            {{ dossier.regasNummer|default('-') }} 
                        </td>
                        <td class="nummer">
                            {{ dossier.allegroNummer|default('-') }} 
                        </td>
                    </tr>
{% endfor %}
               </tbody>
            </table>
{% if dossiers|length == 0 %}
            <p class="empty-table">Prullenbak is leeg</p>
{% endif %}
        </div>
        {% if pagination.numberOfPages > 1 %}
          <div class="pagination">
              {% if pagination.page <= 0 %}
              <span class="prev">vorige</span>
              {% else %}
              <a class="prev" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_indexprullenbak', {'page': pagination.page - 1}) }}">vorige</a>
              {% endif %}
              <span>pagina {{ pagination.page + 1 }} van {{ pagination.numberOfPages }}</span>
              {% if (pagination.page + 1) >= pagination.numberOfPages %}
              <span class="next">volgende</span>
              {% else %}
              <a class="next" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_indexprullenbak', {'page': pagination.page + 1}) }}">volgende</a>
              {% endif %}
            </div>
          {% endif %}
    </div>
{% endblock %}