{% extends 'master.html.twig' %}

{% block title %}Dossiers - {{ parent() }}{% endblock %}

{% block body_classes %}hide-pdf-splitter{% endblock %}

{% block document %}

    <div class="document well">
        <div class="document-header group">
          <div>
            <h1 class="document-title">Dossiers</h1>
          </div>
          <nav class="nav-internal">
              <ul>
                  <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_indexprullenbak') }}">Prullenbak</a></li>
                  <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_create') }}" class="primary">Nieuw dossier</a></li>
              </ul>
          </nav>
        </div>
        <div class="search">
            {{ form_start(searchForm, {'attr': {'data-submitter': 'save', 'data-result-selector': '#search-results'}}) }}
            <fieldset class="search-basic">
              <div class="group">
                {{ form_row(searchForm.naam, {attr: {placeholder: 'Zoek dossiers op naam'}}) }}
                <button type="submit" class="button">Zoeken</button>
              </div>
              <div class="tabs">
                <ul>
                  <li><a href="#bezig_madi,compleet_madi,gecontroleerd_madi,verzonden_madi" data-handler="multistatus"{{ app.user.type == 'madi' ? ' class="active"' }}>Dossiers bij MaDi</a></li>
                  <li><a href="#verzonden_madi,bezig_gka,compleet_gka,dossier_gecontroleerd_gka,geactualiseerd_gka" data-handler="multistatus"{{ app.user.type == 'gka' ? ' class="active"' }}>Dossiers bij GKA</a></li>
                  {# <li><a href="#" data-handler="multistatus">Afgerond</a></li> #}
                  <li><a href="#search-extended" data-handler="toggle"><span class="meer">Meer </span><span class="minder">Minder </span>zoekopties</a></li>
                </ul>
              </div>

            </fieldset>

            <fieldset id="search-extended" class="search-extended">
                {{ form_row(searchForm.status) }}
                {{ form_row(searchForm.schuldhulpbureau) }}
                {{ form_row(searchForm.medewerkerSchuldhulpbureau) }}
                {{ form_row(searchForm.teamGka) }}
                <p class="buttons right">
                    <button type="submit" class="button">Zoeken</button>
                    <a href="#search-extended" data-handler="toggle">Annuleren</a>
                </p>
            </fieldset>

            {{ form_end(searchForm) }}
        </div>
        <div class="table" id="search-results">
            <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>MaDi</th>
                        <th style="width: 75px;">Regas</th>
                        <th style="width: 75px;">Allegro</th>
                        <th>Aanmaak datum dossier</th>
                        <th style="width: 75px;">Status</th>
                    </tr>
                </thead>
                <tbody>
{% for dossier in dossiers %}
                    <tr>
                        <th><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.Id}) }}">{{ dossier.clientNaam }}</a></th>
                        <td>{{ dossier.schuldhulpbureau }}</td>
                        <td class="nummer">
                            {{ dossier.regasNummer|default('-') }}
                        </td>
                        <td class="nummer">
                            {{ dossier.allegroNummer|default('-') }}
                        </td>
                        <td class="datum">
                            {{ dossier.aanmaakDatumTijd|date('d-m-Y') }}
                        </td>
                        <td>{{ dossier.status|trans }}</td>
                    </tr>
{% endfor %}
               </tbody>
            </table>


            {% if pagination.numberOfPages > 1 %}
              <div class="pagination">
                  {% if pagination.page <= 0 %}
                  <span class="prev">vorige</span>
                  {% else %}
                  <a class="prev" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index', {'page': pagination.page - 1, 'search_dossier_form': app.request.query.get('search_dossier_form') }) }}">vorige</a>
                  {% endif %}
                  <span>pagina {{ pagination.page + 1 }} van {{ pagination.numberOfPages }}</span>
                  {% if (pagination.page + 1) >= pagination.numberOfPages %}
                  <span class="next">volgende</span>
                  {% else %}
                  <a class="next" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index', {'page': pagination.page + 1, 'search_dossier_form': app.request.query.get('search_dossier_form')}) }}">volgende</a>
                  {% endif %}
              </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
