{% extends 'master.html.twig' %}

{% block title %}Prullenbak - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}

<p class="nav-internal--breadcrumb">
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class=" nav-internal--breadcrumb__home">
        <span>Start</span>
    </a>
    <a href="#" class="nav-internal--breadcrumb__section in-active">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Prullenbak</span>
    </a>
</p>

    <div class="document well">
        <div class="document-header">
            <h1 class="document-title">Prullenbak</h1>
            <p>Dossiers in de prullenbak zijn weggegooid maar kunnen nog hersteld worden. Als een dossier definitief wordt verwijderd is deze niet meer te herstellen.</p>
        </div>
        <div class="table table-actions">
            <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>MaDi/Bewindvoerder</th>
                        <th>MaDi/Bewindvoerder dossiernr.</th>
                        <th>GKA dossiernr.</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
{% for dossier in dossiers %}
                    <tr>
                        <td>{% if dossier.clientVoorletters %}{{ dossier.clientVoorletters|trim }} {% endif %}{{ dossier.clientNaam }}</td>
                        <td>{{ dossier.schuldhulpbureau }}</td>
                        <td class="nummer">
                            {{ dossier.regasNummer|default('-') }}
                        </td>
                        <td class="nummer">
                            {{ dossier.allegroNummer|default('-') }}
                        </td>
                        <td>
                            <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_remove', {'dossierId': dossier.id}) }}" method="post" data-submitter="zeker-weten">
                                <input type="hidden" name="token" value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_remove') }}">
                                <button type="submit" class="link danger"><i class="icon-prullenbak"></i> Definitief verwijderen</button>
                            </form>
                        </td>
                        <td>
                          <form action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_restore', {'dossierId': dossier.id}) }}" method="post">
                              <input type="hidden" name="token" value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_restore') }}">
                              <button type="submit" class="link"><i class="icon-undo"></i> Herstellen</button>
                          </form>
                        </td>
                    </tr>
{% endfor %}
               </tbody>
            </table>
{% if dossiers|length == 0 %}
            <p class="empty-table">Prullenbak is leeg</p>
{% endif %}
        </div>
        {% if pagination.numberOfPages > 1 %}
            {% include 'pagination.html.twig' with {'pagination': pagination} only %}
          {% endif %}
    </div>
{% endblock %}
