<!DOCTYPE html>
<html lang="nl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dossierindex</title>
<meta name="viewport" content="width = device-width">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body class="index">
	<header>
	<img src="/pix/logo_klein.svg">
	<h2>Digitale voorlegger</h2>
	<div>Ingelogd als: Petriculus Pucq <a href="#">(Uitloggen)</a></div>
    </header>

    <p class="kleineNav">&nbsp;</p>
	<main>
    <h1>Dossiers</h1>
    <p><a class="primair" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_create') }}">Maak nieuw dossier aan</a></p>
    
    <h2>Bestaande dossiers</h2>
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>MaDi</th>
                <th>Regas</th>
                <th>Allegro</th>
                <th>Aanmaak datum dossier</th>
            </tr>
        </thead>
        <tbody>
{% for dossier in dossiers %}
            <tr>
                <td><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detail', {'dossierId': dossier.Id}) }}">{{ dossier.clientNaam }}</a></td>
                <td>{{ dossier.schuldhulpbureau }}</td>
                <td class="nummer">
                    {{ dossier.regasNummer|default('-') }} 
                </td>
                <td class="nummer">
                    {{ dossier.allegroNummer|default('-') }} 
                </td>
                <td class="datum">
                    {{ dossier.aanmaakDatumTijd|date('d-m-Y') }}
                </td>
            </tr>
{% endfor %}
       </tbody>
    </table>
    </main>
    
    
</body>
</html>