{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('bewindstellingOfBudgetbeheer') %}

<div class="dossier__item {{ dossier.voorlegger.bewindstellingOfBudgetbeheerNvt ? ' status-nvt' }}
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
    status-shv-{{ dossier.voorlegger.bewindstellingOfBudgetbeheerOntvangenShv }}
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
    status-gka-{{ dossier.voorlegger.bewindstellingOfBudgetbeheerOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-bewindstellingOfBudgetbeheer"
     data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-bewindstellingOfBudgetbeheer">Onderbewindstelling of Budgetbeheer</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
            <div class="nvt" data-changer="nvt">
                {{ form_widget(form.bewindstellingOfBudgetbeheerNvt) }}
                <span>nvt</span>
            </div>
            <a class="dossier__voorlegger__sectie__close" href="#_"></a>
            <div class="status-container hide"><span>Status:</span>
            </div>
        </div>

    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Onderbewindstelling of Budgetbeheer'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>{{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('bewindstellingOfBudgetbeheer')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
        </div>
    </div>
</div>
