{% import 'partial.macros.html.twig' as tools %}
            {{ form_start(form) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-beschikkingOnderBewindstelling">
                <div class="accordion-header">
                    <a href="#voorlegger-beschikkingOnderBewindstelling" data-handler="toggle">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Beschikking onderbewindstelling
                            </div>
                            <div class="status">
                                <span class="{{ tools.madi_status_to_class(dossier.voorlegger.beschikkingOnderBewindstellingOntvangenMadi) }}">MaDi</span>
                                <span class="{{ tools.gka_status_to_class(dossier.voorlegger.beschikkingOnderBewindstellingOntvangenGka) }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.beschikkingOnderBewindstellingNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.beschikkingOnderBewindstellingNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.beschikkingOnderBewindstellingNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Beschikking onderbewindstelling'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('beschikkingOnderBewindstelling')} only %}
                        {{ form_row(form.beschikkingOnderBewindstellingOntvangenMadi) }}
                        {{ form_row(form.beschikkingOnderBewindstellingOntvangenGka) }}
                        <p class="buttons right">
                            <button class="button primary" type="submit">Opslaan</button>
                        </p>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
