{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-gereserveerdeGelden">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-gereserveerdeGelden" data-handler="toggle">Gereserveerde gelden</a>
                        </h3>
                        <div class="status-container">
                          {{ form_row(form.gereserveerdeGeldenOntvangenMadi) }}
                          {{ form_row(form.gereserveerdeGeldenOntvangenGka) }}
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.gereserveerdeGeldenNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.gereserveerdeGeldenNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.gereserveerdeGeldenNvt) }}
                        {{ form_row(form.gereserveerdeGelden) }}
                        <div class="document-bestanden">
                            {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Gereserveerde gelden'} only %}
                            {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('gereserveerdeGelden')} only %}
                        </div>
                    </div>
                </div>
            </div>
