{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('autoTaxatie') %}

<div class="dossier__item {{ dossier.voorlegger.autoTaxatieNvt ? ' status-nvt' }}
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
    status-shv-{{ dossier.voorlegger.autoTaxatieOntvangenShv }}
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
    status-gka-{{ dossier.voorlegger.autoTaxatieOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-autoTaxatie"
     data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-autoTaxatie">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
            {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
        </div>
    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <div class="status-container hide"><span>Status:</span>
                    {{ form_row(form.autoTaxatieOntvangenShv) }}
                    {{ form_row(form.autoTaxatieOntvangenGka) }}
                </div>
                <div class="nvt-input hide">
                    {{ form_row(form.autoTaxatieNvt) }}
                </div>
                {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                {{ tools.details_widget({
                    title: "Toelichting",
                    value: "<p>Als de Amsterdammer eigenaar is van een voertuig, wordt het voertuig aangemerkt als onderdeel van zijn of haar vermogen. Een auto mag alleen behouden blijven onder twee hoofdvoorwaarden:</p>
                            <ul>
                                <li>Als de auto om <b>medische redenen</b> noodzakelijk is.</li>
                                <li>Als de auto noodzakelijk is voor <b>inkomensverwerving</b>.</li>
                            </ul>
                            <p>Kijk daarom of de auto echt nodig is om inkomen te verdienen, of dat er een medische reden voor het gebruik is. Als de auto niet strikt noodzakelijk is, dan moet de auto worden verkocht en de opbrengst wordt ingezet voor de boedel ten gunste van de schuldeisers.</p>
                            <p>Wanneer de noodzaak is aangetoond, mag de auto behouden worden en hoeft de waarde van de auto in beginsel niet aan de boedel vergoed te worden.</p>
                            <h4>Medische noodzaak</h4>
                            <p>De Amsterdammer moet met documenten laten zien dat de auto om medische redenen nodig is, bijvoorbeeld met een medische indicatie.</p>
                            <h4>Kentekenbewijs</h4>
                            <p>Voeg een kopie van het kentekenbewijs mee i.v.m. de waardebepaling van de auto.</p>"
                }) }}
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Auto taxatie'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>{{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('autoTaxatie')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
        </div>
    </div>
</div>
