            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }} {{ schuldItem.isVerlopen ? 'verlopen' }}" id="schuldItem-{{ schuldItem.id }}" style="{{ schuldItem.verwijderd ? 'display: none;' }}">
                <div class="accordion-header">
                    
                    <div class="schulditem-header">
                        <h3 class="naam" title="{{ schuldItem.schuldeiser.bedrijfsnaam|default('-') }}{% if schuldItem.incassant %} / {{ schuldItem.incassant.bedrijfsnaam }}{% endif %} (referentie: {{ schuldItem.referentie }})">
                            <a href="#schuldItem-{{ schuldItem.id }}" data-handler="toggle">
                                <strong>{{ schuldItem.schuldeiser.bedrijfsnaam|default('-') }}
                                {% if schuldItem.incassant %} / {{ schuldItem.incassant.bedrijfsnaam }}{% endif %}
                                </strong>
                                <span class="referentie">(referentie: {{ schuldItem.referentie }})</span>
                            </a>
                        </h3>
                        <div class="voortgang">
                            {{ schuldItem.dossierDocumenten|length }} document{% if schuldItem.dossierDocumenten|length != 1 %}en{% endif %}
                        </div>
                        <div class="bedrag">
                            &euro; {{ schuldItem.bedrag|number_format(2, ',', '.') }}
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="schulditem-body">
                        <div class="columns">
                            <div class="column column-big">
                                <div class="select-autocomplete" data-keyupper="select" data-changer="address">
                                  <label for="schuldeiser-helper-{{ schuldItem.id }}">Schuldeiser</label>
                                  <div class="group">
                                    <input type="text" id="schuldeiser-helper-{{ schuldItem.id }}" placeholder="Zoek een schuldeiser" autocomplete="off">
                                    {{ form_row(form.schuldeiser) }}
                                  </div>
                                </div>
                                <div class="select-autocomplete" data-keyupper="select" data-changer="address">
                                  <label for="incassant-helper-{{ schuldItem.id }}">Incassant</label>
                                  <div class="group">
                                    <input type="text" id="incassant-helper-{{ schuldItem.id }}" placeholder="Zoek een incassant" autocomplete="off">
                                    {{ form_row(form.incassant) }}
                                  </div>
                                </div>
                                {{ form_row(form.type) }}
                                {{ form_row(form.referentie) }}
                                {{ form_row(form.opmerkingen) }}
                                {{ form_row(form.aantekening) }}
                            </div>
                            <div class="column">
                                {{ form_row(form.bedrag) }}
                                {{ form_row(form.vastStelDatum) }}
                                {{ form_row(form.ontstaansDatum) }}
                            </div>
                        </div>
                        

                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': (schuldItem.incassant ? schuldItem.incassant.bedrijfsnaam ~ ' - ' : '') ~ schuldItem.schuldeiser.bedrijfsnaam|default('-')} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': schuldItem.dossierDocumenten, 'removeFile': form.removeFile} only %}
                        {{ form_row(form.verwijderd) }}
                        {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': schuldItem.aantekeningen} only %}
                    </div>
                </div>
            </div>
