            {% form_theme form with ['forms2.html.twig'] only %}
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion" id="voorlegger-corrigerenGemeenteBelasting">
                <div class="accordion-header">
                    <div class="voorlegger-header">
                        <div class="naam">
                            <a href="#voorlegger-corrigerenGemeenteBelasting">Corrigeren gemeente belasting</a>
                        </div>
                        <div class="status">
                            <span class="na"></span>
                            <span class="{{ dossier.voorlegger.corrigerenGemeenteBelastingOntvangenGka ? 'afgerond' : 'open' }}">GKA</span>
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.corrigerenGemeenteBelastingNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.corrigerenGemeenteBelastingNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.corrigerenGemeenteBelastingNvt) }}
                        {{ form_row(form.corrigerenGemeenteBelastingOntvangenGka) }}
                        {{ form_row(form.corrigerenGemeenteBelasting) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('corrigerenGemeenteBelasting')} only %}
                        <div class="nav">
                            <button type="submit">Opslaan</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}