{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-waternet">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-waternet" data-handler="toggle">Waternet</a>
                        </h3>
                        <div class="status-container">
                          {{ form_row(form.waternetOntvangenMadi) }}
                          {{ form_row(form.waternetOntvangenGka) }}
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.waternetNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.waternetNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.waternetNvt) }}
                        {{ form_row(form.drinkwaterKlantnummer) }}
                        {{ form_row(form.drinkwaterDatumOpname) }}
                        {{ form_row(form.drinkwaterOpname) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Waternet'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('waternet'), 'removeFile': form.removeFile} only %}
                    </div>
                </div>
            </div>
