
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'open' }}" id="voorlegger-polisbladZorgverzekering">
                <div class="accordion-header">
                    <a href="#voorlegger-polisbladZorgverzekering">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Polisblad zorgverzekering
                            </div>
                            <div class="status">
                                <span class="{{ dossier.voorlegger.polisbladZorgverzekeringOntvangenMadi ? 'afgerond' : 'open' }}">MaDi</span>
                                <span class="{{ dossier.voorlegger.polisbladZorgverzekeringOntvangenGka ? 'afgerond' : 'open' }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.polisbladZorgverzekeringNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.polisbladZorgverzekeringNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.polisbladZorgverzekeringNvt) }}
                        {{ form_row(form.polisbladZorgverzekeringOntvangenMadi) }}
                        {{ form_row(form.polisbladZorgverzekeringOntvangenGka) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Polisblad zorgverzekering'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('polisbladZorgverzekering')} only %}
                        <p class="buttons right">
                            <button class="button primary" type="submit">Opslaan</button>
                        </p>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}