<div class="dossier__dashboard">
    <div class="dossier__dashboard__default">
        <div class="row">
            <div class="col-1-1">
                <h2>Algemene dossierinformatie</h2>
                {% if not dossier.isInPrullenbak %}
                <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailalgemeen', {'dossierId': dossier.id}) }}" class="button secondary">Wijzig algemene informatie</a>
                {% endif %}
            </div>
        </div>
        <div class="row row-max-height">
            <div class="col-1-2">
                <dl>
                    <dt>Cliëntnaam</dt>
                    <dd>{{ dossier.clientNaam }}</dd>
                </dl>
            </div>
            <div class="col-1-2">
                <dl>
                    <dt>Partnernaam</dt>
                    <dd>{{ dossier.partnerNaam }}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-1-2">
                <h4>MaDi</h4>
                <dl>
                    <dt>Schuldhulpbureau</dt>
                    <dd>{{ dossier.schuldhulpbureau }}</dd>
                    <dt>Medewerker schuldhulpbureau</dt>
                    <dd>{{ dossier.medewerkerSchuldhulpbureau }}</dd>
                    <dt>MaDi dossiernr.</dt>
                    <dd>{{ dossier.regasNummer }}</dd>
                </dl>
            </div>
            <div class="col-1-2">
                <h4>GKA</h4>
                <dl>
                    <dt>Team GKA</dt>
                    <dd>{{ dossier.teamGka }}</dd>
                    <dt>GKA dossiernr.</dt>
                    <dd>{{ dossier.allegroNummer }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="dossier__dashboard__messages">
        <div class="row">
            <div class="col-1-1">
                <h2>Overleg</h2>
                {% if not dossier.isInPrullenbak %}
                <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailaantekeningen', {'dossierId': dossier.id}) }}" class="button secondary">Aantekening toevoegen</a>
                {% endif %}
            </div>
        </div>
        <div class="row row-max-height">
            <div class="col-1-1">
                <div class="aantekeningen">
                    {% for aantekening in dossier.aantekeningen %}
                        {% include 'Dossier/partial.aantekening.html.twig' with {'aantekening': aantekening, 'showContext': true} %}
                    {% endfor %}
                </div>

            </div>
        </div>
        {% if voorleggerForm.cdst is defined %}
                <div class="dossier__dashboard__controls">
                    <div class="row">
                        <h2>Dossier acties</h2>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="dashboard_dossier_status_changer">
                                {% include 'Dossier/partial.dossierStatusChanger.twig' with {'changeDossierStatusForm': voorleggerForm.cdst} %}
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    </div>
</div>
