{% import 'partial.macros.html.twig' as tools %}
{% from 'html.macros.html.twig' import details as detailsMacro %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('waternet') %}

<div class="dossier__item {{ dossier.voorlegger.waternetNvt ? ' status-nvt' }}
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
    status-shv-{{ dossier.voorlegger.waternetOntvangenShv }}
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
    status-gka-{{ dossier.voorlegger.waternetOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-waternet"
     data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-waternet">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
            {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
        </div>
    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <div class="status-container hide"><span>Status:</span>
                    {{ form_row(form.waternetOntvangenShv) }}
                    {{ form_row(form.waternetOntvangenGka) }}
                </div>
                <div class="nvt-input hide">
                    {{ form_row(form.waternetNvt) }}
                </div>
                {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                {{ detailsMacro({
                    class: "explanation",
                    title: "Toelichting",
                    value: "<p>Vul dit alleen in als er een openstaande schuld is bij de huidige leverancier, bijvoorbeeld Waternet drinkwater.</p>
                            <p>Noteer de meest recente meterstanden voor het versturen van de aanvraag. Een foto van de meterstanden kan als bijlage worden toegevoegd, maar dit is niet voldoende – de standen moeten ook handmatig worden ingevuld.</p>
                            <p>Indien er schulden bij Waternet openstaan op twee adressen (een huidig en een oud adres), vermeld dit dan duidelijk en geef beide klantnummers op, zodat per adres inzichtelijk is welke schuld daarbij hoort.</p>"
                }) }}
                {{ form_row(form.drinkwaterKlantnummer) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.drinkwaterKlantnummer) }}
                {% endif %}
                {{ form_row(form.drinkwaterDatumOpname) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.drinkwaterDatumOpname) }}
                {% endif %}
                {{ form_row(form.drinkwaterOpname, {'attr': {'data-unit': 'm³', 'data-validator': 'float'}}) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.drinkwaterOpname) }}
                {% endif %}
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Waternet'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>{{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('waternet')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
        </div>
    </div>
</div>
