{% import 'partial.macros.html.twig' as tools %}
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'open' }}" id="voorlegger-alimentatieEchtscheidingsconvenant">
                <div class="accordion-header">
                    <a href="#voorlegger-alimentatieEchtscheidingsconvenant">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Alimentatie Echtscheidingsconvenant
                            </div>
                            <div class="status">
                                <span class="{{ tools.madi_status_to_class(dossier.voorlegger.alimentatieEchtscheidingsconvenantOntvangenMadi) }}">MaDi</span>
                                <span class="{{ tools.gka_status_to_class(dossier.voorlegger.alimentatieEchtscheidingsconvenantOntvangenGka) }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.alimentatieEchtscheidingsconvenantNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.alimentatieEchtscheidingsconvenantNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.alimentatieEchtscheidingsconvenantOntvangenMadi) }}
                        {{ form_row(form.alimentatieEchtscheidingsconvenantOntvangenGka) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Alimentatie Echtscheidingsconvenant'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('alimentatieEchtscheidingsconvenant')} only %}
                        <p class="buttons right">
                            <button class="button primary" type="submit">Opslaan</button>
                        </p>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}