{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-alimentatieEchtscheidingsconvenant">
                <div class="accordion-header">
                    <a href="#voorlegger-alimentatieEchtscheidingsconvenant" data-handler="toggle">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Alimentatie Echtscheidingsconvenant
                            </div>
                            <div class="status">
                                <span class="{{ tools.madi_status_to_class(dossier.voorlegger.alimentatieEchtscheidingsconvenantOntvangenMadi) }}">MaDi</span>
                                <span class="{{ tools.gka_status_to_class(dossier.voorlegger.alimentatieEchtscheidingsconvenantOntvangenGka) }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.alimentatieEchtscheidingsconvenantNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.alimentatieEchtscheidingsconvenantNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Alimentatie Echtscheidingsconvenant'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('alimentatieEchtscheidingsconvenant')} only %}
                        {{ form_row(form.alimentatieEchtscheidingsconvenantOntvangenMadi) }}
                        {{ form_row(form.alimentatieEchtscheidingsconvenantOntvangenGka) }}
                    </div>
                </div>
            </div>
