{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-beschikkingUwv">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-beschikkingUwv" data-handler="toggle">Beschikking UWV</a>
                        </h3>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.beschikkingUwvNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.beschikkingUwvNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                    
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.beschikkingUwvNvt) }}
                        {{ form_row(form.beschikkingUwvWw) }}
                        {{ form_row(form.beschikkingUwvWia) }}
                        {{ form_row(form.beschikkingUwvZw) }}
                        {{ form_row(form.beschikkingUwvOverig) }}
                        <div class="document-bestanden">
                            {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Beschikking UWV'} only %}
                            {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('beschikkingUwv')} only %}
                        </div>
                    </div>
                </div>
            </div>
