
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion" id="voorlegger-waternet">
                <div class="accordion-header">
                    <a href="#voorlegger-waternet">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Waternet
                            </div>
                            <div class="status">
                                <span class="{{ dossier.voorlegger.waternetOntvangenMadi ? 'afgerond' : 'open' }}">MaDi</span>
                                <span class="{{ dossier.voorlegger.waternetOntvangenGka ? 'afgerond' : 'open' }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.waternetNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.waternetNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.waternetNvt) }}
                        {{ form_row(form.waternetOntvangenMadi) }}
                        {{ form_row(form.waternetOntvangenGka) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('waternet')} only %}
                        <div class="nav">
                            <button type="submit">Opslaan</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}