            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="schuldItem-{{ schuldItem.id }}" style="{{ schuldItem.verwijderd ? 'display: none;' }}">
                <div class="accordion-header">
                    
                    <div class="schulditem-header">
                        <h3 class="naam">
                            <a href="#schuldItem-{{ schuldItem.id }}" data-handler="toggle">
                                <strong>{{ schuldItem.schuldeiser.bedrijfsnaam|default('-') }}
                                {% if schuldItem.incassant %} / {{ schuldItem.incassant.bedrijfsnaam }}{% endif %}
                                </strong>
                                <span class="referentie">(referentie: {{ schuldItem.referentie }})</span>
                            </a>
                        </h3>
                        <div class="voortgang">
                            {{ schuldItem.dossierDocumenten|length }} document(en)
                        </div>
                        <div class="bedrag">
                            &euro; {{ schuldItem.bedrag|number_format(2, ',', '.') }}
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="schulditem-body">
                        <div class="columns">
                            <div class="column">
                                {{ form_row(form.schuldeiser) }}
                                {{ form_row(form.incassant) }}
                                {{ form_row(form.type) }}
                                {{ form_row(form.referentie) }}
                            </div>
                            <div class="column">
                                {{ form_row(form.bedrag) }}
                                {{ form_row(form.vastStelDatum) }}
                                {{ form_row(form.ontstaansDatum) }}
                            </div>
                        </div>
                        {{ form_row(form.opmerkingen) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': schuldItem.dossierDocumenten, 'removeFile': form.removeFile} only %}
                        {{ form_row(form.verwijderd) }}
                    </div>
                </div>
            </div>
