{% import 'partial.macros.html.twig' as tools %}
            {{ form_start(form) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-waternet">
                <div class="accordion-header">
                    <a href="#voorlegger-waternet" data-handler="toggle">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Waternet
                            </div>
                            <div class="status">
                                <span class="{{ tools.madi_status_to_class(dossier.voorlegger.waternetOntvangenMadi) }}">MaDi</span>
                                <span class="{{ tools.gka_status_to_class(dossier.voorlegger.waternetOntvangenGka) }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.waternetNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.waternetNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.waternetNvt) }}
                        {{ form_row(form.drinkwaterKlantnummer) }}
                        {{ form_row(form.drinkwaterDatumOpname) }}
                        {{ form_row(form.drinkwaterOpname) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Waternet'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('waternet')} only %}
                        {{ form_row(form.waternetOntvangenMadi) }}
                        {{ form_row(form.waternetOntvangenGka) }}
                        <p class="buttons right">
                            <button class="button primary" type="submit">Opslaan</button>
                        </p>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}