{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-arbeidsovereenkomst">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-arbeidsovereenkomst" data-handler="toggle">Arbeidsovereenkomst</a>
                        </h3>
                        <div class="status-container">
                          {{ form_row(form.arbeidsovereenkomstOntvangenMadi) }}
                          {{ form_row(form.arbeidsovereenkomstOntvangenGka) }}
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.arbeidsovereenkomstNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.arbeidsovereenkomstNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.arbeidsovereenkomstNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Arbeidsovereenkomst'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('arbeidsovereenkomst'), 'removeFile': form.removeFile} only %}
                        {{ form_row(form.aantekening) }}
                        {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('arbeidsovereenkomst')} only %}
                    </div>
                </div>
            </div>
