{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-autoTaxatie">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-autoTaxatie" data-handler="toggle">Auto taxatie</a>
                        </h3>
                        <div class="status-container">
                          {{ form_row(form.autoTaxatieOntvangenMadi) }}
                          {{ form_row(form.autoTaxatieOntvangenGka) }}
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.autoTaxatieNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.autoTaxatieNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.autoTaxatieNvt) }}
                        <div class="document-bestanden">
                            {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Auto taxatie'} only %}
                            {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('autoTaxatie')} only %}
                        </div>
                    </div>
                </div>
            </div>
