<div class="dossier__header">
    <h1 class="document-title">{{ dossier.clientNaam }}</h1>
    {% if dossier.allegroNummer %}<p>Allegro: <strong>{{ dossier.allegroNummer }}</strong></p>{% endif %}
    {#{% include 'Dossier/partial.dossierDetailHeader.html.twig' with {'dossier': dossier} only %}#}

    <nav class="nav-internal actions">
        {#<span class="nav-open primary">Alle acties <i class="icon-arrow-bottom"></i></span>#}
        <a href="#acties" class="nav-toggle" data-handler="global-toggle" data-toggle-class="acties-active"
           data-label="Alle acties"><span class="nav-open primary">Alle acties <i class="icon-arrow-bottom"></i></span></a>
        <nav class="nav" id="acties">
            <ul class="menu">
                <li>
                    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detaildocumenten', {'dossierId': dossier.id}) }}"><i
                                class="icon-documenten"></i> Toon alle documenten</a></li>
                <li>
                    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailoverigedocumenten', {'dossierId': dossier.id}) }}"><i
                                class="icon-documenten"></i> Toon overige documenten</a></li>
                <li><a href="#pdfsplitter" data-handler="global-toggle" data-toggle-class="splitter-active"><i
                                class="icon-splitsen"></i> pdf splitsen</a></li>
                <li>
                    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailschuldenexcel', {'dossierId': dossier.id}) }}"><i
                                class="icon-download"></i> Download schuldenlijst als Excel</a></li>
                <li><a
                            href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_log', {'dossierId': dossier.id}) }}"><i
                                class="icon-documenten"></i> Toon logboek</a></li>
                <li>
                <li class="divider"><a
                            href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailprullenbak', {'dossierId': dossier.id}) }}"><i
                                class="icon-uit-prullenbak"></i> Toon prullenbak</a></li>
                <li>
                    <form method='POST'
                          action="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_movetoprullenbak', {'dossierId': dossier.id}) }}"
                          data-submitter="zeker-weten">
                        <button type="submit" name="token"
                                value="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_movetoprullenbak') }}"
                                class="link"><i class="icon-prullenbak"></i> Dossier verwijderen
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    </nav>


    <p class="nav-internal--breadcrumb">
        <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class=" nav-internal--breadcrumb__home">
            <span>Start</span>
        </a>
        <a href="#dossier" class=" nav-internal--breadcrumb__dossier">
            <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
            <span>Dossier</span>
        </a>
        <a href="#sectie" class="nav-internal--breadcrumb__section hide in-active">
            <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
            <span></span>
        </a>
    </p>
    <div class="page-toggle">
        {% if active == 'schulden' %}
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': dossier.id}) }}">Aanvraag</a>
            <span>Schulden</span>
        {% else %}
            <span>Aanvraag</span>
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailschulden', {'dossierId': dossier.id}) }}">Schulden</a>
        {% endif %}
    </div>
</div>
