{% import 'partial.macros.html.twig' as tools %}
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'open' }}" id="voorlegger-toelichtingAanvraagSchuldsaneringMadi">
                <div class="accordion-header">
                    <a href="#voorlegger-toelichtingAanvraagSchuldsaneringMadi">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Toelichting aanvraag schuldsanering MaDi
                            </div>
                            <div class="status">
                                <span class="{{ tools.madi_status_to_class(dossier.voorlegger.toelichtingAanvraagSchuldsaneringMadiOntvangenMadi) }}">MaDi</span>
                                <span class="{{ tools.gka_status_to_class(dossier.voorlegger.toelichtingAanvraagSchuldsaneringMadiOntvangenGka) }}">GKA</span>
                            </div>
                            <div class="nvt">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Toelichting aanvraag schuldsanering MaDi'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('toelichtingAanvraagSchuldsaneringMadi')} only %}
                        {{ form_row(form.toelichtingAanvraagSchuldsaneringMadiOntvangenMadi) }}
                        {{ form_row(form.toelichtingAanvraagSchuldsaneringMadiOntvangenGka) }}
                        <p class="buttons right">
                            <button class="button primary" type="submit">Opslaan</button>
                        </p>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}