{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('ondertekendAanvraagFormulier') %}
  
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-ondertekendAanvraagFormulier">
                <div class="accordion-header">
                    
                <div class="voorlegger-header">
                    <h3 class="naam">
                        <a href="#voorlegger-ondertekendAanvraagFormulier" data-handler="toggle">Ondertekend aanvraag formulier</a>
                    </h3>
                    {% if dossierDocumenten|length > 0 %}
                      <div class="voortgang">
                        {{ dossierDocumenten|length }} document{% if dossierDocumenten|length != 1 %}en{% endif %}
                      </div>
                    {% endif %}
                    <div class="status-container">
                      {{ form_row(form.ondertekendAanvraagFormulierOntvangenMadi) }}
                      {{ form_row(form.ondertekendAanvraagFormulierOntvangenGka) }}
                    </div>
                </div>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.aanvullendeInformatie) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Ondertekend aanvraag formulier'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                        {{ form_row(form.aantekening) }}
                        {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('ondertekendAanvraagFormulier')} only %}
                    </div>
                </div>
            </div>
