{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerpen(['overigeDocumenten', 'overige']) %}

<div class="dossier__item {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-overige-documenten" data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-overige-documenten">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
        </div>

    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Overige documenten'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>
                {{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('overigeDocumenten')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
        </div>
    </div>
</div>
