{% import 'partial.macros.html.twig' as tools %}
            {{ form_start(form) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-bewindstellingOfBudgetbeheer">
                <div class="accordion-header">
                    <a href="#voorlegger-bewindstellingOfBudgetbeheer" data-handler="toggle">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Onderbewindstelling of Budgetbeheer
                            </div>
                            <div class="status">
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.bewindstellingOfBudgetbeheerNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.bewindstellingOfBudgetbeheerNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.bewindstellingOfBudgetbeheerNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Onderbewindstelling of Budgetbeheer'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('bewindstellingOfBudgetbeheer')} only %}
                        <p class="buttons right">
                            <button class="button primary" type="submit">Opslaan</button>
                        </p>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}