{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-overeenkomstKinderopvang">
                <div class="accordion-header">
                    <a href="#voorlegger-overeenkomstKinderopvang" data-handler="toggle">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Overeenkomst kinderopvang
                            </div>
                            <div class="status">
                                <span class="{{ tools.madi_status_to_class(dossier.voorlegger.overeenkomstKinderopvangOntvangenMadi) }}">MaDi</span>
                                <span class="{{ tools.gka_status_to_class(dossier.voorlegger.overeenkomstKinderopvangOntvangenGka) }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.overeenkomstKinderopvangNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.overeenkomstKinderopvangNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.overeenkomstKinderopvangNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Overeenkomst kinderopvang'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('overeenkomstKinderopvang')} only %}
                        {{ form_row(form.overeenkomstKinderopvangOntvangenMadi) }}
                        {{ form_row(form.overeenkomstKinderopvangOntvangenGka) }}
                    </div>
                </div>
            </div>
