{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-alimentatieEchtscheidingsconvenant">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-alimentatieEchtscheidingsconvenant" data-handler="toggle">Alimentatie Echtscheidingsconvenant</a>
                        </h3>
                        <div class="status-container">
                            {{ form_row(form.alimentatieEchtscheidingsconvenantOntvangenMadi) }}
                            {{ form_row(form.alimentatieEchtscheidingsconvenantOntvangenGka) }}
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.alimentatieEchtscheidingsconvenantNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.alimentatieEchtscheidingsconvenantNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.alimentatieEchtscheidingsconvenantNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Alimentatie Echtscheidingsconvenant'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('alimentatieEchtscheidingsconvenant'), 'removeFile': form.removeFile} only %}
                        {{ form_row(form.aantekening) }}
                        {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('alimentatieEchtscheidingsconvenant')} only %}
                    </div>
                </div>
            </div>
