
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'open' }}" id="voorlegger-budgetbeheer">
                <div class="accordion-header">
                    <a href="#voorlegger-budgetbeheer">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Budgetbeheer
                            </div>
                            <div class="status">
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.budgetbeheerNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.budgetbeheerNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.budgetbeheerNvt) }}
                        {{ form_row(form.budgetbeheerPlangroep) }}
                        {{ form_row(form.budgetbeheerCav) }}
                        {{ form_row(form.budgetbeheerFibu) }}
                        {{ form_row(form.budgetbeheerOverig) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Budgetbeheer'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('budgetbeheer')} only %}
                        <p class="buttons right">
                            <button class="button primary" type="submit">Opslaan</button>
                        </p>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}