
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'open' }}" id="voorlegger-beschikkingUwv">
                <div class="accordion-header">
                    <a href="#voorlegger-beschikkingUwv">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Beschikking UWV
                            </div>
                            <div class="status">
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.beschikkingUwvNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.beschikkingUwvNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.beschikkingUwvNvt) }}
                        {{ form_row(form.beschikkingUwvWw) }}
                        {{ form_row(form.beschikkingUwvWia) }}
                        {{ form_row(form.beschikkingUwvZw) }}
                        {{ form_row(form.beschikkingUwvOverig) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Beschikking UWV'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('beschikkingUwv')} only %}
                        <div class="nav">
                            <button type="submit">Opslaan</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}