{% if changeSet is not empty %}
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Veld</th>
                    {% if isNew|default(false) == false %}
                        <th>Oude waarde</th>
                    {% endif %}
                    <th>Nieuwe waarde</th>
                </tr>
            </thead>
            <tbody>
                {% for field, values in changeSet %}
                    <tr>
                        <td class="logboek-update-field">{{ field }}</td>
                        {% if isNew|default(false) == false %}
                            <td class="logboek-update-original-value">
                                {% if values[0] is same as(false) %}
                                    Nee
                                {% elseif values[0] is same as(true) %}
                                    Ja
                                {% elseif values[0] is null %}
                                    Geen waarde
                                {% elseif values[0]['naam'] is defined %}
                                    {{ values[0]['naam'] }}
                                {% elseif values[0] is iterable %}
                                    Kan waarde niet tonen
                                {% else %}
                                    {{ values[0] }}
                                {% endif %}
                            </td>
                        {% endif %}
                        <td class="logboek-update-updated-value">
                            {% if values[1] is same as(false) %}
                                Nee
                            {% elseif values[1] is same as(true) %}
                                Ja
                            {% elseif values[1] is null %}
                                Geen waarde
                            {% elseif values[1]['naam'] is defined %}
                                {{ values[1]['naam'] }}
                            {% elseif values[1] is iterable %}
                                Kan waarde niet tonen
                            {% else %}
                                {{ values[1] }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="logboek-no-updates">Er zijn geen velden bijgewerkt</p>
{% endif %}