<div class="{{ app.request.isXmlHttpRequest ? 'active' }} {{ schuldItem.verwijderd ? ' dossier__item__verwijderd' : ' dossier__item' }}"
     {% if schuldItem.verwijderd == false  %}
     id="schuldItem-{{ schuldItem.id }}"
     data-hashevent="activate-section"
     data-decorator="set-callback"
     data-keyupper="section-document-nav"
     {% endif %}
    >
    <input class="button-remove-input" id="schulden_form_schuldItems_{{ schuldItem.id }}_verwijderd"
           name="{{ form.verwijderd.vars.full_name }}" value="1"
           type="checkbox" {{ schuldItem.verwijderd ? 'checked="checked"' }}>
    {% do form.verwijderd.setRendered() %}
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam"
                title="{{ schuldItem.schuldeiser.bedrijfsnaam|default('-') }}{% if schuldItem.incassant %} / {{ schuldItem.incassant.bedrijfsnaam }}{% endif %} (referentie: {{ schuldItem.referentie }})">
                <a href="#id_schuldItem-{{ schuldItem.id }}" data-handler="toggle">
                    <strong>{{ schuldItem.schuldeiser.bedrijfsnaam|default('-') }}
                        {% if schuldItem.incassant %} / {{ schuldItem.incassant.bedrijfsnaam }}{% endif %}
                    </strong>
                    {{ schuldItem.isVerlopen ? '<span class="dossier__voorlegger__header__message" data-message="Is verlopen"></span>' }}
                </a>
            </h3>


            <div class="bedrag">
                &euro; {{ schuldItem.bedrag|number_format(2, ',', '.') }}
            </div>
            {% if schuldItem.getNietVerwijderdeDossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ schuldItem.getNietVerwijderdeDossierDocumenten|length }}</span>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <p class="nav-internal">
                    <label for="schulden_form_schuldItems_{{ schuldItem.id }}_verwijderd">
                        <span class="link primary button-remove">Verwijderen</span>
                    </label>
                </p>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                <div class="schulditem-body">


                    <div class="columns select-autocomplete" data-decorator="schuldeiser-autocomplete" data-required="true">
                        <div class="column">
                            <label for="schuldeiser-helper-{{ schuldItem.id }}">Schuldeiser *</label>
                            <div class="group">
                                <input type="text" id="schuldeiser-helper-{{ schuldItem.id }}"
                                       placeholder="Zoek een schuldeiser" autocomplete="off">
                                <div class="search-result-container"></div>

                                <i class="icon-search"></i>
                                <div class="form-row">
                                {% if not schuldItem.verwijderd %}
                                {{ form_row(form.schuldeiser, {'attr': {'data-validator': 'required'}}) }}
                                {% else %}
                                {{ form_row(form.schuldeiser) }}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="column">
                                <div class="result-container">
                                    {% if schuldItem.schuldeiser %}
                                        <span class="search-result-item-static">
                                        <span>{{ schuldItem.schuldeiser.bedrijfsnaam }}</span>
                                        <span class="small">Allegro code: {{ schuldItem.schuldeiser.allegroCode }}</span>
                                        <span>{{ schuldItem.schuldeiser.rekening }}</span>
                                        <span>{{ schuldItem.schuldeiser.straat }}{% if schuldItem.schuldeiser.huisnummerToevoeging %} {{ schuldItem.schuldeiser.huisnummerToevoeging }}{% endif %} {{ schuldItem.schuldeiser.huisnummer }}</span>
                                        <span>{{ schuldItem.schuldeiser.postcode }} {{ schuldItem.schuldeiser.plaats }}</span>
                                        </span>
                                    {% endif %}
                                </div>
                        </div>

                    </div>
                    <div class="columns select-autocomplete" data-decorator="schuldeiser-autocomplete" data-required="false">
                        <div class="column">
                            <div class="">
                                <label for="incassant-helper-{{ schuldItem.id }}">Incassant</label>
                                <div class="group">
                                    <input type="text" id="incassant-helper-{{ schuldItem.id }}"
                                           placeholder="Zoek een incassant" autocomplete="off">
                                    <div class="search-result-container"></div>

                                    <i class="icon-search"></i>
                                    {{ form_row(form.incassant) }}
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="result-container">
                                {% if schuldItem.incassant %}
                                    <span class="search-result-item-static">
                                            <span>{{ schuldItem.incassant.bedrijfsnaam }}</span>
                                            <span class="small">Allegro code: {{ schuldItem.schuldeiser.allegroCode }}</span>
                                            <span>{{ schuldItem.incassant.rekening }}</span>
                                            <span>{{ schuldItem.incassant.straat }}{% if schuldItem.incassant.huisnummerToevoeging %} {{ schuldItem.incassant.huisnummerToevoeging }}{% endif %} {{ schuldItem.incassant.huisnummer }}</span>
                                            <span>{{ schuldItem.incassant.postcode }} {{ schuldItem.incassant.plaats }}</span>
                                            <a href="javascript:void(0);" class="search-result-item__close"></a>
                                        </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            {% if not schuldItem.verwijderd %}
                            {{ form_row(form.bedrag, {'attr': {'data-unit': '€', 'data-validator': 'required-float'}}) }}
                            {% else %}
                            {{ form_row(form.bedrag) }}
                            {% endif %}
                            {{ form_row(form.vastStelDatum) }}
                            {{ form_row(form.type) }}
                            {% if not schuldItem.verwijderd %}
                            {{ form_row(form.referentie, {'attr': {'data-validator': 'required'}}) }}
                            {% else %}
                            {{ form_row(form.referentie) }}
                            {% endif %}
                        </div>
                        <div class="column">
                            {% if not schuldItem.verwijderd %}
                            {{ form_row(form.bedragOorspronkelijk, {'attr': {'data-unit': '€', 'data-validator': 'float', 'data-num-max': '1000000', 'data-num-min': '1'}}) }}
                            {% else %}
                            {{ form_row(form.bedragOorspronkelijk) }}
                            {% endif %}
                            {{ form_row(form.ontstaansDatum) }}
                        </div>
                    </div>
                    <div class="column" id="toevoeging_onbekende_schuldeiser">
                        {{ form_row(form.toevoegingOnbekendeSchuldeiser) }}
                    </div>


                </div>
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': (schuldItem.incassant ? schuldItem.incassant.bedrijfsnaam ~ ' - ' : '') ~ schuldItem.schuldeiser.bedrijfsnaam|default('-')} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': schuldItem.dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>{{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': schuldItem.aantekeningen} only %}


            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
        </div>
    </div>
</div>
