{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-kwijtscheldingGemeenteBelasting">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-kwijtscheldingGemeenteBelasting" data-handler="toggle">Kwijtschelding gemeente belasting</a>
                        </h3>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.kwijtscheldingGemeenteBelastingNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.kwijtscheldingGemeenteBelastingNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                    
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.kwijtscheldingGemeenteBelastingNvt) }}
                        {{ form_row(form.kwijtscheldingGemeenteBelasting) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Kwijtschelding gemeente belasting'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('kwijtscheldingGemeenteBelasting')} only %}
                    </div>
                </div>
            </div>
