{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('retourbewijsModem') %}
  
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-retourbewijsModem">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header{{ dossier.voorlegger.retourbewijsModemNvt ? ' nvt' }}">
                        <h3 class="naam">
                            <a href="#voorlegger-retourbewijsModem" data-handler="toggle">Retourbewijs modem</a>
                        </h3>
                        {% if dossierDocumenten|length > 0 %}
                          <div class="voortgang">
                            {{ dossierDocumenten|length }} document{% if dossierDocumenten|length != 1 %}en{% endif %}
                          </div>
                        {% endif %}
                        <div class="nvt">
                            {{ form_row(form.retourbewijsModemNvt) }}
                        </div>
                        <div class="status-container">
                          {{ form_row(form.retourbewijsModemOntvangenMadi) }}
                          {{ form_row(form.retourbewijsModemOntvangenGka) }}
                        </div>
                    </div>
                    
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Retourbewijs modem'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                        {{ form_row(form.aantekening) }}
                        {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('retourbewijsModem')} only %}
                    </div>
                </div>
            </div>
