{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('cjib') %}
  
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-cjib">
                <div class="accordion-header">
                    
                        <div class="voorlegger-header">
                            <h3 class="naam">
                                <a href="#voorlegger-cjib" data-handler="toggle">CJIB (niet saneerbare vorderingen)</a>
                            </h3>
                        {% if dossierDocumenten %}
                          <div class="voortgang">
                            {% if dossierDocumenten|length > 0 %}{{ dossierDocumenten|length }} document{% if dossierDocumenten|length != 1 %}en{% endif %}{% endif %}
                          </div>
                        {% endif %}
                            <div class="status-container">
                              {{ form_row(form.cjibOntvangenMadi) }}
                              {{ form_row(form.cjibOntvangenGka) }}
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.cjibNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.cjibNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    
                </div>
                <div class="accordion-body">
                    {{ form_row(form.cjibNvt) }}
                    {{ form_row(form.cjib) }}
                    <div class="voorlegger-body">
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'CJIB (niet saneerbare vorderingen)'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                        {{ form_row(form.aantekening) }}
                        {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('cjib')} only %}
                    </div>
                </div>
            </div>
