            {% form_theme form with ['forms2.html.twig'] only %}
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion" id="voorlegger-arbeidsovereenkomst">
                <div class="accordion-header">
                    <div class="voorlegger-header">
                        <div class="naam">
                            <a href="#voorlegger-arbeidsovereenkomst">Arbeidsovereenkomst</a>
                        </div>
                        <div class="status">
                            <span class="{{ dossier.voorlegger.arbeidsovereenkomstOntvangenMadi ? 'afgerond' : 'open' }}">MaDi</span>
                            <span class="{{ dossier.voorlegger.arbeidsovereenkomstOntvangenGka ? 'afgerond' : 'open' }}">GKA</span>
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.arbeidsovereenkomstNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.arbeidsovereenkomstNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.arbeidsovereenkomstNvt) }}
                        {{ form_row(form.arbeidsovereenkomstOntvangenMadi) }}
                        {{ form_row(form.arbeidsovereenkomstOntvangenGka) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('arbeidsovereenkomst')} only %}
                        <div class="nav">
                            <button type="submit">Opslaan</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
