{% import 'partial.macros.html.twig' as tools %}
{% from 'html.macros.html.twig' import details as detailsMacro %}

{{ detailsMacro({    
    class: "explanation",
    title: "Toelichting",
    value: "<p>Voeg een geldig legitimatiebewijs (identiteitsbewijs of paspoort) van cliënt en evt. partner of kopie voor- en achterzijde verblijfsvergunning(en) (handtekening + foto zichtbaar). Het BSNnummer moet duidelijk te zien zijn. Vul in dit tabblad de volledige gegevens in.</p><p>Een Nederlands rijbewijs is ook een geldig legitimatiebewijs. Voor de uitbetaling van het krediet verzoekt de Kredietbank om een geldig legitimatiebewijs, bijvoorbeeld een identiteitskaart of een paspoort.</p>"
}) }}

<h4>Cliënt</h4>
{{ form_row(form.clientGeslacht, {'attr': {'form_row_class': 'form-row__wide', 'class': 'radio-group radio-group__horizontal'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientGeslacht) }}
{% endif %}
{{ form_row(form.clientNaam, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientNaam) }}
{% endif %}
{{ form_row(form.clientVoorletters, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientVoorletters) }}
{% endif %}
{{ form_row(form.clientGeboortedatum, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientGeboortedatum) }}
{% endif %}
{{ form_row(form.clientBSN, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientBSN) }}
{% endif %}
<p class="explanation">Voer bij ‘banknaam’ de organisatie in waar de Amsterdammer bankiert. Ten tijde van de aanvraag mag de Amsterdammer niet rood staan. De mogelijkheid om maximaal 500 euro rood te staan mag er wel zijn. Er mag bij deze bank <strong>géén lopende lening of creditcard</strong> zijn.</p>
{{ form_row(form.clientBanknaam, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientBanknaam) }}
{% endif %}

<h4>Partner</h4>
{{ form_row(form.partnerNvt, {'attr': {'form_row_class': 'form-row__checkbox--right'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.partnerNvt) }}
{% endif %}
{{ form_row(form.partnerGeslacht, {'attr': {'form_row_class': 'form-row__wide', 'class': 'radio-group radio-group__horizontal'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.partnerGeslacht) }}
{% endif %}
{{ form_row(form.partnerNaam, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.partnerNaam) }}
{% endif %}
{{ form_row(form.partnerVoorletters, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.partnerVoorletters) }}
{% endif %}
{{ form_row(form.partnerGeboortedatum, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.partnerGeboortedatum) }}
{% endif %}
{{ form_row(form.partnerBSN, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.partnerBSN) }}
{% endif %}
<p class="explanation">Voer bij ‘banknaam’ de organisatie in waar de Amsterdammer bankiert. Ten tijde van de aanvraag mag de Amsterdammer niet rood staan. De mogelijkheid om maximaal 500 euro rood te staan mag er wel zijn. Er mag bij deze bank <strong>géén lopende lening of creditcard</strong> zijn.</p>
{{ form_row(form.partnerBanknaam, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.partnerBanknaam) }}
{% endif %}

<h4>Contactgegevens</h4>
{{ form_row(form.clientTelefoonnummer, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientTelefoonnummer) }}
{% endif %}
{{ form_row(form.clientEmail, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientEmail) }}
{% endif %}
{{ form_row(form.clientStraat, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientStraat) }}
{% endif %}
{{ form_row(form.clientHuisnummer, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientHuisnummer) }}
{% endif %}
{{ form_row(form.clientPostcode, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientPostcode) }}
{% endif %}
{{ form_row(form.clientWoonplaats, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientWoonplaats) }}
{% endif %}

<h4>Gezinssamenstelling</h4>
{{ form_row(form.clientBurgelijkeStaat, {'attr': {'form_row_class': 'form-row__wide', 'class': 'radio-group radio-group__vertical'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientBurgelijkeStaat) }}
{% endif %}
{{ form_row(form.clientBurgelijkeStaatSinds, {'attr': {'form_row_class': 'form-row__wide'}}) }}
{% if app.user.type == 'admin' %}
    {{ form_help(form.clientBurgelijkeStaatSinds) }}
{% endif %}
{% do form.clientKinderen.setRendered %}
<div class="form-row form-row__wide">
    <div class="label-widget">
        <label>Geboortedatum inwonende kind(eren)</label>
        <div class="kind__container" data-prototype="{{ form_widget(form.clientKinderen.vars.prototype)|e }}"
             data-decorator="add-kind">
            <ul class="kind__item-list">
                {% for kindField in form.clientKinderen %}
                    <li class="kind__item">
                        {{ form_widget(kindField) }}<a class="kind__item__delete" href="#">x</a>
                        {{ form_errors(kindField) }}
                    </li>
                {% endfor %}
            </ul>
            <a href="#" class="kind__add button secondary">Voeg kind toe</a>
        </div>
    </div>
</div>
