{% import 'partial.macros.html.twig' as tools %}
{% from 'html.macros.html.twig' import details as detailsMacro %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('arbeidsovereenkomst') %}

<div class="dossier__item {{ dossier.voorlegger.arbeidsovereenkomstNvt ? ' status-nvt' }}
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
    status-shv-{{ dossier.voorlegger.arbeidsovereenkomstOntvangenShv }}
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
    status-gka-{{ dossier.voorlegger.arbeidsovereenkomstOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-arbeidsovereenkomst"
     data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-arbeidsovereenkomst">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}


            {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}


        </div>
    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <div class="status-container hide"><span>Status:</span>
                    {{ form_row(form.arbeidsovereenkomstOntvangenShv) }}
                    {{ form_row(form.arbeidsovereenkomstOntvangenGka) }}
                </div>
                <div class="nvt-input hide">
                    {{ form_row(form.arbeidsovereenkomstNvt) }}
                </div>
                {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                {{ detailsMacro({
                    class: "explanation",
                    title: "Toelichting",
                    value: "<p>Voeg het meest recente arbeidscontract toe. Eindigt het contract binnen drie maanden, informeer dan bij de werkgever of er sprake is van een intentie tot verlenging. Loopt het contract binnen zes weken af, voeg dan bij de aanvraag een intentieverklaring van de werkgever toe.</p>"
                }) }}
                {{ form_row(form.arbeidsovereenkomstWerkgever) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.arbeidsovereenkomstWerkgever) }}
                {% endif %}
                {{ form_row(form.arbeidsovereenkomstEinddatum) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.arbeidsovereenkomstEinddatum) }}
                {% endif %}
                {{ form_row(form.arbeidsovereenkomstContract, {'attr': {'form_row_class': 'form-row__wide  form-row--no-label-margin', 'class': 'radio-group radio-group__vertical'}}) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.arbeidsovereenkomstContract) }}
                {% endif %}
                <h4>Dienstverband partner</h4>
                {{ form_row(form.arbeidsovereenkomstPartnerWerkgever) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.arbeidsovereenkomstPartnerWerkgever) }}
                {% endif %}
                {{ form_row(form.arbeidsovereenkomstPartnerEinddatum) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.arbeidsovereenkomstPartnerEinddatum) }}
                {% endif %}
                {{ form_row(form.arbeidsovereenkomstPartnerContract, {'attr': {'form_row_class': 'form-row__wide  form-row--no-label-margin', 'class': 'radio-group radio-group__vertical'}}) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.arbeidsovereenkomstPartnerContract) }}
                {% endif %}
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Arbeidsovereenkomst'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>
                {{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('arbeidsovereenkomst')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
            <input type="hidden" name="voorleggerSectionTitle" value="{{ title }}">
            <input type="hidden" name="voorleggerSectionFragmentId" value="#id_voorlegger-arbeidsovereenkomst">
        </div>
    </div>
</div>
