{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('alimentatie') %}

<div class="dossier__item {{ dossier.voorlegger.alimentatieNvt ? ' status-nvt' }}
    {% if app.user.type == 'madi' %}
    status-madi-{{ dossier.voorlegger.alimentatieOntvangenMadi }}
    {% elseif app.user.type == 'gka' %}
    status-gka-{{ dossier.voorlegger.alimentatieOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-alimentatie"
     data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">
        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-alimentatie">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
            {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}

        </div>

    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <div class="status-container hide"><span>Status:</span>
                    {{ form_row(form.alimentatieOntvangenMadi) }}
                    {{ form_row(form.alimentatieOntvangenGka) }}
                </div>
                <div class="nvt-input hide">
                    {{ form_row(form.alimentatieNvt) }}
                </div>
                {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Alimentatie'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>
                {{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('alimentatie')} only %}


            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}


        </div>
    </div>
</div>
