{% import 'partial.macros.html.twig' as tools %}
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-voorlopigeTeruggaafBelastingdienst">
                <div class="accordion-header">
                    <a href="#voorlegger-voorlopigeTeruggaafBelastingdienst" data-handler="toggle">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Voorlopige teruggaaf Belastingdienst
                            </div>
                            <div class="status">
                                <span class="{{ tools.madi_status_to_class(dossier.voorlegger.voorlopigeTeruggaafBelastingdienstOntvangenMadi) }}">MaDi</span>
                                <span class="{{ tools.gka_status_to_class(dossier.voorlegger.voorlopigeTeruggaafBelastingdienstOntvangenGka) }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.voorlopigeTeruggaafBelastingdienstNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.voorlopigeTeruggaafBelastingdienstNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.voorlopigeTeruggaafBelastingdienstNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Voorlopige teruggaaf Belastingdienst'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('voorlopigeTeruggaafBelastingdienst')} only %}
                        {{ form_row(form.voorlopigeTeruggaafBelastingdienstOntvangenMadi) }}
                        {{ form_row(form.voorlopigeTeruggaafBelastingdienstOntvangenGka) }}
                        <p class="buttons right">
                            <button class="button primary" type="submit">Opslaan</button>
                        </p>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
