
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'open' }}" id="voorlegger-huurtoeslag">
                <div class="accordion-header">
                    <a href="#voorlegger-huurtoeslag">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Huurtoeslag
                            </div>
                            <div class="status">
                                <span class="{{ dossier.voorlegger.huurtoeslagOntvangenMadi ? 'afgerond' : 'open' }}">MaDi</span>
                                <span class="{{ dossier.voorlegger.huurtoeslagOntvangenGka ? 'afgerond' : 'open' }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.huurtoeslagNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.huurtoeslagNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.huurtoeslagNvt) }}
                        {{ form_row(form.huurtoeslagOntvangenMadi) }}
                        {{ form_row(form.huurtoeslagOntvangenGka) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Huurtoeslag'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('huurtoeslag')} only %}
                        <div class="nav">
                            <button type="submit">Opslaan</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}