{% import 'partial.macros.html.twig' as tools %}
{% from 'html.macros.html.twig' import details as detailsMacro %}

{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('vtlb') %}

<div class="dossier__item
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
    status-shv-{{ dossier.voorlegger.vtlbOntvangenShv }}
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
    status-gka-{{ dossier.voorlegger.vtlbOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}" data-keyupper="section-document-nav"
     id="voorlegger-vtlb" data-hashevent="activate-section">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-vtlb">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
            {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': false} %}
        </div>

    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <div class="status-container hide"><span>Status:</span>
                    {{ form_row(form.vtlbOntvangenShv) }}
                    {{ form_row(form.vtlbOntvangenGka) }}
                </div>
                {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': false} %}
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                <p class="explanation">Wanneer een VTLB-berekening beschikbaar is, kun je deze hier toevoegen. Voor de berekening zie het actuele VTLB-rapport, beschikbaar op de website van Bureau Wsnp.</p>
                {{ form_row(form.vtlbBedrag, {'attr': {'data-unit': '€', 'data-validator': 'float'}}) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.vtlbBedrag) }}
                {% endif %}
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'VTLB'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>{{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('vtlb')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
        </div>
    </div>
</div>
