<div class="dossier__dashboard">
    <div class="dossier__dashboard__default dossier__dashboard--line">
    <div class="dossier__dashboard__well--line">
        <h2 class="dossier__dashboard__well__header">
            <span>Samenvatting</span>
        </h2>
        <div class="row">
            <div class="col-1-2">
                <h3>Cliënt</h3>
                <a href="#id_voorlegger-legitimatie" class="a__editable">
                <dl class="dl__horizontal">
                    <dt>Achternaam</dt>
                    <dd>{{ dossier.clientNaam }}</dd>
                    <dt>Voorletters</dt>
                    <dd>{{ dossier.clientVoorletters }}</dd>
                    <dt>Geslacht</dt>
                    <dd>{% if dossier.clientGeslacht %}{{ dossier.clientGeslacht }}{% else %}-{% endif %}</dd>
                    <dt>Geboortedatum</dt>
                    <dd>{% if dossier.clientGeboortedatum %}{{ dossier.clientGeboortedatum|date('d-m-Y') }}{% else %}-{% endif %}</dd>
                    <dt>B.S.N.</dt>
                    <dd>{% if dossier.clientBSN %}{{ dossier.clientBSN }}{% else %}-{% endif %}</dd>
                </dl>
                </a>
            </div>
            <div class="col-1-2">
                <h3>Partner</h3>
                <a href="#id_voorlegger-legitimatie" class="a__editable">
                <dl class="dl__horizontal">
                    <dt>Achternaam</dt>
                    <dd>{% if dossier.partnerVoorletters %}{{ dossier.partnerNaam }}{% else %}-{% endif %}</dd>
                    <dt>Voorletters</dt>
                    <dd>{% if dossier.partnerVoorletters %}{{ dossier.partnerVoorletters }}{% else %}-{% endif %}</dd>
                    <dt>Geslacht</dt>
                    <dd>{% if dossier.partnerGeslacht %}{{ dossier.partnerGeslacht }}{% else %}-{% endif %}</dd>
                    <dt>Geboortedatum</dt>
                    <dd>{% if dossier.partnerGeboortedatum %}{{ dossier.partnerGeboortedatum|date('d-m-Y') }}{% else %}-{% endif %}</dd>
                    <dt>B.S.N.</dt>
                    <dd>{% if dossier.partnerBSN %}{{ dossier.partnerBSN }}{% else %}-{% endif %}</dd>
                </dl>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-1-2">
                <a href="#id_voorlegger-legitimatie" class="a__editable">
                <h3>Contactgegevens</h3>
                <dl class="dl__horizontal">
                    <dt>Telefoonnummer</dt>
                    <dd>{{ dossier.clientTelefoonnummer }}</dd>
                    <dt>Adres</dt>
                    <dd>{% if not dossier.clientStraat and not dossier.clientHuisnummer and not dossier.clientPostcode and not dossier.clientWoonplaats %}-{% else %}{{ dossier.clientStraat }} {{ dossier.clientHuisnummer }}
                        {{ dossier.clientPostcode }} {{ dossier.clientWoonplaats }}{% endif %}
                    </dd>
                </dl>
                </a>
            </div>
            <div class="col-1-2">
                <a href="#id_voorlegger-legitimatie" class="a__editable">
                <h3>Gezinssamenstelling</h3>
                <dl class="dl__horizontal">
                    <dt>Burgelijke staat</dt>
                    <dd>{% if dossier.clientBurgelijkeStaat %}{{ dossier.clientBurgelijkeStaat }}{% else %}-{% endif %}</dd>
                    <dt>Geboortedatum inwonende kind(eren)</dt>
                    <dd>{% if dossier.clientKinderen %}<ul>{% for k in dossier.clientKinderen %}<li>{{ k }}</li>{% endfor %}</ul>{% else %}-{% endif %}</dd>
                </dl>
                </a>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-1-2">
                <h4>MaDi</h4>
                <dl>
                    <dt>Schuldhulpbureau</dt>
                    <dd>{{ dossier.schuldhulpbureau }}</dd>
                    <dt>Medewerker schuldhulpbureau</dt>
                    <dd>{{ dossier.medewerkerSchuldhulpbureau }}</dd>
                    <dt>MaDi dossiernr.</dt>
                    <dd>{{ dossier.regasNummer }}</dd>
                </dl>
            </div>
            <div class="col-1-2">
                <h4>GKA</h4>
                <dl>
                    <dt>Team GKA</dt>
                    <dd>{{ dossier.teamGka }}</dd>
                    <dt>GKA dossiernr.</dt>
                    <dd>{{ dossier.allegroNummer }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="dossier__dashboard__messages">
        <div class="row">
            <div class="col-1-1">
                <h2>Overleg</h2>
                {% if not dossier.isInPrullenbak %}
                <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailaantekeningen', {'dossierId': dossier.id}) }}" class="button secondary">Aantekening toevoegen</a>
                {% endif %}
            </div>
        </div>
        <div class="row row-max-height">
            <div class="col-1-1">
                <div class="aantekeningen">
                    {% for aantekening in dossier.aantekeningen %}
                        {% include 'Dossier/partial.aantekening.html.twig' with {'aantekening': aantekening, 'showContext': true} %}
                    {% endfor %}
                </div>

            </div>
        </div>
        {% if voorleggerForm.cdst is defined %}
                <div class="dossier__dashboard__controls">
                    <div class="row">
                        <h2>Dossier acties</h2>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="dashboard_dossier_status_changer">
                                {% include 'Dossier/partial.dossierStatusChanger.twig' with {'changeDossierStatusForm': voorleggerForm.cdst} %}
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    </div>
</div>
