
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion" id="voorlegger-cjib">
                <div class="accordion-header">
                    <a href="#voorlegger-cjib">
                        <div class="voorlegger-header">
                            <div class="naam">
                                CJIB (niet saneerbare vorderingen)
                            </div>
                            <div class="status">
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.cjibNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.cjibNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    {{ form_row(form.cjibNvt) }}
                    {{ form_row(form.cjib) }}
                    <div class="voorlegger-body">
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'CJIB (niet saneerbare vorderingen)'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('cjib')} only %}
                        <div class="nav">
                            <button type="submit">Opslaan</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}