{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-cjib">
                <div class="accordion-header">
                    
                        <div class="voorlegger-header">
                            <h3 class="naam">
                                <a href="#voorlegger-cjib" data-handler="toggle">CJIB (niet saneerbare vorderingen)</a>
                            </h3>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.cjibNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.cjibNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    
                </div>
                <div class="accordion-body">
                    {{ form_row(form.cjibNvt) }}
                    {{ form_row(form.cjib) }}
                    <div class="voorlegger-body">
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'CJIB (niet saneerbare vorderingen)'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('cjib'), 'removeFile': form.removeFile} only %}
                    </div>
                </div>
            </div>
