{% import 'partial.macros.html.twig' as tools %}
{% from 'html.macros.html.twig' import details as detailsMacro %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('huurspecificatie') %}

<div class="dossier__item {{ dossier.voorlegger.huurspecificatieNvt ? ' status-nvt' }}
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
    status-shv-{{ dossier.voorlegger.huurspecificatieOntvangenShv }}
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
    status-gka-{{ dossier.voorlegger.huurspecificatieOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-huurspecificatie"
     data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-huurspecificatie">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
            {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
        </div>

    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <div class="status-container hide"><span>Status:</span>
                    {{ form_row(form.huurspecificatieOntvangenShv) }}
                    {{ form_row(form.huurspecificatieOntvangenGka) }}
                </div>
                <div class="nvt-input hide">
                    {{ form_row(form.huurspecificatieNvt) }}
                </div>
                {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                <p class="explanation">Voeg de meest recente huurspecificatie met de servicekosten toe.</p>
                <h4>Kostgeld onzelfstandige woonruimte</h4>
                <p>Voeg het kostgeld toe en onderbouw dit met huur, energie en voeding. Energie en voeding worden niet meegeteld omdat deze al in de beslagvrije voet zijn verwerkt.</p>
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Huurspecificatie'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>{{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('huurspecificatie')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
        </div>
    </div>
</div>
