{% if schuldItem.verwijderd == false %}
            <div class="accordion" id="schuldItem-{{ schuldItem.id }}">
                <div class="accordion-header">
                    <a href="#schuldItem-{{ schuldItem.id }}">
                        <div class="schulditem-header">
                            <div class="naam">
                                <strong>{{ schuldItem.schuldeiser.bedrijfsnaam|default('-') }}
                                {% if schuldItem.incassant %} / {{ schuldItem.incassant.bedrijfsnaam }}{% endif %}
                                </strong>
                                <span class="referentie">(referentie: {{ schuldItem.referentie }})</span>
                            </div>
                            <div class="voortgang">
                                {{ schuldItem.dossierDocumenten|length }} document(en)
                            </div>
                            <div class="bedrag">
                                &euro; {{ schuldItem.bedrag|number_format(2, ',', '.') }}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="schulditem-body">
                        {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
                        <div class="columns">
                            <div class="column">
                                {{ form_row(form.schuldeiser) }}
                                {{ form_row(form.incassant) }}
                                {{ form_row(form.type) }}
                                {{ form_row(form.referentie) }}
                            </div>
                            <div class="column">
                                {{ form_row(form.bedrag) }}
                                {{ form_row(form.vastStelDatum) }}
                                {{ form_row(form.ontstaansDatum) }}
                            </div>
                        </div>
                        {{ form_row(form.opmerkingen) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': schuldItem.dossierDocumenten} only %}
                        <div class="nav">
                            <button type="submit" class="remove" name="{{ form.verwijderd.vars.full_name }}" value="1">Verwijderen</button>
                            {% do form.verwijderd.setRendered() %}
                            <button type="submit">Opslaan</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
{% endif %}