{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getDocumentenByOnderwerp('beschikkingOnderBewindstelling') %}
  
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-beschikkingOnderBewindstelling">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-beschikkingOnderBewindstelling" data-handler="toggle">Beschikking onderbewindstelling</a>
                        </h3>
                        {% if dossierDocumenten %}
                          <div class="voortgang">
                            {{ dossierDocumenten|length }} document{% if dossierDocumenten|length != 1 %}en{% endif %}
                          </div>
                        {% endif %}
                        <div class="status-container">
                          {{ form_row(form.beschikkingOnderBewindstellingOntvangenMadi) }}
                          {{ form_row(form.beschikkingOnderBewindstellingOntvangenGka) }}
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.beschikkingOnderBewindstellingNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.beschikkingOnderBewindstellingNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                    
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.beschikkingOnderBewindstellingNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Beschikking onderbewindstelling'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                        {{ form_row(form.aantekening) }}
                        {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('beschikkingOnderBewindstelling')} only %}
                    </div>
                </div>
            </div>
