{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-kinderopvangtoeslag">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-kinderopvangtoeslag" data-handler="toggle">Kinderopvangtoeslag</a>
                        </h3>
                        <div class="status-container">
                          {{ form_row(form.kinderopvangtoeslagOntvangenMadi) }}
                          {{ form_row(form.kinderopvangtoeslagOntvangenGka) }}
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.kinderopvangtoeslagNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.kinderopvangtoeslagNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.kinderopvangtoeslagNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Kinderopvangtoeslag'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('kinderopvangtoeslag'), 'removeFile': form.removeFile} only %}
                    </div>
                </div>
            </div>
