{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('beschikkingUwv') %}

<div class="dossier__item {{ dossier.voorlegger.beschikkingUwvNvt ? ' status-nvt' }}
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
    status-shv-{{ dossier.voorlegger.beschikkingUwvOntvangenShv }}
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
    status-gka-{{ dossier.voorlegger.beschikkingUwvOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-beschikkingUwv"
     data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-beschikkingUwv">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
            {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
        </div>

    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <div class="status-container hide"><span>Status:</span>
                    {{ form_row(form.beschikkingUwvOntvangenShv) }}
                    {{ form_row(form.beschikkingUwvOntvangenGka) }}
                </div>
                <div class="nvt-input hide">
                    {{ form_row(form.beschikkingUwvNvt) }}
                </div>
                {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                <p class="explanation">Voeg de meest recente beschikking van het UWV bij WW/ZW/WIA/WGA/IVA/WAO/Wajong.</p>
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Beschikking UWV'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>{{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('beschikkingUwv')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
            <input type="hidden" name="voorleggerSectionTitle" value="{{ title }}">
            <input type="hidden" name="voorleggerSectionFragmentId" value="#id_voorlegger-beschikkingUwv">
        </div>
    </div>
</div>
