{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('ondertekendAanvraagFormulier') %}

<div class="dossier__item
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
    status-shv-{{ dossier.voorlegger.ondertekendAanvraagFormulierOntvangenShv }}
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
    status-gka-{{ dossier.voorlegger.ondertekendAanvraagFormulierOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-ondertekendAanvraagFormulier"
     data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-ondertekendAanvraagFormulier">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
            {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': false} %}
        </div>
    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <div class="status-container hide"><span>Status:</span>
                    {{ form_row(form.ondertekendAanvraagFormulierOntvangenShv) }}
                    {{ form_row(form.ondertekendAanvraagFormulierOntvangenGka) }}
                </div>
                {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': false} %}
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                <h4>Producten</h4>
                <div>
                    <div class="warning-text">
                        Let op: per dossier mag er maar één van de onderstaande producten worden aangevinkt.
                    </div>
                </div>
                {{ form_row(form.jongerenSchuldenvrijeStart) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.jongerenSchuldenvrijeStart) }}
                {% endif %}
                <div class="dossier__voorlegger__sectie_jss_informatie">
                    <div class="warning-text">
                        Let op: alleen invullen bij JSS (verplicht)
                    </div>
                    {{ form_row(form.jssAdviseurNaam) }}
                    {% if app.user.type == 'admin' %}
                        {{ form_help(form.jssAdviseurNaam) }}
                    {% endif %}
                    {{ form_row(form.jssAdviseurTelefoon) }}
                    {% if app.user.type == 'admin' %}
                        {{ form_help(form.jssAdviseurTelefoon) }}
                    {% endif %}
                    {{ form_row(form.jssAdviseurEmail) }}
                    {% if app.user.type == 'admin' %}
                        {{ form_help(form.jssAdviseurEmail) }}
                    {% endif %}
                </div>
                {{ form_row(form.kindregeling) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.kindregeling) }}
                {% endif %}
                {{ form_row(form.saneringsKrediet) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.saneringsKrediet) }}
                {% endif %}
                {{ form_row(form.principebeslissing) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.principebeslissing) }}
                {% endif %}
                {% if featureflag_herfinanciering %}
                    {{ form_row(form.herfinanciering) }}
                    {% if app.user.type == 'admin' %}
                        {{ form_help(form.herfinanciering) }}
                    {% endif %}
                {% endif %}
                
                <h4>Schulden op de werkvloer</h4>
                <div>
                    <div class="warning-text">
                        Alleen voor medewerkers van Gemeente Amsterdam en Pantar of werkzaam via een uitzendbureau voor Gemeente Amsterdam. Deze regel moet in combinatie met een van de bovenstaande producten worden geselecteerd.
                    </div>
                    <div class="input-choice">
                        {{ form_row(form.schuldenOpDeWerkvloer) }}
                        {% if app.user.type == 'admin' %}
                            {{ form_help(form.schuldenOpDeWerkvloer) }}
                        {% endif %}

                    </div>
                </div>

                <h4>Aanvullende informatie</h4>
                {{ form_row(form.aanvullendeInformatie) }}
                {% if app.user.type == 'admin' %}
                    {{ form_help(form.aanvullendeInformatie) }}
                {% endif %}

                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Ondertekend aanvraagformulier'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>{{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('ondertekendAanvraagFormulier')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
        </div>
    </div>
</div>
