
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion" id="voorlegger-vtlb">
                <div class="accordion-header">
                    <a href="#voorlegger-vtlb">
                        <div class="voorlegger-header">
                            <div class="naam">
                                VTLB (Vrij te laten bedrag)
                            </div>
                            <div class="status">
                                <span title="{{ dossier.voorlegger.vtlbOntvangenMadi ? 'MaDi: gecontroleerd' : 'MaDi: niet gecontroleerd' }} " class="{{ dossier.voorlegger.vtlbOntvangenMadi ? 'afgerond' : 'open' }}">MaDi</span>
                                <span title="{{ dossier.voorlegger.vtlbOntvangenGka ? 'GKA: gecontroleerd' : 'GKA: niet gecontroleerd' }} "  class="{{ dossier.voorlegger.vtlbOntvangenGka ? 'afgerond' : 'open' }}">GKA</span>
                            </div>
                            <div class="nvt">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.vtlbBedrag) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('vtlb')} only %}
                        <div class="checks">
                            {{ form_row(form.vtlbOntvangenMadi) }}
                            {{ form_row(form.vtlbOntvangenGka) }}
                        </div>
                        <div class="nav">
                            <button class="primair" type="submit">Opslaan</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
