{% import 'partial.macros.html.twig' as tools %}
{% from 'html.macros.html.twig' import details as detailsMacro %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('toelichtingAanvraagSchuldsaneringClient') %}

<div class="dossier__item
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
    status-shv-{{ dossier.voorlegger.toelichtingAanvraagSchuldsaneringClientOntvangenShv }}
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
    status-gka-{{ dossier.voorlegger.toelichtingAanvraagSchuldsaneringClientOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}"
     id="voorlegger-toelichtingAanvraagSchuldsaneringClient" data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-toelichtingAanvraagSchuldsaneringClient">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
            {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': false} %}
        </div>

    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <div class="status-container hide"><span>Status:</span>
                    {{ form_row(form.toelichtingAanvraagSchuldsaneringClientOntvangenShv) }}
                    {{ form_row(form.toelichtingAanvraagSchuldsaneringClientOntvangenGka) }}
                </div>
                {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': false} %}
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                {{ detailsMacro({
                    class: "explanation",
                    title: "Toelichting",
                    value: "<p>Als de klant een toelichting heeft op het ontstaan van de schulden, kan deze worden toegevoegd. Het is echter niet verplicht dat de klant een toelichting aanlevert.</p>
                            <ul>
                                <li>Adviseer de Amsterdammer om geen medische (detail)informatie te verstrekken.</li>
                                <li>Fraudeschulden hoeven niet toegelicht te worden in de toelichting. De betreffende schuldeisers worden apart aangeschreven.</li>
                                <li>Let erop dat de toelichting van de Amsterdammer het MSNP-traject niet belemmert, bijvoorbeeld door geen verwijten te maken richting schuldeisers.</li>
                            </ul>"
                }) }}
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Toelichting aanvraag schuldsanering cliënt'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>{{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('toelichtingAanvraagSchuldsaneringClient')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
            <input type="hidden" name="voorleggerSectionTitle" value="{{ title }}">
            <input type="hidden" name="voorleggerSectionFragmentId" value="#id_voorlegger-toelichtingAanvraagSchuldsaneringClient">
        </div>
    </div>
</div>
