{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('huurspecificatie') %}
  
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-huurspecificatie">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-huurspecificatie" data-handler="toggle">Huurspecificatie</a>
                        </h3>
                        {% if dossierDocumenten %}
                          <div class="voortgang">
                            {% if dossierDocumenten|length > 0 %}{{ dossierDocumenten|length }} document{% if dossierDocumenten|length != 1 %}en{% endif %}{% endif %}
                          </div>
                        {% endif %}
                        <div class="status-container">
                          {{ form_row(form.huurspecificatieOntvangenMadi) }}
                          {{ form_row(form.huurspecificatieOntvangenGka) }}
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.huurspecificatieNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.huurspecificatieNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                    
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.huurspecificatieNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Huurspecificatie'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                        {{ form_row(form.aantekening) }}
                        {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('huurspecificatie')} only %}
                    </div>
                </div>
            </div>
