{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-budgetbeheer">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-budgetbeheer" data-handler="toggle">Budgetbeheer</a>
                        </h3>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.budgetbeheerNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.budgetbeheerNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                    
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.budgetbeheerNvt) }}
                        {{ form_row(form.budgetbeheerPlangroep) }}
                        {{ form_row(form.budgetbeheerCav) }}
                        {{ form_row(form.budgetbeheerFibu) }}
                        {{ form_row(form.budgetbeheerOverig) }}
                        <div class="document-bestanden">
                            {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Budgetbeheer'} only %}
                            {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('budgetbeheer')} only %}
                        </div>
                    </div>
                </div>
            </div>
