{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('meterstandenEnergie') %}
  
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-meterstandenEnergie">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header{{ dossier.voorlegger.meterstandenEnergieNvt ? ' nvt' }}">
                        <h3 class="naam">
                            <a href="#voorlegger-meterstandenEnergie" data-handler="toggle">Meterstanden energie</a>
                        </h3>
                        {% if dossierDocumenten|length > 0 %}
                          <div class="voortgang">
                            {{ dossierDocumenten|length }} document{% if dossierDocumenten|length != 1 %}en{% endif %}
                          </div>
                        {% endif %}
                        <div class="nvt" data-changer="nvt">
                            {{ form_row(form.meterstandenEnergieNvt) }}
                        </div>
                        <div class="status-container">
                          {{ form_row(form.meterstandenEnergieOntvangenMadi) }}
                          {{ form_row(form.meterstandenEnergieOntvangenGka) }}
                        </div>
                    </div>
                    
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.energieBedrijf) }}
                        {{ form_row(form.energieBedrijfKlantnummer) }}
                        {{ form_row(form.energieBedrijfDatumOpname) }}
                        {{ form_row(form.energieBedrijfT1, {'attr': {'data-unit': 'kWh'}}) }}
                        {{ form_row(form.energieBedrijfT2, {'attr': {'data-unit': 'kWh'}}) }}
                        {{ form_row(form.energieBedrijfGas, {'attr': {'data-unit': 'm³'}}) }}
                        {{ form_row(form.warmteBedrijf) }}
                        {{ form_row(form.warmteBedrijfKlantnummer) }}
                        {{ form_row(form.warmteBedrijfDatumOpname) }}
                        {{ form_row(form.warmteBedrijfOpname, {'attr': {'data-unit': 'GJ'}}) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Meterstanden energie'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                        {{ form_row(form.aantekening) }}
                        {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('meterstandenEnergie')} only %}
                    </div>
                </div>
            </div>
