{% import 'partial.macros.html.twig' as tools %}
{% from 'html.macros.html.twig' import details as detailsMacro %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('verklaringWerkgever') %}

<div class="dossier__item {{ dossier.voorlegger.verklaringWerkgeverNvt ? ' status-nvt' }}
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
    status-shv-{{ dossier.voorlegger.verklaringWerkgeverOntvangenShv }}
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
    status-gka-{{ dossier.voorlegger.verklaringWerkgeverOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-verklaringWerkgever"
     data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-verklaringWerkgever">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
            {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
        </div>

    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <div class="status-container hide"><span>Status:</span>
                    {{ form_row(form.verklaringWerkgeverOntvangenShv) }}
                    {{ form_row(form.verklaringWerkgeverOntvangenGka) }}
                </div>
                <div class="nvt-input hide">
                    {{ form_row(form.verklaringWerkgeverNvt) }}
                </div>
                {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': true} %}
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                {{ detailsMacro({
                    class: "explanation",
                    title: "Toelichting",
                    value: "<p>Voeg een motivatie van de werkgever toe waarom de auto noodzakelijk is.</p>
                            <p>Wanneer woon-werkverkeer minder is dan 10km per dag, dan wordt er geen rekening mee gehouden in de berekening van het VTLB, tenzij er bijzondere omstandigheden zijn.</p>
                            <h4>Leaseauto van de werkgever</h4>
                            <p>Controleer de loonstrook of er sprake is van fiscale bijtelling. Is deze er? Dan is er sprake van privégebruik van de auto.</p>
                            <p>Het is belangrijk dat het privégebruik gestopt wordt. Vraag een ‘verklaring geen privé-gebruik’ aan bij de Belastingdienst. Deze wijziging kan alleen aan het begin van een kalenderjaar, waarbij het ingaat in het volgende kalenderjaar. Voeg daarom ook een pro-forma loonstrook toe zonder de fiscale bijtelling.</p>
                            <p>Zie de richtlijnen over de auto van de zaak in het actuele VTLB-rapport op de website van Bureau Wsnp.</p>"
                }) }}
                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Verklaring werkgever'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                <h4>Aantekeningen</h4>{{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('verklaringWerkgever')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
        </div>
    </div>
</div>
