<div class="dossier__dashboard clearfix">
    <div class="dossier__dashboard__default">
        <div class="dossier__dashboard__well--line">
            <h2 class="dossier__dashboard__well__header">
                <span>Samenvatting</span>
            </h2>
            <div class="row">
                <div class="col-1-2">
                    <h3>Cliënt</h3>
                    <a href="#id_voorlegger-legitimatie" class="a__editable">
                        <dl class="dl__horizontal">
                            <dt>Achternaam</dt>
                            <dd>{{ dossier.clientNaam }}</dd>
                            <dt>Voorletters</dt>
                            <dd>{% if dossier.clientVoorletters %}{{ dossier.clientVoorletters }}{% else %}-{% endif %}</dd>
                            <dt>Geslacht</dt>
                            <dd>{% if dossier.clientGeslacht %}{{ dossier.clientGeslacht }}{% else %}-{% endif %}</dd>
                            <dt>Geboortedatum</dt>
                            <dd>{% if dossier.clientGeboortedatum %}{{ dossier.clientGeboortedatum|date('d-m-Y') }}{% else %}-{% endif %}</dd>
                            <dt>B.S.N.</dt>
                            <dd>{% if dossier.clientBSN %}{{ dossier.clientBSN }}{% else %}-{% endif %}</dd>
                            <dt>Banknaam</dt>
                            <dd>{% if dossier.clientBanknaam %}{{ dossier.clientBanknaam }}{% else %}-{% endif %}</dd>
                        </dl>
                    </a>
                    <a href="#id_voorlegger-arbeidsovereenkomst" class="a__editable">
                        <dl class="dl__horizontal">
                            <dt>Werkgever</dt>
                            <dd>{% if dossier.voorlegger.arbeidsovereenkomstWerkgever %}{{ dossier.voorlegger.arbeidsovereenkomstWerkgever }}{% else %}-{% endif %}</dd>
                            <dt>Soort dienstverband</dt>
                            <dd>{% if dossier.voorlegger.arbeidsovereenkomstContract %}{{ dossier.voorlegger.arbeidsovereenkomstContract }}{% else %}-{% endif %}</dd>
                            <dt>Einddatum dienstverband</dt>
                            <dd>{% if dossier.voorlegger.arbeidsovereenkomstEinddatum %}{{ dossier.voorlegger.arbeidsovereenkomstEinddatum|date('d-m-Y')}}{% else %}-{% endif %}</dd>
                        </dl>
                    </a>
                </div>
                <div class="col-1-2">
                    <h3>Partner{% if dossier.partnerNvt %} (n.v.t.){% endif %}</h3>
                    <a href="#id_voorlegger-legitimatie"
                       class="a__editable{% if dossier.partnerNvt %} a__editable--disabled{% endif %}">
                        <dl class="dl__horizontal">
                            <dt>Achternaam</dt>
                            <dd>{% if dossier.partnerVoorletters %}{{ dossier.partnerNaam }}{% else %}-{% endif %}</dd>
                            <dt>Voorletters</dt>
                            <dd>{% if dossier.partnerVoorletters %}{{ dossier.partnerVoorletters }}{% else %}-{% endif %}</dd>
                            <dt>Geslacht</dt>
                            <dd>{% if dossier.partnerGeslacht %}{{ dossier.partnerGeslacht }}{% else %}-{% endif %}</dd>
                            <dt>Geboortedatum</dt>
                            <dd>{% if dossier.partnerGeboortedatum %}{{ dossier.partnerGeboortedatum|date('d-m-Y') }}{% else %}-{% endif %}</dd>
                            <dt>B.S.N.</dt>
                            <dd>{% if dossier.partnerBSN %}{{ dossier.partnerBSN }}{% else %}-{% endif %}</dd>
                            <dt>Banknaam</dt>
                            <dd>{% if dossier.partnerBanknaam %}{{ dossier.partnerBanknaam }}{% else %}-{% endif %}</dd>
                        </dl>
                    </a>
                    <a href="#id_voorlegger-arbeidsovereenkomst" class="a__editable{% if dossier.partnerNvt %} a__editable--disabled{% endif %}">
                        <dl class="dl__horizontal">
                            <dt>Werkgever</dt>
                            <dd>{% if dossier.voorlegger.arbeidsovereenkomstPartnerWerkgever %}{{ dossier.voorlegger.arbeidsovereenkomstPartnerWerkgever }}{% else %}-{% endif %}</dd>
                            <dt>Soort dienstverband</dt>
                            <dd>{% if dossier.voorlegger.arbeidsovereenkomstPartnerContract %}{{ dossier.voorlegger.arbeidsovereenkomstPartnerContract }}{% else %}-{% endif %}</dd>
                            <dt>Einddatum dienstverband</dt>
                            <dd>{% if dossier.voorlegger.arbeidsovereenkomstPartnerEinddatum %}{{ dossier.voorlegger.arbeidsovereenkomstPartnerEinddatum|date('d-m-Y')}}{% else %}-{% endif %}</dd>
                        </dl>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-1-2">
                    <h3>Contactgegevens</h3>
                    <a href="#id_voorlegger-legitimatie" class="a__editable">
                        <dl class="dl__horizontal">
                            <dt>Telefoonnummer</dt>
                            <dd>{% if dossier.clientTelefoonnummer %}{{ dossier.clientTelefoonnummer }}{% else %}-{% endif %}</dd>
                            <dt>Adres</dt>
                            <dd>{% if not dossier.clientStraat and not dossier.clientHuisnummer and not dossier.clientPostcode and not dossier.clientWoonplaats %}-{% else %}{{ dossier.clientStraat }} {{ dossier.clientHuisnummer }}
                                    {{ dossier.clientPostcode }} {{ dossier.clientWoonplaats }}{% endif %}
                            </dd>
                        </dl>
                    </a>
                </div>
                <div class="col-1-2">
                    <h3>Gezinssamenstelling</h3>
                    <a href="#id_voorlegger-legitimatie" class="a__editable">
                        <dl class="dl__horizontal">
                            <dt>Burgelijke staat</dt>
                            <dd>{% if dossier.clientBurgelijkeStaat %}{{ dossier.clientBurgelijkeStaat }}{% if dossier.clientBurgelijkeStaatSinds %} ({{ dossier.clientBurgelijkeStaatSinds|date('d-m-Y') }}){% endif %}{% else %}-{% endif %}</dd>
                            <dt>Geboortedatum inwonende kind(eren)</dt>
                            <dd>
                            {% if dossier.clientKinderen %}{{ dossier.clientKinderen|length }} kinderen:<br>
                                {% for k in dossier.clientKinderen %}
                                    {{ k }}<br>
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                            </dd>
                        </dl>
                    </a>
                </div>
            </div>
        </div>
        <div class="dossier__dashboard__well--line">
            <h2 class="dossier__dashboard__well__header">
                <span>Dossierbehandelaars</span>
            </h2>
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailalgemeen', {'dossierId': dossier.id}) }}" class="a__editable">
                <div class="row">
                    <div class="col-1-2">
                        <h4>MaDi/Bewindvoerder</h4>
                        <dl>
                            <dt>Schuldhulpbureau</dt>
                            <dd>{{ dossier.schuldhulpbureau }}</dd>
                            <dt>Medewerker schuldhulpbureau</dt>
                            <dd>{{ dossier.medewerkerSchuldhulpbureau }}</dd>
                            <dd>{{ dossier.medewerkerSchuldhulpbureau.telefoonnummer }}</dd>
                            <dt>MaDi/Bewindvoerder dossiernr.</dt>
                            <dd>{{ dossier.regasNummer }}</dd>
                        </dl>
                    </div>
                    <div class="col-1-2">
                        <h4>GKA</h4>
                        <dl>
                            <dt>Team GKA</dt>
                            <dd>{{ dossier.teamGka }}</dd>
                            <dt>GKA dossiernr.</dt>
                            <dd>{{ dossier.allegroNummer }}</dd>
                        </dl>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="dossier__dashboard__messages">
        {% if voorleggerForm.cdst is defined %}
        <div class="dossier__dashboard__well--line">
            <h2 class="dossier__dashboard__well__header">
                <span>Dossier status</span>
            </h2>
            <div class="row">
                <div class="col-1-1">
                    {% include 'Dossier/partial.dossierStatusChanger.twig' with {'changeDossierStatusForm': voorleggerForm.cdst} %}
                </div>
            </div>

        </div>
        {% endif %}
        <div class="dossier__dashboard__well--line">
            <h2 class="dossier__dashboard__well__header">
                <span>GKA (Allegro)</span>
            </h2>
            <div class="row">
                <div class="col-1-1">
                    Laatste synchronisatie: <strong>{% if dossier.allegroSyncDate is null%}nooit{% else %}{{ dossier.allegroSyncDate|date('d-m-Y H:i:s') }}{% endif %}</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-1-1">
                    Status: <strong>{% if dossier.allegroSyncDate is null%}n.v.t.{% else %}{{ dossier.allegroStatus|allegro_status }}{% endif %}</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-1-1">
                    Extra status: <strong>{% if dossier.allegroExtraStatus is empty %}n.v.t.{% else %}{{ dossier.allegroExtraStatus }}{% endif %}</strong>
                </div>
            </div>
            {% if  is_granted('ROLE_ADMIN') or is_granted('ROLE_GKA') or is_granted('ROLE_GKA_APPBEHEERDER') %}
                <div class="row">
                    <div class="col-1-1">
                        Dossier geexporteerd naar Allegro: <strong>{% if dossier.sendToAllegro is null %}nooit{% else %}{{ dossier.sendToAllegro|date('d-m-Y H:i:s') }}{% endif %}</strong>
                    </div>
                </div>
            {% endif %}
            <div class="row row-max-height">
                <div class="col-1-1">
                    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_allegrorefresh', {'dossierId': dossier.id}) }}"
                       class="button secondary">Vernieuwen <i class="icon-reload"></i></a>
                    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_allegro_allegrosrveisers', {'dossierId': dossier.id}) }}"
                       class="button secondary">Uitgebreide status</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GKA') or is_granted('ROLE_GKA_APPBEHEERDER') %}
                        <a id="send_to_allegro" class="button {% if dossier.sendToAllegro is null %}secondary{% else %}grey{% endif %}">Exporteren</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="dossier__dashboard__well--line">
            <h2 class="dossier__dashboard__well__header">
                <span>Overleg</span>
            </h2>
            <div class="row">
                <div class="col-1-1">
                    {% if not dossier.isInPrullenbak %}
                        <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailaantekeningen', {'dossierId': dossier.id}) }}"
                           class="button secondary">Aantekening toevoegen</a>
                    {% endif %}
                </div>
            </div>
            <div class="row row-max-height">
                <div class="col-1-1">
                    <div class="aantekeningen">
                        {% for aantekening in dossier.aantekeningen %}
                            {% include 'Dossier/partial.aantekening.html.twig' with {'aantekening': aantekening, 'showContext': true} %}
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="allegro_validate_url" value="{{ path('gemeenteamsterdam_fixxxschuldhulp_allegro_validatesendtoallegro',{'dossierId': dossier.id}) }}">
<input type="hidden" id="allegro_send_url" value="{{ path('gemeenteamsterdam_fixxxschuldhulp_allegro_send',{'dossierId': dossier.id}) }}">