{% import 'partial.macros.html.twig' as tools %}
{% from 'html.macros.html.twig' import details as detailsMacro %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('schuldenoverzicht', true) %}

<div class="dossier__item
    {% if app.user.type == 'shv' or app.user.type == 'shv_keyuser' %}
    status-shv-{{ dossier.voorlegger.schuldenoverzichtOntvangenShv }}
    {% elseif app.user.type == 'gka' or app.user.type == 'gka_appbeheerder' %}
    status-gka-{{ dossier.voorlegger.schuldenoverzichtOntvangenGka }}
    {% endif %}
    {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-schuldenoverzicht"
     data-hashevent="activate-section" data-keyupper="section-document-nav">
    <div class="dossier__voorlegger__header">

        <div class="voorlegger-header">
            <h3 class="naam">
                <a href="#id_voorlegger-schuldenoverzicht">{{ title }}</a>
            </h3>
            {% if dossierDocumenten|length > 0 %}
                <div class="voortgang">
                    <span>{{ dossierDocumenten|length }}</span>
                </div>
            {% endif %}
            {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': false} %}
        </div>
    </div>
    <div class="dossier__voorlegger__body">
        <div class="dossier__voorlegger__sectie">
            <div class="dossier__voorlegger__sectie__header">
                <a class="dossier__voorlegger__sectie__close" href="#_"></a>
                <div class="status-container hide"><span>Status:</span>
                    {{ form_row(form.schuldenoverzichtOntvangenShv) }}
                    {{ form_row(form.schuldenoverzichtOntvangenGka) }}
                </div>
                {% include 'Dossier/partial.statusChanger.html.twig'  with {'show_nvt': false} %}
                <h3>{{ title }}</h3>
                <hr>
            </div>
            <div class="dossier__voorlegger__sectie__body">
                {{ detailsMacro({
                    title: "Toelichting",
                    value: "<p>Vanuit de gegevens die ingevuld zijn in het tabblad schulden wordt een schuldenoverzicht gegenereerd. Noteer bij de aantekeningen het kredietnummer van het BKR- overzicht bij de desbetreffende schuld.</p>
                            <p>Het is belangrijk dat de Amsterdammer akkoord gaat met het schuldenoverzicht.</p>
                            <p>De opgevoerde schulden mogen niet ouder zijn dan zes maanden. Als dit wel het geval is, moet er telefonisch contact zijn geweest met de schuldeiser, het incassobureau of de gerechtsdeurwaarder om te controleren of de schuld nog steeds openstaat. Noteer de datum van dit contact in Schulddossier en vermeld het actuele schuldbedrag, indien bekend.</p>
                            <ul>
                                <li>De volledige schuldpositie dient aangeleverd te worden, ook de gegevens van de eventuele deurwaarder of het incassobureau.
                                <li>Als er geen opgave van de schuldeiser beschikbaar is, kan een notitie worden toegevoegd met daarin de vermelding dat de schuld in behandeling is bij schuldeiser, incassobureau of gerechtsdeurwaarder X, inclusief het adres, telefoonnummer, mailadres en dossiernummer.
                                <li>Wanneer er sprake is van schulden bij Waternet, energieleveranciers, zorgverzekeraars en Ziggo vermeldt dan het klantnummer op de specificaties van de deurwaarders en de incassobureaus.</li>
                                <li>Als partners <b>na 1 januari 2018</b> zijn gehuwd in <b>gemeenschap van goederen</b> en beiden hebben eigen schulden, dan:
                                <li>Moeten beide partners een aparte aanvraag voor een minnelijke schuldregeling indienen.
                                <li>
                                    <ul>
                                        <li>Persoonlijke schuldenlijst (schulden die alleen op naam van die partner staan).
                                        <li>Gezamenlijke schuldenlijst (schulden waarvoor beiden aansprakelijk zijn. Zie hiervoor ook notitie NVVK schuldregeling en huwelijksvermogensrecht).
                                    <ul>
                                </li>
                            </ul>"
                }) }}
                <div class="table">
                    <h4>Samenvatting</h4>
                    <table>
                        <thead>
                        <tr>
                            <th>Schuldeiser</th>
                            <th>Referentie</th>
                            <th>Type</th>
                            <th style="text-align: right">Schuld</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set empty = true %}
                        {% for schuldItem in dossier.schuldItems if schuldItem.verwijderd == false %}
                            {% set empty = false %}
                            <tr class="row-link">
                                <th>
                                    {{ schuldItem.schuldeiser|default('-') }} {% if schuldItem.incassant %}/{% endif %} {{ schuldItem.incassant }}
                                </th>
                                <td>{{ schuldItem.referentie }}</td>
                                <td>{{ schuldItem.type }}</td>
                                <td align="right">&euro;&nbsp;{{ schuldItem.bedrag|number_format(2, ',', '.') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if empty %}
                        <p class="empty-table">Er zijn nog geen schulden ingevoerd. Ga naar <a
                                    href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailschulden', {'dossierId': dossier.id}) }}">schuldenoverzicht</a>
                            om een schuld in te voeren.</p>
                    {% endif %}


                    <p class="nav-internal">
                        <a class="primary"
                           href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailschulden', {'dossierId': dossier.id}) }}">Ga
                            naar overzicht</a>
                    </p>

                </div>

                {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Schuldenoverzicht'} only %}
                {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}

                <h4>Aantekeningen</h4>{{ form_row(form.aantekening) }}
                {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('schuldenoverzicht')} only %}
            </div>
            {% include 'Dossier/partial.documentViewer.html.twig' %}
        </div>
    </div>
</div>
