{% import 'partial.macros.html.twig' as tools %}
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-huurspecificatie">
                <div class="accordion-header">
                    <a href="#voorlegger-huurspecificatie" data-handler="toggle">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Huurspecificatie
                            </div>
                            <div class="status">
                                <span class="{{ tools.madi_status_to_class(dossier.voorlegger.huurspecificatieOntvangenMadi) }}">MaDi</span>
                                <span class="{{ tools.gka_status_to_class(dossier.voorlegger.huurspecificatieOntvangenGka) }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.huurspecificatieNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.huurspecificatieNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.huurspecificatieNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Huurspecificatie'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('huurspecificatie')} only %}
                        {{ form_row(form.huurspecificatieOntvangenMadi) }}
                        {{ form_row(form.huurspecificatieOntvangenGka) }}
                        <p class="buttons right">
                            <button class="button primary" type="submit">Opslaan</button>
                        </p>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}