{% import 'partial.macros.html.twig' as tools %}
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'open' }}" id="voorlegger-autoTaxatie">
                <div class="accordion-header">
                    <a href="#voorlegger-autoTaxatie">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Auto taxatie
                            </div>
                            <div class="status">
                                <span class="{{ tools.madi_status_to_class(dossier.voorlegger.autoTaxatieOntvangenMadi) }}">MaDi</span>
                                <span class="{{ tools.gka_status_to_class(dossier.voorlegger.autoTaxatieOntvangenGka) }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.autoTaxatieNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.autoTaxatieNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.autoTaxatieNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Auto taxatie'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('autoTaxatie')} only %}
                        {{ form_row(form.autoTaxatieOntvangenMadi) }}
                        {{ form_row(form.autoTaxatieOntvangenGka) }}
                        <p class="buttons right">
                            <button class="button primary" type="submit">Opslaan</button>
                        </p>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
