{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-zorgtoeslag">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-zorgtoeslag" data-handler="toggle">Zorgtoeslag</a>
                        </h3>
                        <div class="status-container">
                          {{ form_row(form.zorgtoeslagOntvangenMadi) }}
                          {{ form_row(form.zorgtoeslagOntvangenGka) }}
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.zorgtoeslagNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.zorgtoeslagNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>

                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.zorgtoeslagNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Zorgtoeslag'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('zorgtoeslag'), 'removeFile': form.removeFile} only %}
                    </div>
                </div>
            </div>
