{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-kinderopvangtoeslag">
                <div class="accordion-header">
                    <a href="#voorlegger-kinderopvangtoeslag" data-handler="toggle">
                        <div class="voorlegger-header">
                            <div class="naam">
                                Kinderopvangtoeslag
                            </div>
                            <div class="status">
                                <span class="{{ tools.madi_status_to_class(dossier.voorlegger.kinderopvangtoeslagOntvangenMadi) }}">MaDi</span>
                                <span class="{{ tools.gka_status_to_class(dossier.voorlegger.kinderopvangtoeslagOntvangenGka) }}">GKA</span>
                            </div>
                            <div class="nvt">
                                <span class="{{ dossier.voorlegger.kinderopvangtoeslagNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.kinderopvangtoeslagNvt ? 'n.v.t.' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.kinderopvangtoeslagNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Kinderopvangtoeslag'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('kinderopvangtoeslag')} only %}
                        {{ form_row(form.kinderopvangtoeslagOntvangenMadi) }}
                        {{ form_row(form.kinderopvangtoeslagOntvangenGka) }}
                    </div>
                </div>
            </div>
