<div class="aantekening{% if aantekening.gebruiker.userName == app.user.userName %} aantekening-mijn{% endif %}" data-id="{{ aantekening.id }}">
    <p class="aantekening-meta">
      <time>{{ aantekening.datumTijd|date('d-m-Y H:i') }}</time>
      <strong>{{ aantekening.gebruiker.naam }}</strong>
      {% if aantekening.gebruiker.userName == app.user.userName %}
        <i style="margin: 4px; cursor: pointer;" class="icon-prullenbak" data-aantekening-id="{{ aantekening.id }}" data-handler="remove-aantekening" data-csrf-token="{{ csrf_token('gemeenteamsterdam_fixxxschuldhulp_appdossier_removeaantekening') }}">&nbsp;&nbsp;&nbsp;</i>
      {% endif %}
    </p>
    <p class="aantekening-bericht">
      {{ aantekening.tekst|nl2br }}
      {% if showContext|default(false) %}
        <span class="aantekening-context">
          {% if aantekening.schuldItem %}
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailschulden', {'dossierId': aantekening.dossier.id}) }}#id_schuldItem-{{ aantekening.schuldItem.id }}">{{ aantekening.onderwerp|humanize }}</a>
          {% elseif aantekening.onderwerp != 'overige' %}
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_detailvoorlegger', {'dossierId': aantekening.dossier.id}) }}#id_voorlegger-{{ aantekening.onderwerp }}">{{ aantekening.onderwerp|humanize }}</a>
          {% else %}
            {{ aantekening.onderwerp|humanize }}
          {% endif %}
        </span>
      {% endif %}
    </p>
</div>
