{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-overeenkomstKinderopvang">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header">
                        <h3 class="naam">
                            <a href="#voorlegger-overeenkomstKinderopvang" data-handler="toggle">Overeenkomst kinderopvang</a>
                        </h3>
                        <div class="status-container">
                          {{ form_row(form.overeenkomstKinderopvangOntvangenMadi) }}
                          {{ form_row(form.overeenkomstKinderopvangOntvangenGka) }}
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.overeenkomstKinderopvangNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.overeenkomstKinderopvangNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                    
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.overeenkomstKinderopvangNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Overeenkomst kinderopvang'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('overeenkomstKinderopvang')} only %}
                    </div>
                </div>
            </div>
