{% import 'partial.macros.html.twig' as tools %}
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-vtlb">
                <div class="accordion-header">
                    <a href="#voorlegger-vtlb" data-handler="toggle">
                        <div class="voorlegger-header">
                            <div class="naam">
                                VTLB (Vrij te laten bedrag)
                            </div>
                            <div class="status">
                                <span class="{{ tools.madi_status_to_class(dossier.voorlegger.vtlbOntvangenMadi) }}">MaDi</span>
                                <span class="{{ tools.gka_status_to_class(dossier.voorlegger.vtlbOntvangenGka) }}">GKA</span>
                            </div>
                            <div class="nvt">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.vtlbBedrag) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'VTLB'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('vtlb')} only %}
                        {{ form_row(form.vtlbOntvangenMadi) }}
                        {{ form_row(form.vtlbOntvangenGka) }}
                    </div>
                </div>
            </div>
