{% import 'partial.macros.html.twig' as tools %}
{% set dossierDocumenten = dossier.getNietVerwijderdeDocumentenByOnderwerp('gereserveerdeGelden') %}
  
            <div class="accordion {{ app.request.isXmlHttpRequest ? 'active' }}" id="voorlegger-gereserveerdeGelden">
                <div class="accordion-header">
                    
                    <div class="voorlegger-header{{ dossier.voorlegger.gereserveerdeGeldenNvt ? ' nvt' }}">
                        <h3 class="naam">
                            <a href="#voorlegger-gereserveerdeGelden" data-handler="toggle">Gereserveerde gelden</a>
                        </h3>
                        {% if dossierDocumenten|length > 0 %}
                          <div class="voortgang">
                            {{ dossierDocumenten|length }} document{% if dossierDocumenten|length != 1 %}en{% endif %}
                          </div>
                        {% endif %}
                        <div class="nvt" data-changer="nvt">
                            {{ form_row(form.gereserveerdeGeldenNvt) }}
                        </div>
                        <div class="status-container">
                          {{ form_row(form.gereserveerdeGeldenOntvangenMadi) }}
                          {{ form_row(form.gereserveerdeGeldenOntvangenGka) }}
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.gereserveerdeGelden, {'attr': {'data-unit': '€'}}) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file, 'defaultDocumentNaam': 'Gereserveerde gelden'} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossierDocumenten, 'removeFile': form.removeFile} only %}
                        {{ form_row(form.aantekening) }}
                        {% include 'Dossier/partial.aantekeningen.html.twig' with {'aantekeningen': dossier.getAantekeningenByOnderwerp('gereserveerdeGelden')} only %}
                    </div>
                </div>
            </div>
