            {% form_theme form with ['forms2.html.twig'] only %}
            {{ form_start(form, {'attr': {'class': 'ajax default-form-style'} }) }}
            <div class="accordion" id="voorlegger-bewindstellingOfBudgetbeheer">
                <div class="accordion-header">
                    <div class="voorlegger-header">
                        <div class="naam">
                            <a href="#voorlegger-bewindstellingOfBudgetbeheer">Onderbewindstelling of Budgetbeheer</a>
                        </div>
                        <div class="status">
                        </div>
                        <div class="nvt">
                            <span class="{{ dossier.voorlegger.bewindstellingOfBudgetbeheerNvt ? 'nvt' : 'open' }}">{{ dossier.voorlegger.bewindstellingOfBudgetbeheerNvt ? 'n.v.t.' }}</span>
                        </div>
                    </div>
                </div>
                <div class="accordion-body">
                    <div class="voorlegger-body">
                        {{ form_row(form.bewindstellingOfBudgetbeheerNvt) }}
                        {% include 'partial.files-container.html.twig' with {'form_elm': form.file} only %}
                        {% include 'partial.files-list.html.twig' with {'dossierDocumenten': dossier.getDocumentenByOnderwerp('bewindstellingOfBudgetbeheer')} only %}
                        <div class="nav">
                            <button type="submit">Opslaan</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}