{% extends 'master.html.twig' %}

{% block title %}Nieuwe schuldeiser - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}

<p class="nav-internal--breadcrumb">
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class=" nav-internal--breadcrumb__home">
        <span>Start</span>
    </a>
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldeiser_index') }}" class=" nav-internal--breadcrumb__dossier">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Schuldeisers</span>
    </a>
    <a href="#" class="nav-internal--breadcrumb__section in-active">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Nieuwe schuldeiser</span>
    </a>
</p>

<div class="document well">
    <div class="document-header">
        <h1 class="document-title">Nieuwe schuldeiser</h1>
    </div>
    <div class="form-container">
        {{ form_start(form, {'attr': {'class': 'default-form-style'} }) }}
        {{ form_row(form.bedrijfsnaam) }}
        {{ form_row(form.allegroCode) }}
        {{ form_row(form.rekening) }}
        {{ form_row(form.straat) }}
        {{ form_row(form.huisnummer) }}
        {{ form_row(form.huisnummerToevoeging) }}
        {{ form_row(form.postcode) }}
        {{ form_row(form.plaats) }}
        {{ form_row(form.opmerkingen) }}
        <p class="buttons right">
            <button type="submit" class="button primary">Opslaan</button>
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldhulpbureau_index') }}">Annuleren</a>
        </p>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}