{% extends 'master.html.twig' %}

{% block title %}Schuldeiser - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}

    <div class="document well">
        <div class="document-header group">
            <h1 class="document-title">Schuldeiser</h1>
            <nav class="nav-internal">
                <ul>
                    <li>Schuldeisers</li>
                    {% if is_granted('ROLE_GKA') or is_granted('ROLE_ADMIN') %}<li><a class="primary" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldeiser_create') }}">Nieuwe schuldeiser</a></li>{% endif %}
                </ul>
            </nav>
        </div>
        {% if is_granted('ROLE_GKA') == false and is_granted('ROLE_ADMIN') == false %}
            <p>Alleen medewerkers van het GKA kunnen schuldeisers toevoegen of wijzigen.</p>
        {% endif %}
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Allegro Code</th>
                    </tr>
                </thead>
                <tbody>
{% for schuldeiser in schuldeisers %}
                    <tr>
                        <th>
                            {% if is_granted('ROLE_GKA') or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldeiser_update', {'schuldeiserId': schuldeiser.id}) }}">{{ schuldeiser.bedrijfsnaam }}</a>
                            {% else %}
                                {{ schuldeiser.bedrijfsnaam }}
                            {% endif %}
                        </th>
                        <td>{{ schuldeiser.allegroCode }}</td>
                    </tr>
{% endfor %}
               </tbody>
            </table>
        </div>
        {% if pagination.numberOfPages > 1 %}
          <div class="pagination">
              {% if pagination.page <= 0 %}
              <span class="prev">vorige</span>
              {% else %}
              <a class="prev" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldeiser_index', {'page': pagination.page - 1}) }}">vorige</a>
              {% endif %}
              <span>pagina {{ pagination.page + 1 }} van {{ pagination.numberOfPages }}</span>
              {% if (pagination.page + 1) >= pagination.numberOfPages %}
              <span class="next">volgende</span>
              {% else %}
              <a class="next" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldeiser_index', {'page': pagination.page + 1}) }}">volgende</a>
              {% endif %}
          </div>
        {% endif %}
    </div>
{% endblock %}
