{% extends 'master.html.twig' %}

{% block title %}Schuldeiser - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}
<p class="nav-internal--breadcrumb">
    <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class=" nav-internal--breadcrumb__home">
        <span>Start</span>
    </a>
    <a href="#" class=" nav-internal--breadcrumb__dossier in-active">
        <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
        <span>Schuldeisers</span>
    </a>
</p>


    <div class="document well">
        <div class="document-header group">
            <h1 class="document-title">Schuldeisers</h1>
            <nav class="nav-internal">
                <ul>
                    <li>Schuldeisers</li>
                    {% if is_granted('ROLE_GKA') or is_granted('ROLE_GKA_APPBEHEERDER') or is_granted('ROLE_ADMIN') %}<li><a class="primary" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldeiser_create') }}">Nieuwe schuldeiser</a></li>{% endif %}
                </ul>
            </nav>
        </div>
        {% if is_granted('ROLE_GKA') == false and is_granted('ROLE_ADMIN') == false and is_granted('ROLE_GKA_APPBEHEERDER') %}
            <p>Alleen medewerkers van het GKA kunnen schuldeisers toevoegen of wijzigen.</p>
        {% endif %}
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Allegro Code</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
{% for schuldeiser in schuldeisers %}
                    <tr{% if is_granted('ROLE_GKA') or is_granted('ROLE_GKA_APPBEHEERDER') or is_granted('ROLE_ADMIN') %} class="row-link"{% endif %}>
                        <th>
                            {% if is_granted('ROLE_GKA') or is_granted('ROLE_GKA_APPBEHEERDER') or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldeiser_update', {'schuldeiserId': schuldeiser.id}) }}">{{ schuldeiser.bedrijfsnaam }}</a>
                            {% else %}
                                {{ schuldeiser.bedrijfsnaam }}
                            {% endif %}
                        </th>
                        <td>{{ schuldeiser.allegroCode }}</td>
                        <td>{% if schuldeiser.enabled %} Actief {% else %} Niet actief {% endif %}</td>
                    </tr>
{% endfor %}
               </tbody>
            </table>
        </div>
        {% if pagination.numberOfPages > 1 %}
            {% include 'pagination.html.twig' with {'pagination': pagination} only %}
        {% endif %}
    </div>
{% endblock %}
