{% extends 'master.html.twig' %}

{% block title %}Nieuws - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block documentContainerClass %}document-container document-container__wide{% endblock %}

{% block document %}
    <p class="nav-internal--breadcrumb">
        <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}"
           class=" nav-internal--breadcrumb__home">
            <span>Start</span>
        </a>
        <a href="#" class=" nav-internal--breadcrumb__dossier in-active">
            <i class="nav-internal--breadcrumb__icon-arrow-right"></i>
            <span>Nieuws</span>
        </a>
    </p>

    <div class="document well">
        <div class="document-header group">
            <h1 class="document-title">Nieuws</h1>
            {% if is_granted('ROLE_ADMIN') %}
                <nav class="nav-internal">
                    <ul>
                        <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_news_add') }}"
                               class="primary">Toevoegen</a></li>
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div class="table">
            <table>
                <tbody>
                {% for item in pagination %}
                        <tr class="row-link">
                            <th><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_news_show', {'item': item.id}) }}">{{ item.title }}</a></th>
                            <td>{% if item.publishedAt %}{{ item.publishedAt|date('d-m-Y H:i') }}{% else %}Niet gepubliceerd{% endif %}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}