<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Schulddossier - Gemeente Amsterdam{% endblock %}</title>
        <meta name="viewport" content="width=device-width">

        <link type="text/css" rel="stylesheet" href="{{ asset('/css/screen.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('/vendor/jshjohnson/choices/assets/styles/css/choices.css') }}">
    
        <script type="text/javascript">!function(a){a.className=a.className.replace(/\bno-js\b/g,'js'),'ontouchstart'in window&&(a.className=a.className.replace(/\bno-touch\b/g,'touch'))}(document.documentElement)</script>

        <!-- TODO: USE FONTS FROM AMSTERDAM -->
        <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/0037f97b-b0f6-41de-8f33-75b12c9f76ea.css"/>
    </head>
    <body class="{% block body_classes %}{% endblock %}">
        
        <aside id="pdfsplitter" class="pdf-splitter accordion" data-decorator="droppable" data-changer="pdfsplitter">
            <div class="pages"></div>
            <label class="file-selector">
                <input type="file" name="file">
            </label>
        </aside>

        <p class="pdf-splitter-trigger">
          <a href="#pdfsplitter" data-handler="toggle"><i class="icon-splitsen"></i> Gescand document splitsen</a>
        </p>

        <header class="top">
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class="logo">
              <i class="icon-andreas"></i>Gemeente Amsterdam
              <strong>{% block page_title %}Schulddossier{% endblock %}</strong>
            </a>
            <div class="container">
              <div class="nav-container">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="#MENU" class="nav-open" data-handler="toggle"><i class="icon-menu"></i>Menu</a>
                <nav class="nav" id="MENU">
                  <ul class="menu">
                    <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}"{% if (app.request.attributes.get('_route') starts with 'gemeenteamsterdam_fixxxschuldhulp_appdossier_') %} class="active"{% endif %}>Dossiers</a></li>
                    <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldeiser_index') }}"{% if (app.request.attributes.get('_route') starts with 'gemeenteamsterdam_fixxxschuldhulp_appschuldeiser_') %} class="active"{% endif %}>Schuldeisers</a></li>
                    <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldhulpbureau_index') }}"{% if (app.request.attributes.get('_route') starts with 'gemeenteamsterdam_fixxxschuldhulp_appschuldhulpbureau_') %} class="active"{% endif %}>Schuldhulpbureaus</a></li>
                    <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appteam_index') }}"{% if (app.request.attributes.get('_route') starts with 'gemeenteamsterdam_fixxxschuldhulp_appteam_') %} class="active"{% endif %}>Teams</a></li>
                    <li class="divider"><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_index') }}"{% if (app.request.attributes.get('_route') starts with 'gemeenteamsterdam_fixxxschuldhulp_appgebruiker_') %} class="active"{% endif %}>Gebruikers</a></li>

                    {% if app.user %}
                      <li>
                        <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appsecurity_logout') }}">Afmelden <strong>({{ app.user.userName }})</strong></a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
{% endif %}
              </div>
            </div>
        </header>
        
        <div class="document-container">

{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-message flash-type-{{ type }}">
            <a class="btn" href="#close-flash">x</a>
            <span class="message">{{ message }}</span>
        </div>
    {% endfor %}
{% endfor %}

{% block document %}.{% endblock %}
        </div>
        <script type="text/javascript" src="{{ asset('/vendor/mozilla/pdf.js/build/pdf.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/vendor/mrrio/jspdf/dist/jspdf.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/vendor/jshjohnson/choices/assets/scripts/dist/choices.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/sortable.min.js') }}"></script>
        <!-- <script type="text/javascript" src="{{ asset('/vendor/bevacqua/dragula/dist/dragula.min.js') }}"></script> -->
        <script type="text/javascript" src="{{ asset('/vendor/bevacqua/horsey/dist/horsey.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/vendor/moment/moment/moment.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/vendor/moment/moment/locale/nl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/vendor/bevacqua/rome/dist/rome.standalone.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/polyfill.formData.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/common.js') }}"></script>
        <!-- <script type="text/javascript" src="{{ asset('/js/pdfSplitser.js') }}"></script> -->
        <!-- <script type="text/javascript" src="{{ asset('/js/formSubmit.js') }}"></script> -->
        <!-- <script type="text/javascript" src="{{ asset('/js/filesContainer.js') }}"></script> -->
        <!-- <script type="text/javascript" src="{{ asset('/js/accordion.js') }}"></script> -->
        <script type="text/javascript" src="{{ asset('/js/quickViewer.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/flashMessage.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('/js/scripts.js') }}"></script>
    </body>
</html>
