<!DOCTYPE html>
<html lang="nl" class="no-js no-touch">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Schulddossier - Gemeente Amsterdam{% endblock %}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="/favicon/favicon.ico">
        <link rel=“apple-touch-icon” sizes=“180x180" href=“/favicon/apple-touch-icon.png”>
        <link rel=“icon” type=“image/png” sizes=“32x32" href=“/favicon/favicon-32x32.png”>
        <link rel=“icon” type=“image/png” sizes=“16x16" href=“/favicon/favicon-16x16.png”>
        <link rel=“manifest” href=“/favicon/site.webmanifest”>
        <link rel=“mask-icon” href=“/favicon/safari-pinned-tab.svg” color=“#5bbad5">
        <meta name="msapplication-config" content="/favicon/browserconfig.xml">
        <meta name=“msapplication-TileColor” content=“#da532c”>
        <meta name=“theme-color” content=“#ffffff”>

        <link type="text/css" rel="stylesheet" href="{{ asset('/css/screen.css') }}">

        <script type="text/javascript">!function(a){a.className=a.className.replace(/\bno-js\b/g,'js'),'ontouchstart'in window&&(a.className=a.className.replace(/\bno-touch\b/g,'touch'))}(document.documentElement)</script>

        <!-- TODO: USE FONTS FROM AMSTERDAM -->
        <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/0037f97b-b0f6-41de-8f33-75b12c9f76ea.css"/>
    </head>
    <body class="{% block body_classes %}{% endblock %}" data-decorator="restore-splitter">

        {% block pdfsplitter %}
          <aside id="pdfsplitter" class="pdf-splitter no-header file-pdf-pages" data-decorator="droppable" data-changer="pdfsplitter">
              <div class="pages"></div>
              <label class="file-selector">
                  <input type="file" name="file" accept="application/pdf">
              </label>
              <div class="pdfsplitter__label">
                <a href="#pdfsplitter" data-handler="global-toggle" data-toggle-class="splitter-active" data-decorator="droppable"><i class="icon-splitsen"></i>pdf splitsen</a>
              </div>
          </aside>
        {% endblock %}

        <header class="top">
            <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}" class="logo">
              <i class="icon-andreas"></i>Gemeente Amsterdam
            </a>
            <div class="header__title">
              <strong>{% block page_title %}Schulddossier{% endblock %}</strong>
              {% if app_version.getEnv == 'dev' or app_version.getEnv == 'acceptance' %}<span>{{ app_version.getEnv }}: {% if app.user %}{{ app.user.userName }} / {{ app.user.getType }} / {% endif %}{{ app_version.getVersionId }}</span>{% endif %}
            </div>

              <div class="nav-container">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="#MENU" class="nav-open" data-handler="toggle"><i class="icon-menu"></i><span>Menu</span></a>
                <nav class="nav" id="MENU">
                  <ul class="menu">
                      {% block navigation_menu %}
                    {% if is_granted('ROLE_MADI') or is_granted('ROLE_GKA') or is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appdossier_index') }}"{% if (app.request.attributes.get('_route') starts with 'gemeenteamsterdam_fixxxschuldhulp_appdossier_') %} class="active"{% endif %}>Dossiers</a></li>
                        <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldeiser_index') }}"{% if (app.request.attributes.get('_route') starts with 'gemeenteamsterdam_fixxxschuldhulp_appschuldeiser_') %} class="active"{% endif %}>Schuldeisers</a></li>
                    {% endif %}
                    <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldhulpbureau_index') }}"{% if (app.request.attributes.get('_route') starts with 'gemeenteamsterdam_fixxxschuldhulp_appschuldhulpbureau_') %} class="active"{% endif %}>Schuldhulpbureaus</a></li>
                    <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appteam_index') }}"{% if (app.request.attributes.get('_route') starts with 'gemeenteamsterdam_fixxxschuldhulp_appteam_') %} class="active"{% endif %}>Teams</a></li>
                    <li class="divider"><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appgebruiker_index') }}"{% if (app.request.attributes.get('_route') starts with 'gemeenteamsterdam_fixxxschuldhulp_appgebruiker_') %} class="active"{% endif %}>Gebruikers</a></li>
                    {% if is_granted('ROLE_APPBEHEER') or is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_applog_index') }}"{% if (app.request.attributes.get('_route') starts with 'gemeenteamsterdam_fixxxschuldhulp_applog_') %} class="active"{% endif %}>Logs</a></li>
                    {% endif %}
                    {% if app.user %}
                      <li>
                        <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appsecurity_changepassword') }}">Wachtwoord aanpassen</a>
                        <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appsecurity_logout') }}">Afmelden <strong>({{ app.user.userName }})</strong></a>
                      </li>
                    {% endif %}
                      {% endblock %}
                  </ul>
                </nav>
{% endif %}
              </div>
        </header>

        <div class="document-container">

{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-message flash-type-{{ type }}">
            <a class="btn" href="#close-flash">x</a>
            <span class="message">{{ message }}</span>
        </div>
    {% endfor %}
{% endfor %}

{% block document %}.{% endblock %}
        </div>
        <script type="text/javascript" src="{{ asset('/vendor/mozilla/pdf.js/build/pdf.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/vendor/mrrio/jspdf/dist/jspdf.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/sortable.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/vendor/moment/moment/moment.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/vendor/moment/moment/locale/nl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/vendor/bevacqua/rome/dist/rome.standalone.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/common.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/quickViewer.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/flashMessage.js') }}"></script>

        <script type="text/javascript" src="{{ asset('/js/scripts.js') }}"></script>
    </body>
</html>
