{% extends 'master.html.twig' %}

{% block title %}Schuldhulpbureau - {{ parent() }}{% endblock %}

{% block pdfsplitter %}{% endblock %}

{% block document %}
    <nav class="nav-internal">
        <ul>
            <li>Schuldhulpbureaus</li>
            {% if is_granted('ROLE_APPBEHEER') or is_granted('ROLE_ADMIN') %}<li><a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldhulpbureau_create') }}">Nieuw schuldhulpbureau</a></li>{% endif %}
        </ul>
    </nav>

    <div class="document well">
        <div class="document-header">
            <h1 class="document-title">Schuldhulpbureau</h1>
        </div>
        {% if is_granted('ROLE_APPBEHEER') == false and is_granted('ROLE_ADMIN') == false %}
            <p>Alleen applicatie beheerders kunnen nieuwe schuldhulpbureaus toevoegen en bestaande schuldhulpbureaus wijzigen</p>
        {% endif %}
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                    </tr>
                </thead>
                <tbody>
{% for schuldhulpbureau in schuldhulpbureaus %}
                    <tr>
                        <th>
                            {% if is_granted('ROLE_APPBEHEER') or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldhulpbureau_update', {'schuldhulpbureauId': schuldhulpbureau.id}) }}">{{ schuldhulpbureau.naam }}</a>
                            {% else %}
                                {{ schuldhulpbureau.naam }}
                            {% endif %}
                        </th>
                    </tr>
{% endfor %}
               </tbody>
            </table>
        </div>
        {% if pagination.numberOfPages > 1 %}
          <div class="pagination">
              {% if pagination.page <= 0 %}
              <span class="prev">vorige</span>
              {% else %}
              <a class="prev" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldhulpbureau_index', {'page': pagination.page - 1}) }}">vorige</a>
              {% endif %}
              <span>pagina {{ pagination.page + 1 }} van {{ pagination.numberOfPages }}</span>
              {% if (pagination.page + 1) >= pagination.numberOfPages %}
              <span class="next">volgende</span>
              {% else %}
              <a class="next" href="{{ path('gemeenteamsterdam_fixxxschuldhulp_appschuldhulpbureau_index', {'page': pagination.page + 1}) }}">volgende</a>
              {% endif %}
          </div>
        {% endif %}
    </div>
{% endblock %}